/*
A - Timer
B - Step
C - Variable
D - Call
E - If.. else
F - For
G - While

H - Switch
I - Case

Unpack the ZIP file, open CodingFont-demo.html with your browser and you can see the font in different sizes... In Glyphs and Languages tab you can see the codes, but you can use capital letters above as well.
In tab Installing Web fonts you'll see detailed instructions how to use the font (do not forget to use the real css code from stylesheet.css instead sample one!).
Or in few steps:
- copy the content of stylesheet.css on top of your other CSS.
- then bellow you can use the font in any element like this:
body{
font-family: 'codingfontregular';
}
*/
@import url(../../fonts/stylesheet.css);
.Driver .Accordion .widgetContainer {
  background: initial;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 13px; }
  .Driver .Accordion .widgetContainer .checkbox {
    margin-top: 4px;
    margin-bottom: 4px; }
  .Driver .Accordion .widgetContainer .form-control {
    padding-top: 4px;
    padding-bottom: 4px;
    height: initial; }

.Driver .tabbable .tab-content {
  background-color: #333333; }

.Driver .bloxEditor .tab-content {
  background-color: #333333; }

.xBloxIcon {
  font-family: codingfontregular;
  font-size: 18px;
  margin-right: 4px;
  color: #C0C0C0;
  font-weight: normal; }

.xbloxPropertyView {
  min-width: 380px !important; }

.blockGrid .field-order {
  width: 40px;
  background: rgba(173, 173, 173, 0.65);
  text-align: left; }

.blockGrid .field-name {
  width: 99%; }

.blockGrid .field-value {
  width: 20%; }

.bloxGridView {
  padding: 0px !important;
  min-height: 400px;
  width: inherit !important; }

.bloxEditor {
  overflow: hidden;
  height: inherit; }

.bloxEditor .dijitTitlePane {
  height: inherit; }

.bloxEditor .dijitValidationTextBox {
  width: inherit;
  color: black; }

.bloxEditor .dijitTextBox {
  width: inherit; }

.bloxEditor .dijitTitlePaneTitleFocus {
  float: left;
  margin-top: 8px;
  margin-left: 8px; }

.bloxEditor .actionTogglePaneHeader {
  min-height: 26px;
  padding: 0 7px 3px; }

.bloxGridView .dijitValidationTextBox {
  width: inherit;
  color: black; }

.bloxGridView .dijitTextBox {
  width: 100%; }

.bloxGridView .dijitTitlePaneTitleFocus {
  float: left;
  margin-top: 8px; }

.bloxGridView .field-title {
  width: 25%;
  padding-left: 5px; }

.bloxGridView .field-order {
  width: 30px; }

.bloxGridView .field-name {
  width: 25%;
  padding-left: 5px; }

.bloxGridView .field-value {
  width: 50%;
  padding-left: 5px; }

.bloxGridView .field-target {
  width: 25%;
  padding-left: 15px; }

.bloxGridView .dgrid-focus {
  outline-offset: 0px; }

.activeBlock {
  background-color: #a9a9a9 !important;
  background-image: none !important;
  color: #ffffff !important; }

.successBlock {
  background-color: #006400 !important;
  background-image: none !important;
  color: #ffffff !important; }

.disabledBlock {
  opacity: 0.5; }

.failedBlock {
  background-color: darkred !important;
  background-image: none !important;
  color: #ffffff !important; }

.blockExpressionSymbolButton {
  border: 1px #a9a9a9 solid;
  border-radius: 2px;
  margin-right: 2px !important; }

.expressionGridView .dgrid {
  min-height: inherit; }

.expressionEditor .layoutTop {
  height: 120px; }

.blocksEditorPane {
  overflow: hidden; }

.jsonEditorWidgetContainer {
  padding: 0.0em;
  overflow-x: hidden;
  overflow-y: auto;
  /*background-color: white;*/
  background-size: 100% 100%;
  background-position: 0 -104px;
  max-width: 1280px; }

.jsonEditorWidget {
  vertical-align: middle;
  /*background-color: white;*/
  width: 100%;
  overflow-y: visible;
  overflow-x: hidden; }

div.jsoneditor-select {
  z-index: 5000; }
