.dndImage {
  display: block;
  height: auto;
  width: 100%;
  max-height: 150px;
  max-width: 150px;
  overflow: hidden; }

.dojoDndAvatar .dgrid-selected {
  box-shadow: none !important; }

.dojoDndAvatar .dgrid-focus {
  outline: none; }

.dojoDndContainerOver {
  cursor: move !important;
  /*border: 1px solid red !important;*/
  /*border: 3px solid #aaa;*/
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.dojoDndTargetDisabled {
  background: #eee; }

.dojoDndItemOver {
  cursor: normal; }

.dojoDndItem {
  /*padding: 2px;*/
  /* Prevent magnifying-glass text selection icon to appear on mobile webkit as it causes a touchout event */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  /* Disable selection/Copy of UIWebView */ }

.dj_ff2 .dojoDndItem {
  -moz-user-select: none;
  /* workaround FF2 dragging bug, see #6345, #4854, #6350 */ }

.dojoDndItemOver {
  /*background: red !important;*/
  cursor: pointer; }

.dojoDndItemSelected {
  /*background: #ccf;*/
  color: #444; }

.dojoDndItemAnchor {
  /*background: #ccf;*/
  /*color: black;*/ }

.dojoDndItemOver .dojoDndItemSelected {
  /*background: #ededed !important;*/ }

.dojoDndItemOver .dojoDndItemAnchor {
  /*background: #ededed !important;*/ }

.dojoDndItemBefore {
  border-top: 2px solid rgba(74, 156, 230, 0.72) !important;
  background-color: rgba(255, 0, 0, 0.54) !important; }

.dojoDndItemHover {
  /*border-top: 3px solid #9ae644 !important;
  border-bottom: 3px solid #9ae644 !important;*/
  color: rgba(0, 128, 0, 0.68) !important;
  font-weight: bolder !important; }

.dojoDndItemAfter {
  border-bottom: 3px solid #369 !important; }

.dojoDndAvatar {
  /*border: 2px solid #ccc;*/
  border: 1px dashed rgba(255, 255, 255, 0.1);
  /*font-size: 75%;*/
  -moz-border-radius: 8pt 8pt;
  radius: 8pt;
  max-width: 300px;
  background: rgba(51, 51, 51, 0.1);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*color: $opaque-light;*/
  /*color: white;*/
  /*max-height: 150px;*/ }

.dojoDndAvatarHeader {
  background: #aaa; }

.dojoDndAvatarItem {
  /*background: #fff;*/
  border-bottom: 1px solid #666; }

/**************************************************************************/
/**   From Dijit/Commons                                                  */
/* Drag and Drop */
/*
.dojoDndItem {
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color, border-color, opacity;
  -moz-transition-property: background-color, border-color, opacity;
  -o-transition-property: background-color, border-color, opacity;
  -ms-transition-property: background-color, border-color, opacity;
  transition-property: background-color, border-color, opacity;
}
*/
.dojoDndItemOver {
  /*background: #f5f5f5;*/
  /*-webkit-border-radius: 2px;
  border-radius: 2px;*/ }

.dojoDndItemAnchor {
  /*background: transparent;
  /*border: 1px dashed #007ac2;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  */ }

.dojoDndItemBefore {
  /*background: transparent;*/
  padding-top: 2px;
  border-top: 1px solid #007ac2; }

.dojoDndItemAfter {
  /*background: transparent;*/
  padding-bottom: 2px;
  border-bottom: 1px solid #007ac2; }

/* Avatar */
table.dojoDndAvatar {
  display: block; }

.dojoDndAvatarHeader td {
  display: none; }

.dojoDndAvatarHeader:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-decoration: inherit;
  vertical-align: bottom;
  display: table-cell; }

.dojoDndMove .dojoDndAvatarHeader:before {
  color: #da4d1e;
  content: "\f05e"; }

.dojoDndCopy .dojoDndAvatarHeader:before {
  color: #da4d1e;
  content: "\f05e"; }

.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader:before {
  color: #35ac46;
  content: "\f060"; }

.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader:before {
  color: #35ac46;
  content: "\f060"; }

.dojoDndAvatarItem {
  /*-webkit-border-radius: 2px;
  border-radius: 2px;*/
  outline: none !important; }

.dojoDndAvatarItem td {
  /*padding: 2px 4px;*/ }

.dojoDndAvatarItem td > * {
  /*background: #fff;*/
  /*-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.25);*/
  /*box-shadow: 0 3px 3px rgba(0,0,0,0.25);*/ }
