.logGridView .field-level {
  width: 50px;
  text-align: left;
  text-transform: capitalize;
  padding-left: 2px !important; }

.logGridView .field-type {
  width: 59px;
  text-align: left; }

.logGridView .field-host {
  width: 15%; }

.logGridView .field-details {
  width: 40%; }

.logGridView .field-timeStr {
  width: 14%; }

.logGridView .field-time {
  width: 14%; }

.logGridView .field-message {
  width: 20%; }
