.ribbon_block_base {
  margin: 3px 0px 3px 3px;
  float: left;
  overflow: hidden;
  position: relative; }

.ribbon_block_base .ribbon_block_items {
  float: left;
  padding: 2px 0px;
  overflow: hidden; }

.ribbon_block_base > .ribbon_block_label {
  height: 19px;
  line-height: 18px;
  *height: auto;
  *line-height: 1em; }

.ribbon_block_base .ribbon_block_label {
  text-align: center;
  clear: left;
  background-color: #ebebeb;
  *font-size: 12px;
  *padding: 1px 3px 3px;
  font-size: 14px;
  color: #404040; }

.ribbon_block_base .ribbon_block_label_fixed {
  text-align: center;
  clear: left;
  background-color: #ebebeb;
  *font-size: 12px;
  *padding: 1px 3px 3px;
  font-size: 14px;
  color: #404040;
  position: absolute;
  bottom: 0;
  width: 100%; }

.ribbon_tabbar {
  /*background-color: #fafafa;*/ }

.ribbon_big_button {
  margin: 1px 3px;
  float: left;
  text-align: center;
  padding: 4px 10px;
  height: 82px;
  /*border: 1px solid #fafafa;
  background-color: #fafafa;*/
  font-size: 14px;
  color: #404040; }

.ribbon_3rows_block {
  float: left;
  margin: 0px 3px;
  overflow: hidden;
  position: relative; }

.ribbon_3rows_block .ribbon_invisible {
  display: none; }

.ribbon_3rows_button {
  height: 25px;
  margin: 1px 0px;
  float: left;
  clear: left;
  padding: 1px 8px;
  font-size: 14px;
  color: #404040;
  width: 100%; }

.ribbon_3rows_button:hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer; }

.ribbon_3rows_button.disabled > * {
  opacity: 0.2; }

.ribbon_dropdown {
  padding-left: 6px;
  padding-right: 15px;
  margin: 1px 0px; }

.xPopup.ActionToolbar .dropdown-menu > a:hover, .ActionRibbonToolbar .dropdown-menu > a:hover {
  color: inherit; }

.ribbonToolbar {
  /*  Hide arrow */ }
  .ribbonToolbar .dropdown-submenu > a:after {
    /*display: none;*/ }

.ribbonToolbar .action-checkbox {
  margin-left: 8px; }
