.cssPropertySection .selectize-input {
  padding: 3px;
  min-height: initial;
  white-space: pre-line; }

.cssPropertySection .selectize-control.single .selectize-input:after {
  right: 4px; }

.propertyDisplayName {
  font-size: 13px; }

.cascadeBackButtonDiv BUTTON {
  background-color: inherit; }
