/*!
 * Web Cabin Docker - Docking Layout Interface.
 *
 * Dependancies:
 *  JQuery 1.11.1
 *
 * Version: git-master
 *
 * Author: Jeff Houde (lochemage@webcabin.org)
 * Web: http://docker.webcabin.org/
 *
 * Licensed under
 *   MIT License http://www.opensource.org/licenses/mit-license
 *   GPL v3 http://opensource.org/licenses/GPL-3.0
 *
 */
/*
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0
}
*/

.wcTabIcon{
    margin-right: 6px;
}

.wcDocker {
  /*background-color: #515151;*/
  /*color: #909090;*/
}

.wcModalBlocker {
  /*background-color: black;*/
  opacity: 0.8;
}

.wcPanelBackground {
  /*background-color: #222;*/
}

.wcPanelBackground .wcCenter {
  /*background-color: darkgray;*/
}

.wcFrameFlasher {
  background-color: white;
}

.wcFrameShadower {
  background-color: white;
}

.wcFrameTitleBar {
  height: 30px;
  /*background-color: #333;*/
}


.wcFrameTitle {
  /*background-color: #333;*/
  /*border-bottom: 4px solid rgba(192, 88, 1, 1);*/
  /*color: rgba(192, 88, 1, 1);*/
  height: 30px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 3px;
  text-align: center;
}

.wcFrameButtonBar {
  height: 30px;
}

.wcFrameButton {
  /*background-color: #333;*/
  border: none;
  /*color: #aaa;*/
  font-size: 20px;
  height: 23px;
  width: 23px;
}


.wcFrameButton:hover {
  /*background-color: #333;*/
  border: none;
  /*color: #fff;*/
}

.wcFrameCenter {
  top: 30px;
}

.wcLayoutGrid, .wcLayoutGrid tr, .wcLayoutGrid td {
  border: 1px solid #555555;
}

.wcLayoutGridAlternate tr:nth-child(even), .wcLayoutGridAltColor {
  /*background-color: rgba(200, 200, 200, 0.2) !important;*/
}

.wcPanelTab:before{
    position: absolute;
    display: block;
    content: "";

}

.wcPanelTab {
  /*color: rgba(182, 182, 182, 1);*/
  /*background-color: rgba(89, 89, 89, 1);*/
    /*
  border: 1px solid rgba(165, 75, 0, 1);
  border-radius: 2px 2px 0px 0px;
  border-bottom: 0px;
  box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.3);
  margin-right: 1px;
  margin-top: 6px;
  font-size: 14px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2.5px;
  padding-bottom: 0px;
    */

    margin-right: -1px;
    padding: 4px 16px;
    top: 4px;
    vertical-align: bottom;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d0d0d0;
    position: relative;
    text-align: center;
    transition-duration: 0.2s;
    transition-property: background, padding, margin;
    transition-timing-function: ease;
    cursor: pointer;
    white-space: nowrap;
    z-index: 3;
}

.wcPanelTab:hover {

}

.wcPanelTabActive:before {
    background: none repeat scroll 0 0 #007ac2;
    height: 2px;
    left: -1px;
    right: -1px;
    top: -1px;
}

.wcPanelTabActive {
  /*color: #FFE4D0 !important;*/
    /*
  background-color: rgba(192, 88, 1, 1) !important;
  box-shadow: 0px 5px 20px #000;*/
    /*
  height: 30px;
  margin-top: 1px !important;
  padding-top: 2.5px;
    */
}

.wcPanelTabActive:hover {
  padding-top: 2.5px;
}

.wcCollapserFrame .wcPanelTab {
  /*background-color: #333;*/
  /*color: rgba(107, 107, 107, 1);*/
  border: 1px solid #444;
  margin-left: 5px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.wcCollapserFrame .wcPanelTab:hover {
  background-color: #555;
  color: #d2d2d2;
}

.wcFrame {
    /*background-color: #ffffff;*/
}
.wcFrameEdge {
  position: absolute;
  z-index: 2;
  border: 2px outset #444;
  background-color: #222;
}

.wcSplitterBar {
  /*background-color: #515151;*/
}

.wcSplitterBarV {
  transition: opacity 200ms ease;
    /*
  background: -webkit-gradient(linear, left top, left bottom, from(#505050), to(#383838));
  background: -webkit-linear-gradient(left, #505050, #383838);
  background: linear-gradient(to right, #505050, #383838);
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAhCAQAAABOpSL+AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAoSURBVCjPY7jPYVpxnwFBMtwXMv1/H4lkYkADowIjSuAHQwcDA4IEAIImE2aDUcP1AAAAAElFTkSuQmCC') #515151 center center no-repeat;*/
  /*border: 1px solid black;*/
  /*
    border-left: 1px solid rgb(139, 139, 139);
  border-right: 1px solid #515151;
  outline: 1px outset rgb(40, 40, 40);*/
  width: 7px
}

.wcSplitterBarH {
  transition: opacity 200ms ease;
    /*
  background: -webkit-gradient(linear, left top, left bottom, from(#505050), to(#383838));
  background: -webkit-linear-gradient(top, #505050, #383838);
  background: linear-gradient(to bottom, #505050, #383838);
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAICAQAAADdTl4aAAAAIUlEQVR4AWMwrTD9TxFsZ7jPcV+IIsjFcJ9iSFWPjHoEAEtWCqrThG9qAAAAAElFTkSuQmCC') #515151 center center no-repeat !important;*/
  /*border: 1px solid black;*/
    /*
  border-right: 1px solid #515151;
  border-top: 1px outset rgb(139, 139, 139);
  outline: 1px inset #515151;*/
  height: 7px
}

.wcSplitterBarStatic {
  width: 0px;
  height: 0px;
}

.wcGhost {
  background-color: #666;
  border: 2px dashed rgba(192, 88, 1, 1) !important;
  border-radius: 6px;
}

.wcMenuList, .context-menu-list {
  border: 1px solid #111;
}

.wcMenuItem, .context-menu-item, .context-menu-list {
  color: rgba(192, 88, 1, 1);
  background-color: #333;
}

.wcMenuItemHover, .wcMenuItem:hover, .context-menu-item.hover {
  background-color: #444;
}

.wcMenuItem.disabled, .context-menu-item.disabled {
  color: #333;
  background-color: #444;
}

.wcMenuSeparator, .context-menu-separator {
  border: 2px solid #444;
  background-color: #777;
}

.wcLoadingBackground {
  /*background-color: rgba(55, 55, 55, 0.4);*/
  background-color: rgba(55, 55, 55, 1);
}

/*.wcLoadingBackgroundSolid {
  background-color: rgba(55, 55, 55, 1);
}*/

.wcLoadingIcon {
  color: rgb(219, 110, 18);
  font-size: 150px;
  position: absolute;
  top: calc(50% - 100px);
  left: 50%;
  height: 150px;
}

.wcLoadingLabel {
  color: rgb(219, 110, 18);
}

.wcLoadingLabel:after {
  content: '. . .';
  -webkit-animation: color-change 1s infinite;
  -moz-animation: color-change 1s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 1s infinite;
}
@-webkit-keyframes color-change {
  0% { color: rgb(219, 110, 18); }
  25% { color: rgb(202, 101, 18); }
  50% { color: rgb(176, 88, 18); }
  75% { color: rgb(202, 101, 18); }
  100% { color: rgb(219, 110, 18); }
}
@-moz-keyframes color-change {
  0% { color: rgb(219, 110, 18); }
  25% { color: rgb(202, 101, 18); }
  50% { color: rgb(176, 88, 18); }
  75% { color: rgb(202, 101, 18); }
  100% { color: rgb(219, 110, 18); }
}
@-ms-keyframes color-change {
  0% { color: rgb(219, 110, 18); }
  25% { color: rgb(202, 101, 18); }
  50% { color: rgb(176, 88, 18); }
  75% { color: rgb(202, 101, 18); }
  100% { color: rgb(219, 110, 18); }
}
@-o-keyframes color-change {
  0% { color: rgb(219, 110, 18); }
  25% { color: rgb(202, 101, 18); }
  50% { color: rgb(176, 88, 18); }
  75% { color: rgb(202, 101, 18); }
  100% { color: rgb(219, 110, 18); }
}
@keyframes color-change {
  0% { color: rgb(219, 110, 18); }
  25% { color: rgb(202, 101, 18); }
  50% { color: rgb(176, 88, 18); }
  75% { color: rgb(202, 101, 18); }
  100% { color: rgb(219, 110, 18); }
}
/*
.wcInput, input {
  vertical-align: middle;
  border: 1px solid black;
}

.wcSelect, select {
  border: 1px solid black;
}

.wcButton, button {
  border: 1px outset #777;
  background-color: #777;
  line-height: 1em;
}
*/
.wcButtonHover, .wcButton:hover, button:hover {
  border: 1px outset #999;
  background-color: #999;
}

.wcButtonActive, .wcButton:active, button:active {
  border: 1px inset #666;
  background-color: #666;
}

.wcButtonActive.wcButtonHover, .wcButton:hover.wcButtonActive, .wcButton:active.wcButtonHover, .wcButton:active:hover, button:active:hover {
  border: 1px inset #999;
  background-color: #999;
}

.wcButtonDisabled, .wcButton.disabled, button:disabled {
  border: 1px outset #666 !important;
  background-color: #666 !important;
  color: #555 !important;
}

.wcButton:focus, button:focus {
  outline: 0px;
}