.options-menu {
  z-index: 9999;
  /*background-color: #2E2E2E;*/
  border: 3px solid #666666;
  border-radius: 2px;
}
.AceEditorPane {
  border: none medium;
}
.AceEditorPaneFullScreen {
  width: 100% !important;
  height: 100% !important;
  border: none medium;
}
.ace_editor {
  /*width: inherit !important;*/
  width: inherit;
}
.options-menu li {
  border-bottom: 1px solid black;
  padding: 0;
}
.options-menu li a {
  display: block;
  /*color: #7F7F7F;*/
  text-decoration: none;
  padding: 4px;
  cursor: pointer;
}
.options-menu li:hover {
  background-color: #7F7F7F;
}
.options-menu li:hover a {
  /*color: white;*/
}
.options-menu td {
  padding: 0;
  margin: 0;
}
.unsavedContent {
  border-color: red !important;
}
.acediff-gutter {
  /*background-color: #efefef;*/
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  flex: 0 0 60px;
  overflow: hidden;
  width: 60px;
  height: inherit;
  position: absolute;
  -moz-box-sizing: border-box;
}
.acediff-gutter svg {
  /*background-color: #efefef;*/
}
#flex-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  top: 0px !important;
  left: 0px;
  /* these 3 lines are to prevents an unsightly scrolling bounce affect on Safari */
  height: 100%;
  width: 100%;
  overflow: auto;
}
#flex-container > div {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  position: relative;
}
#flex-container > div#acediff-gutter {
  flex: 0 0 60px;
  -webkit-flex: 0 0 60px;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  /*background-color: #efefef;*/
  overflow: hidden;
}
#acediff-gutter svg {
  /*background-color: #efefef;*/
}
#acediff-left-editor {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#acediff-right-editor {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.acediff-diff {
  background-color: rgba(216, 242, 255, 0.32);
  border-top: 1px solid rgba(162, 215, 242, 0.54);
  border-bottom: 1px solid rgba(162, 215, 242, 0.51);
  position: absolute;
  z-index: 4;
}
.acediff-diff.targetOnly {
  height: 0px !important;
  border-top: 1px solid #a2d7f2;
  border-bottom: 0px;
  position: absolute;
}
.acediff-connector {
  fill: rgba(216, 242, 255, 0.5);
  stroke: #a2d7f2;
}
.acediff-copy-left {
  float: right;
}
.acediff-copy-right,
.acediff-copy-left {
  position: relative;
}
.acediff-copy-right div {
  margin-top: -2px;
  /*color: #000000;*/
  /*text-shadow: 1px 1px #ffffff;*/
  position: absolute;
  /*margin: 2px 3px;*/
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
}
.acediff-copy-right div:hover {
  color: #004ea0;
}
.acediff-copy-left div {
  /*color: #000000;*/
  /*text-shadow: 1px 1px #ffffff;*/
  margin-top: -2px;
  position: absolute;
  right: 0px;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
}
.acediff-copy-left div:hover {
  color: #c98100;
}
