util.print: Use console.log instead
.CIDialogRoot .dijitDialogPaneContent,
.CIView {
  /*padding: 0px !important;*/
}
/***
  Reset standard CI Widget Containers
*/
.CIDialog .widgetContainer {
  width: 99%;
  min-width: inherit;
  margin: 2px;
}
/***
  Hide empty standard CI extension slots
*/
.CIDialog .extension:empty {
  display: none;
  width: 0px;
}
/***
  Stretch form fields to the parents full width
*/
.CIDialog .dijitTextBox {
  width: 90%;
  margin-bottom: 4px;
}
.CIView .dijitTextBox {
  /*margin-bottom: 4px;*/
  width: auto;
  margin-right: 8px;
}
.CIDialog .dijitSelect {
  margin-bottom: 4px;
  width: auto!important;
}
.CIDialog .dijitCheckBox {
  /*margin-bottom: 4px;*/
}
.CIView .dijitCheckBox {
  /*margin-bottom: 4px;*/
}
.CIView .dijitSelect {
  margin-bottom: 4px;
  width: auto!important;
}
.CIDialog .widgetTitle {
  /*min-width: 75px !important;*/
}
.widgetTitle {
  /*color: #FFFFFF;
  font-weight: normal;
  min-width: 130px;*/
}
.CIDialog .widgetTable {
  padding-left: 0px;
  padding-right: 0px;
}
.CIDialog .widgetValue {
  max-width: inherit;
  min-width: 50px !important;
}
.CIView .simpleText {
  margin: 8px 4px;
  display: block;
}
/***
  CIView adjustments
*/
