@import "../mixins/variables";

/***
  Loading Progress Indicator with some animation
*/
.loadingWrapper{
  height: 100%;
  position: absolute;
  z-index: 999999;
  width: 100%;
  top:36%;
  display: inline-block;

}



.loadingCircle {
  position: relative;
  width: 72px !important;    /* diameter */
  height: 72px !important;    /* diameter */
  margin: 0 auto !important;
}
.loadingWrapper .outer, .inner, .loadingCircle:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}


/* Mask */
.loadingCircle:after {
  margin: 10%;    /* stroke width */
  border-radius: 100%;
  background: #888;    /* container background */
  color: #FFFFFF;
  content: "Loading";
  font-size: 10px;
  padding-top: 21px;
  text-align: center;
}
/* Spinning gradients */
.loadingWrapper .outer, .inner {
  animation-duration: 5s;    /* speed */
  -webkit-animation-duration: 5s;    /* speed */
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}
.loadingWrapper .outer {
  animation-name: rotate-outer;
  -webkit-animation-name: rotate-outer;
}
.loadingWrapper .inner {
  animation-name: rotate-inner;
  -webkit-animation-name: rotate-inner;
}
/* Halfs */
.loadingWrapper .outer:before, .inner:before, .outer:after, .inner:after {
  position: absolute;
  top: 0;
  bottom: 0;
  content:" ";
}
/* Left half */
.loadingWrapper .loadingWrapper .outer:before, .inner:before {
  left: 0;
  right: 50%;
  border-radius: 72px 0 0 72px;    /* diameter */
}
/* Right half */
.loadingWrapper .outer:after, .inner:after {
  left: 50%;
  right: 0;
  border-radius: 0 72px 72px 0;    /* diameter */
}
/* Half gradients */
.loadingWrapper .outer:before {
  background-image: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0.0), hsla(0, 0%, 100%, 0.5));
  background-image: -moz-linear-gradient(top, hsla(0, 0%, 100%, 0.0), hsla(0, 0%, 100%, 0.5));
  background-image: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.0), hsla(0, 0%, 100%, 0.5));
}
.loadingWrapper .outer:after {
  background-image: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 1.0), hsla(0, 0%, 100%, 0.5));
  background-image: -moz-linear-gradient(top, hsla(0, 0%, 100%, 1.0), hsla(0, 0%, 100%, 0.5));
  background-image: linear-gradient(to bottom, hsla(0, 0%, 100%, 1.0), hsla(0, 0%, 100%, 0.5));
}
.loadingWrapper .inner:before {
  background-image: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 75%, 0.5));
  background-image: -moz-linear-gradient(top, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 75%, 0.5));
  background-image: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 75%, 0.5));
}
.loadingWrapper .inner:after {
  background-image: -webkit-linear-gradient(top, hsla(0, 0%, 50%, 0.5), hsla(0, 0%, 75%, 0.5));
  background-image: -moz-linear-gradient(top, hsla(0, 0%, 50%, 0.5), hsla(0, 0%, 75%, 0.5));
  background-image: linear-gradient(to bottom, hsla(0, 0%, 50%, 0.5), hsla(0, 0%, 75%, 0.5));
}
/* Spinning animations */
@keyframes rotate-outer {
  0% {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
  }
}
@-webkit-keyframes rotate-outer {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
  }
}
@keyframes rotate-inner {
  0% {
    transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
  }
  100% {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}
@-webkit-keyframes rotate-inner {
  0% {
    -webkit-transform: rotate(720deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
