/*
 * Ribbon
 * State-of-the-art Ribbonbar UI
 * @version 4.3.0
 * @namespace window.AcidJs
 * @class Ribbon
 * @requires jQuery
 * @developer Martin Ivanov
 * @url component page: http://ribbonjs.com/
 * @url developer website: http://wemakesites.net/
 * @url developer twitter: https://twitter.com/wemakesitesnet
 * @url developer blog: http://martinivanov.net/
 **/

.acidjs-ui-ribbon img,
.acidjs-ui-ribbon .acidjs-ribbon-generic-dropdown,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool span,
.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown a,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-strip,
.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown img,
.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown span,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-dropdown,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-buttons,
.acidjs-ui-ribbon .acidjs-ui-ribbon-file-tab-menu,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-buttons li,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-strip > li,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-small > div:first-child,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker > div:first-child,
.acidjs-ui-ribbon .acidjs-ribbon-arrow,
.acidjs-ui-ribbon .acidjs-ribbon-arrow::before,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-small > div:first-child img,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-separator,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-checkbox,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-radios
{
    display: inline-block;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool img,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool span,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-strip,
.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown img,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-dropdown,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-strip > li,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-ribbons > ul > li,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-dropdown > div:first-child a,
.acidjs-ui-ribbon .acidjs-ribbon-arrow::before,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-checkbox,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-radios
{
    vertical-align: top;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-ribbons > ul > li::after,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button .acidjs-ui-ribbon-dropdown ul::before,
.acidjs-ui-ribbon .acidjs-ribbon-arrow::before,
.acidjs-ui-ribbon [data-tool*="-dropdown"] .acidjs-ui-ribbon-dropdown ul::before
{
    content: "";
}

.acidjs-ui-ribbon,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tabs,
.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-dropdown > div:first-child a
{
    /*background: #fff;*/
}

.acidjs-ui-ribbon p,
.acidjs-ui-ribbon textarea,
.acidjs-ui-ribbon input[type="text"],
.acidjs-ui-ribbon input[type="password"]
{
    /*
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
    */
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown a,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-dropdown,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-ribbons > ul > li,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button .acidjs-ui-ribbon-dropdown ul,
.acidjs-ui-ribbon [data-tool*="-dropdown"] .acidjs-ui-ribbon-dropdown ul,
.acidjs-ui-ribbon [data-tool*="-dropdown"] .acidjs-ui-ribbon-dropdown label
{
    position: relative;
}

.acidjs-ui-ribbon .acidjs-ribbon-generic-dropdown > div:first-child,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool,
.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown a,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker > div:first-child,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-small > div:first-child,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-large > div:first-child,
.acidjs-ui-ribbon [data-tool*="-dropdown"] .acidjs-ui-ribbon-dropdown label
{
    border: solid 1px transparent;
}

.acidjs-ui-ribbon .acidjs-ribbon-generic-dropdown:hover > div:first-child,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker:hover > div:first-child,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool:not(.acidjs-ui-tool-active):hover,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-buttons a,
.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown a:hover,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-dropdown:hover > div:first-child .acidjs-ribbon-arrow,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-small:hover div:first-child,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-large:hover > div:first-child,
.acidjs-ui-ribbon [data-tool*="-dropdown"] .acidjs-ui-ribbon-dropdown label:hover,
.acidjs-ui-ribbon [data-tool="dropdown"] a.acidjs-ui-ribbon-tool-selected,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button .acidjs-ui-ribbon-tool-selected
{
    /*
    border-color: #f1ca58;
    box-shadow: 0 0 1px 1px #fff inset;
    background: #fde38a;*/
    /*background: linear-gradient(#fdeeb3, #fde38a, #fdefbb);*/
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown a:not(.acidjs-ui-ribbon-tool-selected):focus
{
    /*background: rgba(253, 239, 187, .5);*/
    /*border-color: rgba(241, 202, 88, .5);*/
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker ul li a.acidjs-ui-ribbon-tool-selected
{
    /*
    box-shadow: 0 0 0 1px #ffe294 inset;
    border-color: #ef4810;*/
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown a,
.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown span,
.acidjs-ui-ribbon .acidjs-ribbon-generic-dropdown > div:first-child img,
.acidjs-ui-ribbon .acidjs-ribbon-generic-dropdown > div:first-child span,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-small > div:first-child img,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-small .acidjs-ribbon-arrow,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker .acidjs-ribbon-arrow::before,
.acidjs-ui-ribbon .acidjs-ribbon-generic-dropdown .acidjs-ribbon-arrow,
.acidjs-ui-ribbon .acidjs-ribbon-generic-dropdown .acidjs-ribbon-arrow::before
{
    vertical-align: middle;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool,
.acidjs-ui-ribbon .acidjs-ribbon-generic-dropdown > div:first-child,
.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button > div:first-child,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker > div:first-child,
.acidjs-ui-ribbon [data-tool*="-dropdown"] .acidjs-ui-ribbon-dropdown label
{
    border-radius: 3px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown a,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-ribbons,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-dropdown > div:first-child
{
    width: 100%;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-dropdown a,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button a span,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-strip a span,
.acidjs-ui-ribbon .acidjs-ribbon-generic-dropdown span
{
    font-size: .7em;
    color: #3b3b3b;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown a,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-buttons
{
    white-space: nowrap;
}

.acidjs-ui-ribbon .acidjs-ribbon-arrow
{
    text-align: center;
}

.acidjs-ui-ribbon .acidjs-ribbon-arrow::before
{
    border: solid 4px transparent;
    border-top: solid 4px #5e5843;
    width: 0;
    height: 0;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-ribbons > ul > li,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-dropdown > div:first-child a,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-dropdown > div:first-child .acidjs-ribbon-arrow
{
    display: table-cell;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-ribbons > ul > li h6,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-large > div:first-child
{
    text-align: center;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-large > div:first-child a,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-large > div:first-child span,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-large .acidjs-ribbon-arrow
{
    display: block;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown,
.acidjs-ui-ribbon [data-tool*="-dropdown"] .acidjs-ui-ribbon-dropdown ul::before,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-ribbons > ul > li::after,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button .acidjs-ui-ribbon-dropdown ul::before
{
    position: absolute;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown.acidjs-ui-ribbon-dropdown-open,
.acidjs-ui-ribbon .acidjs-ribbon-arrow:hover
{
    opacity: 1;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-ribbons,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-dropdown > div:first-child,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-content .acidjs-ui-ribbon-tab-ribbons.acidjs-ui-ribbon-tool-selected
{
    display: table;
}

.acidjs-ui-ribbon,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-buttons a[disabled],
.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-buttons .acidjs-ui-ribbon-tool-selected
{
    cursor: default;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-ribbons > ul > li::after,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button .acidjs-ui-ribbon-dropdown ul::before,
.acidjs-ui-ribbon [data-tool*="-dropdown"] .acidjs-ui-ribbon-dropdown ul::before
{
    top: 0;
    bottom: 0;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-dropdown > div:first-child a,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-dropdown > div:first-child .acidjs-ribbon-arrow
{
    border: solid 1px #d4d6d9;
}

.acidjs-ui-ribbon .acidjs-ribbon-arrow,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-buttons a[disabled]
{
    opacity: .5;
    transition: opacity .25s;
}
/*
.acidjs-ui-ribbon,
.acidjs-ui-ribbon *
{
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    border: 0;
    outline: none;
    line-height: 100%;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*/

.acidjs-ui-ribbon
{
    display: block;
    /*font-family: "Segoe UI", Arial, Helvetica, Sans-serif;*/
    visibility: visible !important;
    /*font-size: 16px;*/
    width: 100%;
    /*background: #eaedf1;*/
    /*padding: 4px 0 0;*/
    /*border: solid 1px #8b9097;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-ribbons
{
    border-collapse: collapse;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-ribbons > ul
{
    display: table-row;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-ribbons > ul > li::after
{
    width: 1px;
    background: rgba(246, 247, 248, 0.64);
    background: linear-gradient(rgba(246, 247, 248, 0.83) 40%, rgba(176, 182, 188, 0.69));
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-ribbons > ul > li::after
{
    border-right: solid 1px #fff;
    border-left: solid 1px #fff;
    right: 0;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-buttons span:empty,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-ribbons > ul > li:last-child::after,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-content .acidjs-ui-ribbon-tab-ribbons,
.acidjs-ui-ribbon [data-tool="custom-dropdown"] .acidjs-ui-ribbon-dropdown ul::before
{
    display: none;
}

.acidjs-ui-ribbon [hidden]
{
    display: none !important;
}


.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-ribbons > ul > li h6
{
    padding: 0 4px;
    font-size: .7em;
    line-height: 1.5em;
    color: #bebebe;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tabs
{
    border-top: solid 1px #b6babf;
    /*border-bottom: solid 1px #8b9097;*/
    /*background: rgba(234, 237, 241, 0.66);
    background: linear-gradient(rgba(255, 255, 255, 0.55) 40%, rgba(234, 237, 241, 0.61));*/
    display: none;
}

.acidjs-ui-ribbon[open] .acidjs-ui-ribbon-tabs
{
    display: block;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-ribbon-tools
{
    padding: 6px 6px 0 6px;
    margin-bottom: 16px;
    min-height: 88px;
}

.acidjs-ui-ribbon a img
{
    border: 0;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool img,
.acidjs-ui-ribbon .acidjs-ribbon-generic-dropdown > div:first-child img
{
    margin: 2px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker > div:first-child
{
    min-height: 22px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool span:first-child
{
    padding: 0 2px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool img + span
{
    margin: 0 2px 0 0;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-strip[data-size="small"] span,
.acidjs-ui-ribbon .acidjs-ribbon-generic-dropdown > div:first-child span
{
    line-height: 16px;
    font-size: 15px;

}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-strip[data-size="large"] span
{
    line-height: 36px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-dropdown
{
    width: 43px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown
{
    z-index: 5;
    padding: 2px;
    border: solid 1px #a7abb0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .25);
    clip: rect(0, 0, 0, 0);
    opacity: 0;
    transition: opacity .25s .25s;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown a
{
    padding: 0 3px;
    min-height: 22px;
    border-radius: 2px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button .acidjs-ui-ribbon-dropdown ul::before,
.acidjs-ui-ribbon [data-tool*="-dropdown"] .acidjs-ui-ribbon-dropdown ul::before
{
    left: 24px;
    border-right: solid 1px #e2e4e7;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown img
{
    margin: 3px 10px 0 0;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown span
{
    width: 85%;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-dropdown > div:first-child
{
    border-collapse: collapse;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-dropdown > div:first-child div
{
    display: table-row;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-dropdown > div:first-child a
{
    border-right: 0;
    padding: 0 4px;
    line-height: 20px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-dropdown > div:first-child .acidjs-ribbon-arrow
{
    border-left-color: transparent;
    width: 14px;
    cursor: pointer;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-dropdown .acidjs-ribbon-arrow::before
{
    margin: 9px 0 0;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-large > div:first-child
{
    width: 42px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-large .acidjs-ribbon-arrow
{
    height: 10px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-large .acidjs-ribbon-arrow::before
{
    margin-top: 3px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-large > div:first-child a
{
    margin-top: 2px;
    min-height: 34px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-large > div:first-child span
{
    margin: 0 0 2px;
    line-height: 1.25em;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-small > div:first-child
{
    height: 22px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-small > div:first-child img
{
    margin: 2px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-small .acidjs-ribbon-arrow,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker .acidjs-ribbon-arrow,
.acidjs-ui-ribbon .acidjs-ribbon-generic-dropdown .acidjs-ribbon-arrow
{
    padding: 0 2px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-small .acidjs-ribbon-arrow::before
{
    margin-top: 6px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown-open
{
    clip: auto;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-dropdown
{
    width: 160px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-dropdown .acidjs-ui-ribbon-dropdown
{
    overflow: auto;
    max-height: 127px;
}

.acidjs-ui-ribbon [data-tool-name][disabled],
.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-buttons a[disabled]
{
    opacity: .5;
    
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-buttons
{
    position: relative;
    top: 1px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-buttons a
{
    display: block;
    /*font-size: .7em;*/
    border: solid 1px transparent;
    border-bottom-color: #b6babf;
    /*line-height: 23px;*/
    padding: 0 13px;
    margin: 0 2px 0 0;
    border-radius: 3px 3px 0 0;
    /*color: #6c7279;*/
    background: none;
    box-shadow: none;
}


.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-buttons a:not([disabled]):not(.acidjs-ui-ribbon-tool-selected):hover
{
    /*
    background: rgba(243, 249, 254, 0.66);
    background: linear-gradient(rgba(214, 230, 245, 0.69), rgba(243, 249, 254, 0.7));
    box-shadow: 0 0 1px 1px #fff inset;*/
}



.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-buttons a:not([disabled]):hover,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-buttons .acidjs-ui-ribbon-tool-selected
{
    /*border-color: rgba(182, 186, 191, 0.65);*/
    /*border-bottom-color: #fff;*/
    /*box-shadow: 0 0 1px 1px #fff inset;*/
    /*background: rgba(255, 255, 255, 0.53);*/
}

.acidjs-ui-ribbon .acidjs-ui-tool-active,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool:focus,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool:active,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool:hover:focus,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool:hover:active
{
    /*border-color: #c2963d;*/
    /*background: #fff37f;*/
    /*background: linear-gradient(#ffe575, #fff37f);*/
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-exclusive-buttons .acidjs-ui-tool-active
{
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-large[data-tool="menu"] .acidjs-ui-ribbon-dropdown ul li:first-child,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-split-button-small[data-tool="menu"] .acidjs-ui-ribbon-dropdown ul li:first-child
{
    display: none;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-strip[data-items="break"] > li
{
    display: block;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-ribbons > ul > li
{
    width: auto;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-break
{
    float: none;
    clear: both;
    width: 100%;
    height: 0;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker > div:first-child a
{
    display: inline-block;
    vertical-align: middle;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker > div:first-child a span
{
    display: inline-block;
    vertical-align: top;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker > div:first-child a span:first-child
{
    height: 2px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker > div:first-child a span img,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker > div:first-child a span span
{
    display: block;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker > div:first-child a span span
{
    height: 2px;
    margin: 0 2px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker > div:first-child a span img
{
    margin: -1px 2px 1px 2px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker > div:first-child a > span:last-child
{
    font-size: .7em;
    color: #3b3b3b;
    line-height: 16px;
    margin: -2px 0 0;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker > div:first-child
{
    cursor: pointer;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker .acidjs-ui-ribbon-dropdown li,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker .acidjs-ui-ribbon-dropdown li a
{
    display: inline-block;
    vertical-align: top;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker .acidjs-ui-ribbon-dropdown li a
{
    text-indent: -9999px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker .acidjs-ui-ribbon-dropdown li
{
    padding: 1px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker .acidjs-ui-ribbon-dropdown li a
{
    width: 16px;
    height: 16px;
    min-height: 16px;
    border: solid 1px #8b9097;
    line-height: 16px;
    border-radius: 0;
    padding: 0;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-color-picker .acidjs-ribbon-arrow::before
{
    margin-top: 4px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-checkbox,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-ribbon-tools > *:not(.acidjs-ui-ribbon-tool-break)
{
    margin: 2px 0;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-checkbox-label
{
    display: block;
    cursor: pointer;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-radios label span,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-checkbox label span
{
    font-size: .7em;
    color: #3b3b3b;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-checkbox label,
.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-radios label span
{
    padding-right: 2px;
}

.acidjs-ui-ribbon > p,
.acidjs-ui-ribbon > p a
{
    color: #fff;
}

.acidjs-ui-ribbon > p
{
    background: #b00 !important;
    line-height: 1.5em !important;
    font-size: .7em !important;
    text-align: center !important;
    display: block !important;
    position: static !important;
    margin: 0 !important;
    text-indent: 0 !important;
    visibility: visible !important;
}

.acidjs-ui-ribbon > p a
{
    text-decoration: underline;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-checkbox-label input
{
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-checkbox-label span
{
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-checkbox-label span::before
{
    content: "\2714";
    display: inline-block;
    vertical-align: baseline;
    width: 16px;
    height: 16px;
    margin: 2px;
    margin-right: 6px;
    border: solid 1px #f29536;
    text-align: center;
    line-height: 16px;
    font-size: 11px;
    color: transparent;
    background: #fcf1c2;
    border-radius: 3px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-checkbox-label input[type="radio"] + span::before
{
    content: "\2022";
    font-size: 36px;
    vertical-align: top;
    border-radius: 100%;
    line-height: 11px;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .acidjs-ui-ribbon .acidjs-ui-ribbon-tool-checkbox-label input[type="radio"] + span::before
    {
        line-height: 9px;
    }
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-checkbox-label input:checked + span::before
{
    color: #4e518e;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tool-separator
{
    padding: 0 0 0 1px;
    background: #bfc3c7;
    background: linear-gradient(#f8f9fa, #bfc3c7, #f8f9fa);
    height: 22px;
    border: solid 1px #fff;
    border-top: 0;
    border-bottom: 0;
    margin: 2px !important;
}

.acidjs-ui-ribbon > div
{
    position: relative;
}

.acidjs-ui-ribbon[disabled] > div::before
{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    position: absolute;
    z-index: 5;
}

.acidjs-ui-ribbon[hidden],
.acidjs-ui-ribbon[disabled] .acidjs-ui-ribbon-dropdown
{
    display: none;
}

.acidjs-ui-ribbon[disabled] > div *
{
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}

.acidjs-ui-ribbon button[name="toggle-ribbon"]
{
    position: absolute;
    top: 1px;
    right: 6px;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    background: none;
    border: solid 1px transparent;
    cursor: pointer;
    z-index: 3;
    font-size: 1px;
}

.acidjs-ui-ribbon.acidjs-ui-ribbon-quick-launch-enabled button[name="toggle-ribbon"]
{
    top: 23px;
}

.acidjs-ui-ribbon button[name="toggle-ribbon"]:hover
{
    box-shadow: 0 0 0 1px #fff inset;
    background: #fbf7de;
    background: linear-gradient(#f9ebb0, #fbf7de);
    border-color: #f2d24b;
}

.acidjs-ui-ribbon button[name="toggle-ribbon"]::before
{
    content: "";
    position: absolute;
    top: 8px;
    left: 5px;
    border: solid 5px transparent;
    border-top-color: #b6babf;
}

.acidjs-ui-ribbon[open] button[name="toggle-ribbon"]::before
{
    border-bottom-color: #b6babf;
    border-top-color: transparent;
    top: 3px;
}

.acidjs-ui-ribbon:not([open])
{
    border-bottom: solid 1px #b6babf;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-file-tab-menu
{
    vertical-align: top;    
    position: relative;
    top: 1px;
    left: 1px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-file-tab-menu .acidjs-ui-ribbon-tool-split-button > div:first-child
{
    margin: 0 3px 0 0;
    border-color: #1f48a1;
    border-radius: 3px 3px 0 0;
    height: 25px;
    background: #4b91e4;
    background: linear-gradient(#3d7bd9, #4b91e4);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, .25) inset;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-file-tab-menu .acidjs-ui-ribbon-tool-split-button:hover > div:first-child
{
    box-shadow: 0 0 2px 4px rgba(255, 255, 255, .25) inset;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-file-tab-menu .acidjs-ui-ribbon-tool-split-button > div:first-child span
{
    padding: 0 13px;
    color: #fff;
    text-shadow: -1px 1px #194ec2;
    position: relative;
    top: 1px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-file-tab-menu:empty,
.acidjs-ui-ribbon .acidjs-ui-ribbon-file-tab-menu .acidjs-ui-ribbon-tool-split-button > div:first-child img,
.acidjs-ui-ribbon .acidjs-ui-ribbon-file-tab-menu .acidjs-ui-ribbon-tool-split-button > div:first-child strong
{
    display: none;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-file-tab-menu .acidjs-ui-ribbon-tool-selected
{
    border-color: transparent;
    background: inherit;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-quick-launch ul
{
    margin: 0 0 4px;
}

.acidjs-ui-ribbon .acidjs-ui-tabgroup
{
    position: absolute;
    border: solid 1px rgba(179,185,191, .75);
    border-top: 0;
    border-bottom: 0;
    height: 56px;
    z-index: 5;
    margin: -7px 0 0 -1px;
    text-align: center;
}

.acidjs-ui-ribbon .acidjs-ui-tabgroup::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, .45), rgba(234,237,241, 1) 70%);
    z-index: -1;
}

.acidjs-ui-ribbon .acidjs-ui-tabgroup span,
.acidjs-ui-ribbon .acidjs-ui-tabgroup::before
{
    border-left: solid 1px rgba(255, 255, 255, .65);
    border-right: solid 1px rgba(255, 255, 255, .65);
}

.acidjs-ui-ribbon .acidjs-ui-tabgroup span
{
    cursor: pointer;
    display: block;
    border-top-style: solid;
    border-top-width: 4px;
    font-size: .7em;
    color: #6c7279;
    text-shadow: -1px 1px #333;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 4px;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-tab-buttons li
{
    position: relative;
    z-index: 10;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-quick-launch li:first-child
{
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-quick-launch li:first-child
{
    border-right: solid 1px #b6babf;
    margin: 0 4px 0 4px;
    padding: 0 4px 0 0;
    position: relative;
}

.acidjs-ui-ribbon .acidjs-ui-ribbon-quick-launch li:first-child::after
{
    position: absolute;
    right: -2px;
    top: 0;
    content: "";
    height: 100%;
    border-right: solid 1px #fff;
}

/*
 * flat ribbon styles (if config.flat is true)
 **/
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tabs,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tab-buttons a:hover:not([disabled]),
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tab-buttons .acidjs-ui-ribbon-tool-selected,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-file-tab-menu .acidjs-ui-ribbon-tool-split-button > div:first-child,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ribbon-generic-dropdown:hover > div:first-child,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool-color-picker:hover > div:first-child,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool:hover:not(.acidjs-ui-tool-active),
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tab-buttons a,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-dropdown a:hover, 
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool-dropdown:hover > div:first-child .acidjs-ribbon-arrow, 
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool-split-button-small:hover div:first-child, 
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool-split-button-large:hover > div:first-child, 
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat [data-tool*="-dropdown"] .acidjs-ui-ribbon-dropdown label:hover, 
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat [data-tool="dropdown"] a.acidjs-ui-ribbon-tool-selected, 
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool-split-button .acidjs-ui-ribbon-tool-selected,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat button[name="toggle-ribbon"]
{
    box-shadow: none;
}

.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ribbon-generic-dropdown:hover > div:first-child,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool-color-picker:hover > div:first-child,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool:hover:not(.acidjs-ui-tool-active),
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-dropdown a:hover, 
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool-dropdown:hover > div:first-child .acidjs-ribbon-arrow, 
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool-split-button-small:hover div:first-child, 
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool-split-button-large:hover > div:first-child, 
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat [data-tool*="-dropdown"] .acidjs-ui-ribbon-dropdown label:hover, 
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat [data-tool="dropdown"] a.acidjs-ui-ribbon-tool-selected, 
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool-split-button .acidjs-ui-ribbon-tool-selected,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat button[name="toggle-ribbon"]:hover
{
    background: #d7e4f7;
    border-color: #d7e4f7;
}

.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-dropdown a,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ribbon-generic-dropdown > div:first-child,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-dropdown,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool-split-button > div:first-child,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool-color-picker > div:first-child,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat [data-tool*="-dropdown"] .acidjs-ui-ribbon-dropdown label,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat button[name="toggle-ribbon"]
{
    border-radius: 0;
}

.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-tool-active, 
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool:focus, 
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool:active, 
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool:hover:focus, 
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool:hover:active
{
    background: #c2d5f2;
    border-color: #c2d5f2;
}

.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-tabgroup span,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tab-buttons a,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-file-tab-menu .acidjs-ui-ribbon-tool-split-button > div:first-child span
{
    text-transform: uppercase;
}

.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tabs,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tab-buttons a:hover:not([disabled]),
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tab-buttons .acidjs-ui-ribbon-tool-selected
{
    border-color: #d4d4d4 #d4d4d4 #fff;
    background: #fff;
}

.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tab-buttons a:hover:not([disabled]),
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tab-buttons .acidjs-ui-ribbon-tool-selected
{
    color: #2b579a;
}

.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tab-buttons a,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-file-tab-menu .acidjs-ui-ribbon-tool-split-button > div:first-child
{
    border-radius: 0;
}

.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool-radios label span,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool-checkbox label span
{
    color: #2b579a;
}

.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool-separator,
.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tab-ribbons > ul > li::after
{
    background: #e1e1e1;
}

.acidjs-ui-ribbon.acidjs-ui-ribbon-flat
{
    background: #fff;
    border-color: #2b579a;
}

.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tab-buttons a
{
    border-color: transparent transparent #d4d4d4;
    color: #444;
}

.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-file-tab-menu .acidjs-ui-ribbon-tool-split-button > div:first-child
{
    background: #2b579a;
    border-color: #2b579a;
}

.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-tabgroup span
{
    text-shadow: none;
    color: #444;
    font-weight: normal;
}

.acidjs-ui-ribbon.acidjs-ui-ribbon-flat .acidjs-ui-ribbon-tool-checkbox-label span::before
{
    border-radius: 0;
    border-color: #2b579a;
    background: #fff;
}