.actionValueWidget{
  display: block;
  margin-top: 4px;
}

.actionValueWidget ._Widget{
  margin-left: 2px;
  margin-right: 2px;
}

.actionValueWidget ._Label{
  margin-left: 2px;
  margin-right: 2px;
}



.widgetContainer .dijitSelectLabel{
  color: #000000;
}

.sheetWidget .dijitSelectLabel
{
  color: #000000;
}

/***
  Migrated from css/Widgets.css
*/

.widgetContainer
{
  /*margin-left:10px;*/
  /*min-width: 400px;*/
  width: inherit;
  overflow: visible;
  position: relative;

}
.widgetContainer .dijitValidationTextBox{
  width: 100%;
  margin-right: 8px;
}



.widgetContainerAlternate
{
  /*margin-left:10px;*/
  border-radius: 3px 3px 3px 3px;
  max-width: 400px;
  background-color: #2c2f32 !important;
  box-shadow: 0 0px 0px #888888 ;
  position: relative;
  /*padding-left: 10px;*/
}
.widgetTab
{
  /*
  border: 0 solid #888888;
  background-color: #ffffff;
  background-image: url("../images/tab-bkgInner.jpg");
  background-size: 100% 100%;
  box-shadow: 0 -3px 3px #888888;
  padding: 0.3em 0.4em;
  display: block;
  */
}
.widgetTitle
{
  min-width: 130px;
  /*color: #ffffff;*/
  /*
  font-weight: normal;
  padding-left: 4px;
  */
  margin-left: 4px;
}
.widgetValue
{
  border-left: 1px solid #888888;
  padding-left: 5px;
  padding-top: 1px;
  vertical-align: middle;
  max-width: 155px !important;
  min-width: 155px !important;
}

.widgetTable
{

  /*margin-left:10px;*/
  display: inline-block;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.widgetBase
{
  /*margin-left:10px;*/
  /*width: 80%;*/
  margin-right:0px;
  border-radius: 2px 2px 2px 2px;
  /*border: 1px solid rgba(1,1,1,0.3);*/
  background-color: #E7E7E7;
  background-image: url("../images/tab-bkg.jpg");
  background-size: 100% 100%;
  /*border-radius: 0 8px 8px 8px;*/
  box-shadow: 0 3px 3px rgba(1,1,1,0.4);
  /*padding: 0.3em 0.4em;*/
  display: block;
}

.vertical .widgetTitle{
  min-width: 80px;

}

.RadioWidgetRow{
  height:auto
}

.RadioWidgetLabel{
  margin: 4px;
  display: inline-block;
}