.widgetContainer .dijitSelectLabel {
  color: #000000;
}
.widgetContainer {
  width: inherit;
  overflow: visible;
  position: relative;
}
.widgetContainer .dijitValidationTextBox {
  width: 100%;
  margin-right: 8px;
}
.widgetContainerAlternate {
  border-radius: 3px 3px 3px 3px;
  max-width: 400px;
  background-color: #2c2f32 !important;
  box-shadow: 0 0px 0px #888888 ;
  position: relative;
  /*padding-left: 10px;*/
}
.widgetTitle {
  min-width: 130px;
  margin-left: 4px;
}

.widgetValue {
  border-left: 1px solid #888888;
  padding-left: 5px;
  padding-top: 1px;
  vertical-align: middle;
  max-width: 155px;
  min-width: 155px;
}
.widgetTable {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.widgetBase {
  margin-right: 0px;
  border-radius: 2px 2px 2px 2px;
  background-color: #E7E7E7;
  background-image: url("../images/tab-bkg.jpg");
  background-size: 100% 100%;
  box-shadow: 0 3px 3px rgba(1, 1, 1, 0.4);
  display: block;
}
.vertical .widgetTitle {
  min-width: 80px;
}
.RadioWidgetRow {
  height: auto;
}
.RadioWidgetLabel {
  margin: 4px;
  display: inline-block;
}
