
/***
    XCF Main
*/
body{ }

@import "./Ribbon.css";


.layoutTop{
  width: 100% !important;
}

/***
  XFile Extensions!
*/
.filePreviewRoot{
  height: inherit;
}

.filePreviewView IMG{
  height: auto;
}
.silhouetteiframe_iframe{
  height: 100%;
  width: 100%;
}

/*
* {
  margin: 0;
  padding: 0;
}
*/

.fullWidth{
  width: 100% !important;
}

.itemFolderList{
  /*font-size: 1.2em !important;*/
}

.ui-widget{
  /*font-size: 1.2em !important;*/
}
.claro .dijitTreeIcon{
  /*font-size: 1.2em;*/
}


.dijitIconFile, .dijitLeaf {
  background-image: none;
}
.dijitIconFile, .dijitLeaf:before {
  content: "";

}
.row-odd {
  background-color: rgba(51, 51, 51, 0.25);
  /*
  background-color: #5B6051 !important;
  background-image: none !important;*/
}
.row-even {
  /*
  background-color: #4B7476 !important;
  background-image: none !important;*/
}

