

.Thumb .dgrid-row {
  float: left;
  padding: 1em 0;
  text-align: center;
  width: 120px;
  -moz-binding: url("../fonts/truncate.xml#ellipsis");
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Thumb .name {
  -moz-binding: url("../fonts/truncate.xml#ellipsis");
  font-size: 13px;
  overflow: hidden;
  padding-left: 4px;
  padding-right: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Thumb .imageFile {
  height: auto;
  max-height: 90px !important;
  max-width: 100px !important;
  overflow: hidden;
}

.Thumb .cell{
  height: 100px !important;
  margin: 4px;
  padding: 2px;
  text-align: center;
  width: 110px;
  word-wrap: break-word;
}
/*
.Thumb .cell .name{
  display: inline-block;
}
*/


.filePreviewRoot {
  height: inherit;
}
.filePreviewView IMG {
  height: auto;
}

