// Light Blue variables
// -------------------------
// -------------------------

$libs-folder: '../../../bower_components' !default;
$libs-compiled-folder: '../lib' !default;

// Colors
// ------------------------

$lime:                  #8CBF26 !default;
$red:                   #e5603b !default;
$red-dark:              #d04f4f !default;
$blue:                  #618fb0 !default;
$green:                 #56bc76 !default;
$orange:                #eac85e !default;
$pink:                  #E671B8 !default;
$purple:                #A700AE !default;
$brown:                 #A05000 !default;
$teal:                  #4ab0ce !default;
$white:                 #ffffff !default;
$black:                 #000000 !default;

$colors: $red, $orange, $lime, $green, $teal, $blue, $brown, $red-dark;
$color-names: red, orange, lime, green, teal, blue, brown, red-dark;

$white-dark:            #f8f8f8 !default;
$shadow-color:            rgba(#676767, .4) !default;

//copy from BS
$gray-darker:           lighten(#000, 13.5%) !default;
$gray-dark:             #555 !default;
$gray:                  #666;
$gray-light:            lighten(#000, 60%) !default;
$gray-lighter:          lighten(#000, 93.5%) !default;
$gray-semi-light:       #777;
$gray-semi-lighter:     #ddd;

$brand-primary:         $blue !default;
$brand-success:         $green !default;
$brand-warning:         $orange !default;
$brand-danger:          $red !default;
$brand-info:            $teal !default;

// Typography
// -------------------------
$text-color:$gray-dark;// $white-dark !default;
$text-bold: lighten($text-color, 3%);
$text-muted: #808080 !default;

$font-family-sans-serif:  "Helvetica", sans-serif !default;

$font-size-base:          13px !default;
$font-size-large:         $font-size-base * 1.25 !default;
$font-size-larger:        $font-size-base + 1;
$font-size-small:         12px !default;
$font-size-mini:          $font-size-base * 0.75 !default;
$font-size-index:         $font-size-base * 0.7 !default;

$font-weight-bold: 700 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-normal: 400 !default;
$font-weight-thin: 300 !default;
$font-weight-base: $font-weight-normal !default;

$line-height-base:        1.428571429 !default; // 20/14
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

// Links
// -------------------------

$link-color:            #4D9DD7;

// Layout
// -------------------------

$wrap-margin: 185px;
$sidebar-mt: 80px;


// Scaffolding
// -------------------------

$basic-border-color: #ddd;




$widget-bg-common: rgb(230,230,230); //#ddd
$widget-mb:        0px;
$widget-color:     $gray;
$widget-header-color: $widget-color;
$widget-header-smalls-color: $gray-light;
$widget-controls-color: lighten($widget-color, 25%);
$widget-controls-hover-color: lighten($widget-color, 5%);

$text-transparent: rgba($widget-bg-common, .6);
$bg-addition: $gray-lighter;
$widget-bg: $widget-bg-common;

$widget-padding-vertical: 0px;
$widget-padding-horizontal: 0px;
$widget-padding: $widget-padding-vertical $widget-padding-horizontal;


$sidebar-item-active-bg: rgba($black,.07);
$sidebar-item-sub-active-bg: darken($sidebar-item-active-bg, 15%);

$page-title-color: $white;

$header-notification-count: rgba(51,51,51, .55);

$header-search-query-bg-image: url(../img/search.png);
$header-search-query-placeholder-color: rgba(#555, .76);

$header-dropdown-primary-color:          $widget-color;
$header-dropdown-secondary-color:        #888;
$header-dropdown-bg:                     $widget-bg;
$header-dropdown-shadow:                 0 6px 12px rgba(0, 0, 0, 0.175);
$header-dropdown-item-hover:             #eee;

// Widgets
// -------------------------

$feed-item-bg: $bg-addition;
$feed-item-line-color: $feed-item-bg;

$nav-tabs-link-color: $link-color;
$nav-tabs-active-item-margin: -1px;
$nav-tabs-active-item-border: $basic-border-color;
$nav-tabs-active-item-border-bottom: $widget-bg;
$nav-tabs-border: 1px solid $nav-tabs-active-item-border;
$nav-tabs-tab-content-bg: $widget-bg;

$tabs-widget-active-item-hover-bg: $bg-addition;

$location-selector-bg: darken($widget-bg, 2%);
$location-selector-border-color: $basic-border-color;
$messenger-spinner-bg: #dd8f6a;

$calendar-border: $basic-border-color;

$dropzone-color:         #aaa;

/////////////////////////////////////////////////
//              Font Awesome vars              //
/////////////////////////////////////////////////

$fa-font-path: "./fonts/font-awesome";

/////////////////////////////////////////////////
//           Override bootstrap vars           //
/////////////////////////////////////////////////

$bootstrap-sass-asset-helper: false;

$icon-font-path: "fonts/bootstrap/" !default;

// Components
// -------------------------

$padding-base-vertical:          5px !default;
$padding-base-horizontal:        12px !default;

$padding-small-vertical:         4px !default;
$padding-small-horizontal:       10px !default;

$line-height-large:              1.33 !default;
$line-height-small:              1.5 !default;

$border-radius-base:        3px !default;

// Buttons
// -------------------------

$btn-font-weight:                $font-weight-base !default;

$btn-default-color:              $white !default;
$btn-default-bg:                 $gray !default;
$btn-default-border:             rgba(0, 0, 0, 0.15) !default;

$btn-inverse-color:              $gray-dark !default;
$btn-inverse-bg: $white-dark !default;

// Forms
// -------------------------

$input-color:                    $gray-dark;
$input-border:                   #ccc !default;
$input-border-focus:             #66afe9 !default;

$input-group-addon-bg:           $gray-lighter;
$input-group-addon-border-color: $input-border;

// recalculate input heights
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;


$legend-color:                   $widget-header-color !default;

// Dropdowns
// -------------------------

$dropdown-bg:                    $white !default;
$dropdown-border:                rgba(0,0,0,.2) !default;

$dropdown-link-active-color:     #fff !default;
$dropdown-link-active-bg:        $blue !default;

$dropdown-link-color:            $gray !default;
$dropdown-link-hover-color:      $white !default;
$dropdown-link-hover-bg:         $dropdown-link-active-bg !default;

// Form states and alerts
// -------------------------

$state-success-text:             $white !default;
$state-success-border:           #D6E9C6 !default;
$state-success-bg:               rgba($state-success-border, 0.28) !default;

$state-info-text:                $white !default;
$state-info-border:              #4ab0ce !default;
$state-info-bg:                  rgba($state-info-border, 0.29) !default;

$state-warning-text:             $white !default;
$state-warning-border:           #E5BE56 !default;
$state-warning-bg:               rgba($state-warning-border, 0.28) !default;

$state-danger-text:              $white !default;
$state-danger-border:            rgba(#F26349, .7) !default;
$state-danger-bg:                rgba($state-danger-border, 0.29) !default;

//== Tables
//
$table-bg-accent:               #f9f9f9 !default;
$table-border-color:            #ddd !default;
$table-bg-hover:                #f5f5f5;


// List group
// -------------------------
$list-group-bg: $widget-bg !default;
$list-group-border:           transparent !default;
$list-group-link-color:       $widget-color;
$list-group-hover-bg: $bg-addition;
// Jumbotron
// -------------------------

$jumbotron-color:                inherit !default;
$jumbotron-bg:                   transparent !default;

$jumbotron-heading-color:        inherit !default;

// Popovers
// -------------------------
$popover-bg:                          $widget-bg-common !default;
$popover-arrow-color:                 $popover-bg !default;
$popover-border-color:                rgba(0,0,0,.2);

// Thumbnails
// -------------------------
$thumbnail-bg:                        $widget-bg;
$thumbnail-border:                    1px solid #ddd;

// Pagination
// -------------------------

$pagination-color:                     $widget-color !default;
$pagination-bg:                        transparent !default;
$pagination-border:                    transparent !default;

$pagination-hover-color:               $widget-header-color !default;
$pagination-hover-bg:                  $bg-addition !default;
$pagination-hover-border:              transparent !default;

$pagination-active-color:              $widget-header-color !default;
$pagination-active-bg:                 $bg-addition !default;
$pagination-active-border:             transparent !default;

$pagination-disabled-color:            $text-muted !default;
$pagination-disabled-bg:               transparent !default;
$pagination-disabled-border:           transparent !default;

// Breadcrumbs
// -------------------------
$breadcrumb-bg:               transparent !default;
$breadcrumb-color:            $text-color !default;
$breadcrumb-active-color:     darken($breadcrumb-color, 25%) !default;
$breadcrumb-separator:        ">" !default;

// Carousel
// ------------------------

$carousel-control-color:      $widget-color;
$carousel-text-shadow:                        none !default;

$carousel-control-width:                      6% !default;
$carousel-control-opacity:                    1 !default;

$carousel-indicator-active-bg:                $red !default;
$carousel-indicator-border-color:             transparent !default;

// Wells
// -------------------------

$well-bg:                     #f5f5f5 !default;
$well-border:                 darken($well-bg, 7%) !default;

// Code (inline and block)
// --------------------------------------------------

$pre-bg: $bg-addition !default;
$pre-color:                   $widget-color !default;
$pre-border-color: $widget-bg !default;

// Type
// --------------------------------------------------

$blockquote-border-color:             #ddd;

// Custom libs variables
// ------------------------

// Awesome Checkbox
// ------------------------

$awesome-checkbox-default-color:       $gray;