
<div class="blog-area">
  <h1>Files</h1>
    <div class="container">
      <div class="row">
        <!-- blog-left-sidebar start -->
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="widget_area fix">
            <!-- widget-categories start -->
            <aside class="left_widget blog_border0">
              <h3 class="sidebar_middle_title">Multi-Cloud Files</h3>
              <ul class="sidebar_menu">
                <li><a href="{{appUrl}}/files#how-to-use">How to use Files</a></li>
                <li><a href="{{appUrl}}/files#hooks">Inside Hooks </a></li>
                <li><a href="{{appUrl}}/files#api">HTTP API </a></li>
                <li><a href="{{appUrl}}/files#sdk">Client SDK </a></li>
              </ul>
            </aside>
            <aside class="left_widget blog_border0">
              <h3 class="sidebar_middle_title">Files API</h3>
              <ul class="sidebar_menu">
                <li><a href="{{appUrl}}/files/writeFile">writeFile</a></li>
                <li><a href="{{appUrl}}/files/readFile">readFile</a></li>
                <li><a href="{{appUrl}}/files/removeFile">removeFile</a></li>
                <li><a href="{{appUrl}}/files/stat">stat</a></li>
                <li><a href="{{appUrl}}/files/readdir">readdir</a></li>
                <li><a href="{{appUrl}}/files/createReadStream">createReadStream</a></li>
                <li><a href="{{appUrl}}/files/createWriteStream">createWriteStream</a></li>
              </ul>
            </aside>
            <aside class="left_widget blog_border0">
              <h3 class="sidebar_middle_title">Providers</h3>
              <ul class="sidebar_menu">
                <li><a href="{{appUrl}}/files#built-in">Built-in Virtual File System </a></li>
                <li><a href="{{appUrl}}/files#amazon">Amazon S3 </a></li>
                <li><a href="{{appUrl}}/files#google">Google Cloud </a></li>
                <li><a href="{{appUrl}}/files#rackspace">Rackspace Cloudfiles </a></li>
                <li><a href="{{appUrl}}/files#microsoft">Microsoft Azure </a></li>
                <li><a href="{{appUrl}}/files#sftp-ssh">Any SSH / SFTP server </a></li>
              </ul>
            </aside>
            <!-- widget-categories end -->
            <!-- widget-categories start -->

            <!-- end widget-tag  -->
          </div>
        </div>        
        <!--end  blog-left-sidebar start -->
        <!-- shop-content start -->
        <div class="col-lg-9 col-md-9 col-sm-9">
          <!-- end single  blog item-->         
          <div class="col-lg-12 col-md-12 col-sm-12 item">
            <div class="content">

              <div>

                <p>
                  {{appName}}'s provides a Virtual File System API allowing developers to seamlessly work with files from <a href="{{appUrl}}/files#providers">multiple cloud storage providers</a>.
                </p>

                <p>All accounts come with integrated access to our own <a href="{{appName}}/files#built-in">Built-in virtual file-system</a>. This allows developers to instant store and retrieve files without having to provision or configure any addition providers</p>
                <p>Should you want more control over your files and use your storage provider, {{appName}} provides integrated configuration for all major cloud storage providers</p>

                <h2>My Files</h2>
                <div class="userFiles">
                  <table class="table"></table>
                </div>

                <a name="how-to-use"></a>
                <h2>There are three separate ways to use Multi-Cloud Files</h2>

                <p>
                  <ul>
                    <li>Using the {{appName}} <a href="{{appUrl}}/files#api">HTTP REST API</a></li>
                    <li>Using <code>hook.fs</code> from <a href="{{appUrl}}/files#hooks">inside a hook service</a></a>
                    <li>Using the <a href="{{appUrl}}/files#sdk">hook.io sdk</a>
                  </ul>
                </p>


                <a name="api"></a>
                <h2>Files HTTP API</h2>
                <p>Simply click on any method name below to visit the REST API endpoint for that File method.</p>
                <p>Every URL is a fully qualified self documenting API endpoint, capable of <a href="{{appUrl}}/docs#data">receiving many forms of data</a>.</p>
                <p>
                <ul>
                  <li><a href="{{appUrl}}/files/createReadStream">createReadStream</a></li>
                  <li><a href="{{appUrl}}/files/createWriteStream">createWriteStream</a></li>
                  <li><a href="{{appUrl}}/files/readFile">readFile</a></li>
                  <li><a href="{{appUrl}}/files/readdir">readdir</a></li>
                  <li><a href="{{appUrl}}/files/removeFile">removeFile</a></li>
                  <li><a href="{{appUrl}}/files/stat">stat</a></li>
                  <li><a href="{{appUrl}}/files/writeFile">writeFile</a></li>
                </ul>
                </p>

                <a name="providers"></a>
                <h2>Supported Cloud File Providers</h2>
                <p>
                  <ul class="supportedAdapters">
                    <li><a href="{{appUrl}}/files#built-in">Built-in Virtual File System </a></li>
                    <li><a href="{{appUrl}}/files#sftp-ssh">Any SSH / SFTP server </a></li>
                    <li><a href="{{appUrl}}/files#amazon">Amazon S3 </a></li>
                    <li><a href="{{appUrl}}/files#google">Google Cloud </a></li>
                    <li><a href="{{appUrl}}/files#rackspace">Rackspace Cloudfiles </a></li>
                    <li><a href="{{appUrl}}/files#microsoft">Microsoft Azure </a></li>
                  </ul>
                </p>
                <!--
                  <p><em class="hint">Want to see a new provider? Please open an issue <a href="https://github.com/bigcompany/hook.io-vfs/issues/new">here</a> and we'll do our best to add it.</em></p>
                -->


                <a name="hooks"></a>
                <h2>Inside a Hook Service</h2>
                <p class="hint">Note: This will be scoped to your built-in {{appName}} Cloud Files container</p>
                <p>
                  <div class="hook">
                    <code><pre>
module['exports'] = function readFile (hook) {
  hook.fs.readFile('testing-file.txt', function(err, res){
    if (err){ 
      return res.end(err.message); 
    }
    hook.res.end(JSON.stringify(res, true, 2));
  });
};
                    </pre></code>
                  </div>
                  <a href="{{appUrl}}/examples#files">See Forkable Files Examples</a>
                </p>
                <p class="hint">You can also use the client SDK API to configure multi-cloud file providers using our own credentials.</p>

                <a name="sdk"></a>
                <h2>Using the Hook.io SDK</h2>
                <p>
                  <code><pre>
var sdk = require("hook.io");

var client = sdk.createClient({ accessKey: 12345 });

client.files.readFile('hello.txt', function (err, file) {
  console.log(err, file);
});
                  </pre></code>
                </p>

                <a name="built-in"></a>

                <h2>Built-in Virtual File-System</h2>
                <p>Don't want to provision a new account with one of our supported cloud providers? We've got you covered!</p>
                <p>Built into every {{appName}} account is an integrated virtual file system which allows you to seamlessly manage files using a familiar API</p>
                <p>
                  <div class="hook">
                    <code><pre>
module['exports'] = function readFile (hook) {
  hook.fs.readFile('testing-file.txt', function(err, res){
    if (err){ 
      return res.end(err.message); 
    }
    hook.res.end(JSON.stringify(res, true, 2));
  });
};
                    </pre></code>
                  </div>
                </p>

                <hr/>

                <a name="sftp-ssh"></a>
                <h3>Any SFTP / SSH Server</h3>
                <p>Using the sdk, provide the following configuration</p>
                <p>
                <code>
                  <pre>
{
  adapter: "sftp",
  host: "yourserver.com",
  port: 22,
  username: "username",
  password: null, // optional, can use private key
  privateKey: require('fs').readFileSync(__dirname + '/../../../../.ssh/id_rsa')
}
                  </pre>
                </code>
                </p>

                <a name="amazon"></a>
                <h3>Amazon s3</h3>
                <p>Using the sdk, provide the following configuration</p>
                <p>
                <code>
                  <pre>
{
  provider: 'amazon',
  adapter: "amazon",
  accessKeyId: 'abcdefg',
  accessKey: '12345',
  region: 'us-east-1'
}
                  </pre>
                </code>
                </p>
                
                
                <a name="google"></a>
                <h3>Google</h3>
                <p>Using the sdk, provide the following configuration</p>
                <p>
                <code>
                  <pre>
{
  provider: 'google',
  adapter: "google",
  keyFilename: __dirname + '/g.json', // path to a JSON key file
  projectId: 'myProject' // project id
}
                  </pre>
                </code>
                </p>
                <a name="microsoft"></a>
                <h3>Microsoft</h3>
                <p>Using the sdk, provide the following configuration</p>
                <p>
                <code>
                  <pre>
{
  adapter: "microsoft",
  provider: 'azure',
  storageAccount: "my_storage_account",         // Name of your storage account
  storageAccessKey: "abcdefgh" // Access key for storage account
}
                  </pre>
                </code>
                </p>

                <a name="rackspace"></a>
                <h3>Rackspace</h3>
                <p>Using the sdk, provide the following configuration</p>
                <p>
                <code>
                  <pre>
{
  adapter: 'rackspace', // required
  provider: 'rackspace', // required
  username: 'hookio-vfs', // required
  apiKey: 'abcdefg', // required
  region: 'IAD', // required, regions can be found at
  // http://www.rackspace.com/knowledge_center/article/about-regions
  useInternal: false // optional, use to talk to serviceNet from a Rackspace machine
}
                  </pre>
                </code>
                </p>

                <br/>
                <br/>
              </div>
            </div>
          </div>
          <!-- end single  blog item-->
        </div>
        <!-- end shop-content start -->
      </div>  
    </div>  
  </div>