.MarkdownView A {
  color: #abb4d1; }

.MarkdownView h1, .MarkdownView h2, .MarkdownView h3, .MarkdownView h4, .MarkdownView h5, .MarkdownView h6 {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 300; }

.MarkdownView b, .MarkdownView strong {
  font-weight: inherit;
  font-weight: bolder; }

.MarkdownView table {
  width: 100%;
  padding: 0;
  border-collapse: collapse; }

.MarkdownView table td, .MarkdownView table th {
  border: 1px solid #eee;
  margin: 0;
  padding: 6px 13px; }

.MarkdownView table th {
  font-weight: 700;
  background: rgba(116, 116, 116, 0.28); }

.MarkdownView table tr:nth-child(2n) {
  background-color: #ededed; }

.xTheme-white .MarkdownView A {
  color: #2d82c7; }
