/*

  #osm-menu = global ID
  It cannot be nested, user can add element with this ID
  anywhere in the html body.

*/
#osm-menu,
.osm-menu {
  position: absolute;
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  visibility: hidden; }

/*

  Main css wrapper, element with this ID is created by
  jQuery plugin, and it is a wrapper for both website
  and menu.

*/
#osm-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  -webkit-perspective: 3000px;
  -moz-perspective: 3000px;
  perspective: 3000px;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  #osm-wrapper #osm-website {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }
  #osm-wrapper #osm-menu,
  #osm-wrapper .osm-menu {
    position: absolute;
    overflow: hidden; }

/*

  Import all the presets for the animations
  They are all nested in #osm-wrapper
  and generated with editor

*/
/*
 
90deg From Left 
osm-0 

*/
#osm-wrapper.osm-0 #osm-menu,
#osm-wrapper.osm-0 .osm-menu {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* menu size */
  width: 80%;
  height: 80%;
  left: 10% !important;
  top: 10% !important;
  /* transform origin osm-menu */
  -webkit-transform-origin: -10% 110%;
  -moz-transform-origin: -10% 110%;
  -o-transform-origin: -10% 110%;
  -ms-transform-origin: -10% 110%;
  transform-origin: -10% 110%;
  /* menu init position */
  -webkit-transform: rotateZ(-90deg) translateX(0%);
  -ms-transform: rotateZ(-90deg) scale(1);
  -moz-transform: rotateZ(-90deg) scale(1);
  -o-transform: rotateZ(-90deg) scale(1);
  transform: rotateZ(-90deg) scale(1);
  opacity: 1;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 1; }

/* transform origin osm-website */
#osm-wrapper.osm-0 #osm-website {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transform origin osm-website */
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 0; }

/* goAway*/
#osm-wrapper.osm-0 #osm-website.goAway {
  -webkit-transform: rotateZ(90deg) scale(1) !important;
  -ms-transform: rotateZ(90deg) scale(1) !important;
  -moz-transform: rotateZ(90deg) scale(1) !important;
  -o-transform: rotateZ(90deg) scale(1) !important;
  transform: rotateZ(90deg) scale(1) !important;
  opacity: 1 !important;
  z-index: 0 !important; }

/* comeIn */
#osm-wrapper.osm-0 #osm-menu.comeIn,
#osm-wrapper.osm-0 .osm-menu.comeIn {
  -webkit-transform: rotateZ(0deg) translateX(0%) !important;
  -ms-transform: rotateZ(0deg) !important;
  -moz-transform: rotateZ(0deg) !important;
  -o-transform: rotateZ(0deg) !important;
  transform: rotateZ(0deg) !important;
  opacity: 1 !important;
  z-index: 1 !important; }

@media (max-width: 340px) {
  #osm-wrapper.osm-0 #osm-menu,
  #osm-wrapper.osm-0 .osm-menu {
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%; } }

/*
 
Angle Transparent 
osm-2 

*/
#osm-wrapper.osm-2 #osm-menu,
#osm-wrapper.osm-2 .osm-menu {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* menu size */
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  /* transform origin osm-menu */
  -webkit-transform-origin: 112.5% 50%;
  -moz-transform-origin: 112.5% 50%;
  -o-transform-origin: 112.5% 50%;
  -ms-transform-origin: 112.5% 50%;
  transform-origin: 112.5% 50%;
  /* menu init position */
  -webkit-transform: translateY(0%) scale(1.4);
  -ms-transform: translateY(0%) scale(1.4);
  -moz-transform: translateY(0%) scale(1.4);
  -o-transform: translateY(0%) scale(1.4);
  transform: translateY(0%) scale(1.4);
  opacity: 0;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 1; }

/* transform origin osm-website */
#osm-wrapper.osm-2 #osm-website {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transform origin osm-website */
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 0; }

/* goAway*/
#osm-wrapper.osm-2 #osm-website.goAway {
  -webkit-transform: rotateY(20deg) translateX(-30%) scale(0.65);
  -ms-transform: rotateY(20deg) translateX(-30%) scale(0.65);
  -moz-transform: rotateY(20deg) translateX(-30%) scale(0.65);
  -o-transform: rotateY(20deg) translateX(-30%) scale(0.65);
  transform: rotateY(20deg) translateX(-30%) scale(0.65);
  opacity: 0.04;
  z-index: 0; }

/* comeIn */
#osm-wrapper.osm-2 #osm-menu.comeIn
#osm-wrapper.osm-2 .osm-menu.comeIn {
  -webkit-transform: rotateY(20deg) translateY(0%);
  -ms-transform: rotateY(20deg) translateY(0%);
  -moz-transform: rotateY(20deg) translateY(0%);
  -o-transform: rotateY(20deg) translateY(0%);
  transform: rotateY(20deg) translateY(0%);
  opacity: 0.98;
  z-index: 1; }

@media (max-width: 400px) {
  #osm-wrapper.osm-2 #osm-menu,
  #osm-wrapper.osm-2 .osm-menu {
    width: 90%;
    height: 80%;
    left: 5%;
    top: 10%; } }

/*
 
Classic Left 
osm-4 

*/
#osm-wrapper.osm-4 #osm-menu,
#osm-wrapper.osm-4 .osm-menu {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* menu size */
  width: 65%;
  height: 100%;
  left: 0% !important;
  top: 0% !important;
  /* transform origin osm-menu */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  /* menu init position */
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 1;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 1; }

/* transform origin osm-website */
#osm-wrapper.osm-4 #osm-website {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transform origin osm-website */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 0; }

/* goAway*/
#osm-wrapper.osm-4 #osm-website.goAway {
  -webkit-transform: translateX(65%) scale(1);
  -ms-transform: translateX(65%) scale(1);
  -moz-transform: translateX(65%) scale(1);
  -o-transform: translateX(65%) scale(1);
  transform: translateX(65%) scale(1);
  opacity: 1;
  z-index: 0; }

/* comeIn */
#osm-wrapper.osm-4 #osm-menu.comeIn,
#osm-wrapper.osm-4 .osm-menu.comeIn {
  -webkit-transform: translateX(0%) !important;
  -ms-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
  z-index: 1; }

@media (max-width: 400px) {
  #osm-wrapper.osm-4 #osm-menu,
  #osm-wrapper.osm-4 .osm-menu {
    width: 90%;
    height: 100%;
    left: 0%;
    top: 0%; }
  #osm-wrapper.osm-4 #osm-website.goAway {
    -webkit-transform: translateX(90%) scale(1);
    -ms-transform: translateX(90%) scale(1);
    -moz-transform: translateX(90%) scale(1);
    -o-transform: translateX(90%) scale(1);
    transform: translateX(90%) scale(1);
    opacity: 1;
    z-index: 0; } }

/*
 
Classic Left Parallax 
osm-5 

*/
#osm-wrapper.osm-5 #osm-menu,
#osm-wrapper.osm-5 .osm-menu {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* menu size */
  width: 65%;
  height: 100%;
  left: 0%;
  top: 0%;
  /* transform origin osm-menu */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  /* menu init position */
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 1;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 1; }

/* transform origin osm-website */
#osm-wrapper.osm-5 #osm-website {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transform origin osm-website */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 0; }

/* goAway*/
#osm-wrapper.osm-5 #osm-website.goAway {
  -webkit-transform: translateX(25%) scale(1);
  -ms-transform: translateX(25%) scale(1);
  -moz-transform: translateX(25%) scale(1);
  -o-transform: translateX(25%) scale(1);
  transform: translateX(25%) scale(1);
  opacity: 1;
  z-index: 0; }

/* comeIn */
#osm-wrapper.osm-5 #osm-menu.comeIn,
#osm-wrapper.osm-5 .osm-menu.comeIn {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
  z-index: 1; }

@media (max-width: 400px) {
  #osm-wrapper.osm-5 #osm-menu,
  #osm-wrapper.osm-5 .osm-menu {
    width: 90%;
    height: 100%;
    left: 0%;
    top: 0%; }
  #osm-wrapper.osm-5 #osm-website.goAway {
    -webkit-transform: translateX(50%) scale(1);
    -ms-transform: translateX(50%) scale(1);
    -moz-transform: translateX(50%) scale(1);
    -o-transform: translateX(50%) scale(1);
    transform: translateX(50%) scale(1);
    opacity: 1;
    z-index: 0; } }

/*
 
Flip Bottom 
osm-7 

*/
#osm-wrapper.osm-7 #osm-menu,
#osm-wrapper.osm-7 .osm-menu {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* menu size */
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  /* transform origin osm-menu */
  -webkit-transform-origin: 50% 122.5%;
  -moz-transform-origin: 50% 122.5%;
  -o-transform-origin: 50% 122.5%;
  -ms-transform-origin: 50% 122.5%;
  transform-origin: 50% 122.5%;
  /* menu init position */
  -webkit-transform: rotateX(-110deg) scale(1);
  -ms-transform: rotateX(-110deg) scale(1);
  -moz-transform: rotateX(-110deg) scale(1);
  -o-transform: rotateX(-110deg) scale(1);
  transform: rotateX(-110deg) scale(1);
  opacity: 1;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 1; }

/* transform origin osm-website */
#osm-wrapper.osm-7 #osm-website {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transform origin osm-website */
  -webkit-transform-origin: 50% 112%;
  -moz-transform-origin: 50% 112%;
  -o-transform-origin: 50% 112%;
  -ms-transform-origin: 50% 112%;
  transform-origin: 50% 112%;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 0; }

/* goAway*/
#osm-wrapper.osm-7 #osm-website.goAway {
  -webkit-transform: rotateX(140deg) scale(1);
  -ms-transform: rotateX(140deg) scale(1);
  -moz-transform: rotateX(140deg) scale(1);
  -o-transform: rotateX(140deg) scale(1);
  transform: rotateX(140deg) scale(1);
  opacity: 0;
  z-index: 0; }

/* comeIn */
#osm-wrapper.osm-7 #osm-menu.comeIn,
#osm-wrapper.osm-7 .osm-menu.comeIn {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
  z-index: 1; }

/*
 
Flip Top 
osm-9 

*/
#osm-wrapper.osm-9 #osm-menu,
#osm-wrapper.osm-9 .osm-menu {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* menu size */
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  /* transform origin osm-menu */
  -webkit-transform-origin: 50% -20%;
  -moz-transform-origin: 50% -20%;
  -o-transform-origin: 50% -20%;
  -ms-transform-origin: 50% -20%;
  transform-origin: 50% -20%;
  /* menu init position */
  -webkit-transform: rotateX(-120deg) scale(1);
  -ms-transform: rotateX(-120deg) scale(1);
  -moz-transform: rotateX(-120deg) scale(1);
  -o-transform: rotateX(-120deg) scale(1);
  transform: rotateX(-120deg) scale(1);
  opacity: 1;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 1; }

/* transform origin osm-website */
#osm-wrapper.osm-9 #osm-website {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transform origin osm-website */
  -webkit-transform-origin: 50% 112%;
  -moz-transform-origin: 50% 112%;
  -o-transform-origin: 50% 112%;
  -ms-transform-origin: 50% 112%;
  transform-origin: 50% 112%;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 0; }

/* goAway*/
#osm-wrapper.osm-9 #osm-website.goAway {
  -webkit-transform: rotateX(140deg) scale(1);
  -ms-transform: rotateX(140deg) scale(1);
  -moz-transform: rotateX(140deg) scale(1);
  -o-transform: rotateX(140deg) scale(1);
  transform: rotateX(140deg) scale(1);
  opacity: 0;
  z-index: 0; }

/* comeIn */
#osm-wrapper.osm-9 #osm-menu.comeIn,
#osm-wrapper.osm-9 .osm-menu.comeIn {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
  z-index: 1; }

/*
 
Flip Transparent Right 
osm-10 

*/
#osm-wrapper.osm-10 #osm-menu,
#osm-wrapper.osm-10 .osm-menu {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* menu size */
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  /* transform origin osm-menu */
  -webkit-transform-origin: 110% 50%;
  -moz-transform-origin: 110% 50%;
  -o-transform-origin: 110% 50%;
  -ms-transform-origin: 110% 50%;
  transform-origin: 110% 50%;
  /* menu init position */
  -webkit-transform: rotateY(120deg) translateY(0%);
  -ms-transform: rotateY(120deg) translateY(0%);
  -moz-transform: rotateY(120deg) translateY(0%);
  -o-transform: rotateY(120deg) translateY(0%);
  transform: rotateY(120deg) translateY(0%);
  opacity: 1;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 1; }

/* transform origin osm-website */
#osm-wrapper.osm-10 #osm-website {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transform origin osm-website */
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 0; }

/* goAway*/
#osm-wrapper.osm-10 #osm-website.goAway {
  -webkit-transform: rotateZ(0deg) rotateY(-55deg) rotateX(0deg) translateY(0%) translateX(0%) scale(1);
  -ms-transform: rotateZ(0deg) rotateY(-55deg) rotateX(0deg) translateY(0%) translateX(0%) scale(1);
  -moz-transform: rotateZ(0deg) rotateY(-55deg) rotateX(0deg) translateY(0%) translateX(0%) scale(1);
  -o-transform: rotateZ(0deg) rotateY(-55deg) rotateX(0deg) translateY(0%) translateX(0%) scale(1);
  transform: rotateZ(0deg) rotateY(-55deg) rotateX(0deg) translateY(0%) translateX(0%) scale(1);
  opacity: 0.5;
  z-index: 0; }

/* comeIn */
#osm-wrapper.osm-10 #osm-menu.comeIn,
#osm-wrapper.osm-10 .osm-menu.comeIn {
  -webkit-transform: rotateY(0deg) translateY(0%);
  -ms-transform: rotateY(0deg) translateY(0%);
  -moz-transform: rotateY(0deg) translateY(0%);
  -o-transform: rotateY(0deg) translateY(0%);
  transform: rotateY(0deg) translateY(0%);
  opacity: 0.96;
  z-index: 1; }

/*
 
Flip Y Parallax 
osm-11 

*/
#osm-wrapper.osm-11 #osm-menu,
#osm-wrapper.osm-11 .osm-menu {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* menu size */
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  /* transform origin osm-menu */
  -webkit-transform-origin: -10% 50%;
  -moz-transform-origin: -10% 50%;
  -o-transform-origin: -10% 50%;
  -ms-transform-origin: -10% 50%;
  transform-origin: -10% 50%;
  /* menu init position */
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  opacity: 0.8;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 1; }

/* transform origin osm-website */
#osm-wrapper.osm-11 #osm-website {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transform origin osm-website */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 0; }

/* goAway*/
#osm-wrapper.osm-11 #osm-website.goAway {
  -webkit-transform: rotateY(180deg) scale(0.001);
  -ms-transform: rotateY(180deg) scale(0.001);
  -moz-transform: rotateY(180deg) scale(0.001);
  -o-transform: rotateY(180deg) scale(0.001);
  transform: rotateY(180deg) scale(0.001);
  opacity: 1;
  z-index: 0; }

/* comeIn */
#osm-wrapper.osm-11 #osm-menu.comeIn,
#osm-wrapper.osm-11 .osm-menu.comeIn {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 1;
  z-index: 1; }

/*
 
Page Turn Left 
osm-12 

*/
#osm-wrapper.osm-12 #osm-menu,
#osm-wrapper.osm-12 .osm-menu {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* menu size */
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  /* transform origin osm-menu */
  -webkit-transform-origin: -15% 50%;
  -moz-transform-origin: -15% 50%;
  -o-transform-origin: -15% 50%;
  -ms-transform-origin: -15% 50%;
  transform-origin: -15% 50%;
  /* menu init position */
  -webkit-transform: rotateY(100deg);
  -ms-transform: rotateY(100deg);
  -moz-transform: rotateY(100deg);
  -o-transform: rotateY(100deg);
  transform: rotateY(100deg);
  opacity: 0;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 1; }

/* transform origin osm-website */
#osm-wrapper.osm-12 #osm-website {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transform origin osm-website */
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 5; }

/* goAway*/
#osm-wrapper.osm-12 #osm-website.goAway {
  -webkit-transform: rotateY(-92deg) translateX(0%) scale(1);
  -ms-transform: rotateY(-92deg) translateX(0%) scale(1);
  -moz-transform: rotateY(-92deg) translateX(0%) scale(1);
  -o-transform: rotateY(-92deg) translateX(0%) scale(1);
  transform: rotateY(-92deg) translateX(0%) scale(1);
  opacity: 0.7;
  z-index: 5; }

/* comeIn */
#osm-wrapper.osm-12 #osm-menu.comeIn,
#osm-wrapper.osm-12 .osm-menu.comeIn {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 1;
  z-index: 1; }

/*
 
Page Turn Right 
osm-13 

*/
#osm-wrapper.osm-13 #osm-menu,
#osm-wrapper.osm-13 .osm-menu {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* menu size */
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  /* transform origin osm-menu */
  -webkit-transform-origin: -20% 50%;
  -moz-transform-origin: -20% 50%;
  -o-transform-origin: -20% 50%;
  -ms-transform-origin: -20% 50%;
  transform-origin: -20% 50%;
  /* menu init position */
  -webkit-transform: rotateY(-179deg);
  -ms-transform: rotateY(-179deg);
  -moz-transform: rotateY(-179deg);
  -o-transform: rotateY(-179deg);
  transform: rotateY(-179deg);
  opacity: 1;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: -10; }

/* transform origin osm-website */
#osm-wrapper.osm-13 #osm-website {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transform origin osm-website */
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 10; }

/* goAway*/
#osm-wrapper.osm-13 #osm-website.goAway {
  -webkit-transform: rotateY(120deg) translateX(0%);
  -ms-transform: rotateY(120deg) translateX(0%);
  -moz-transform: rotateY(120deg) translateX(0%);
  -o-transform: rotateY(120deg) translateX(0%);
  transform: rotateY(120deg) translateX(0%);
  opacity: 1;
  z-index: 10; }

/* comeIn */
#osm-wrapper.osm-13 #osm-menu.comeIn,
#osm-wrapper.osm-13 .osm-menu.comeIn {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 1;
  z-index: -10; }

/*
 
Scale Twist In Out 
osm-16 

*/
#osm-wrapper.osm-16 #osm-menu,
#osm-wrapper.osm-16 .osm-menu {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* menu size */
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  /* transform origin osm-menu */
  -webkit-transform-origin: -18% 0%;
  -moz-transform-origin: -18% 0%;
  -o-transform-origin: -18% 0%;
  -ms-transform-origin: -18% 0%;
  transform-origin: -18% 0%;
  /* menu init position */
  -webkit-transform: rotateZ(-89deg) translateY(-10%) scale(0.1);
  -ms-transform: rotateZ(-89deg) translateY(-10%) scale(0.1);
  -moz-transform: rotateZ(-89deg) translateY(-10%) scale(0.1);
  -o-transform: rotateZ(-89deg) translateY(-10%) scale(0.1);
  transform: rotateZ(-89deg) translateY(-10%) scale(0.1);
  opacity: 1;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 1; }

/* transform origin osm-website */
#osm-wrapper.osm-16 #osm-website {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transform origin osm-website */
  -webkit-transform-origin: 0% 0100%;
  -moz-transform-origin: 0% 0100%;
  -o-transform-origin: 0% 0100%;
  -ms-transform-origin: 0% 0100%;
  transform-origin: 0% 0100%;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 0; }

/* goAway*/
#osm-wrapper.osm-16 #osm-website.goAway {
  -webkit-transform: rotateZ(90deg) scale(0.1);
  -ms-transform: rotateZ(90deg) scale(0.1);
  -moz-transform: rotateZ(90deg) scale(0.1);
  -o-transform: rotateZ(90deg) scale(0.1);
  transform: rotateZ(90deg) scale(0.1);
  opacity: 1;
  z-index: 0; }

/* comeIn */
#osm-wrapper.osm-16 #osm-menu.comeIn,
#osm-wrapper.osm-16 .osm-menu.comeIn {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
  z-index: 1; }

/*
 
Shy Behind Left 
osm-17 

*/
#osm-wrapper.osm-17 #osm-menu,
#osm-wrapper.osm-17 .osm-menu {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* menu size */
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  /* transform origin osm-menu */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  /* menu init position */
  -webkit-transform: translateX(-180%) scale(1.3);
  -ms-transform: translateX(-180%) scale(1.3);
  -moz-transform: translateX(-180%) scale(1.3);
  -o-transform: translateX(-180%) scale(1.3);
  transform: translateX(-180%) scale(1.3);
  opacity: 1;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 1; }

/* transform origin osm-website */
#osm-wrapper.osm-17 #osm-website {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transform origin osm-website */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 0; }

/* goAway*/
#osm-wrapper.osm-17 #osm-website.goAway {
  -webkit-transform: translateX(9%) scale(0.6);
  -ms-transform: translateX(9%) scale(0.6);
  -moz-transform: translateX(9%) scale(0.6);
  -o-transform: translateX(9%) scale(0.6);
  transform: translateX(9%) scale(0.6);
  opacity: 1;
  z-index: 0; }

/* comeIn */
#osm-wrapper.osm-17 #osm-menu.comeIn,
#osm-wrapper.osm-17 .osm-menu.comeIn {
  -webkit-transform: translateX(0%) scale(1);
  -ms-transform: translateX(0%) scale(1);
  -moz-transform: translateX(0%) scale(1);
  -o-transform: translateX(0%) scale(1);
  transform: translateX(0%) scale(1);
  opacity: 1;
  z-index: 1; }

/*
 
Slide Behind Left 
osm-18 

*/
#osm-wrapper.osm-18 #osm-menu,
#osm-wrapper.osm-18 .osm-menu {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* menu size */
  width: 70%;
  height: 100%;
  left: 0%;
  top: 0%;
  /* transform origin osm-menu */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  /* menu init position */
  -webkit-transform: translateX(15%) scale(1);
  -ms-transform: translateX(15%) scale(1);
  -moz-transform: translateX(15%) scale(1);
  -o-transform: translateX(15%) scale(1);
  transform: translateX(15%) scale(1);
  opacity: 1;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 0; }

/* transform origin osm-website */
#osm-wrapper.osm-18 #osm-website {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transform origin osm-website */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 1; }

/* goAway*/
#osm-wrapper.osm-18 #osm-website.goAway {
  -webkit-transform: translateX(70%) scale(1);
  -ms-transform: translateX(70%) scale(1);
  -moz-transform: translateX(70%) scale(1);
  -o-transform: translateX(70%) scale(1);
  transform: translateX(70%) scale(1);
  opacity: 1;
  z-index: 1; }

/* comeIn */
#osm-wrapper.osm-18 #osm-menu.comeIn,
#osm-wrapper.osm-18 .osm-menu.comeIn {
  -webkit-transform: translateX(0%) scale(1);
  -ms-transform: translateX(0%) scale(1);
  -moz-transform: translateX(0%) scale(1);
  -o-transform: translateX(0%) scale(1);
  transform: translateX(0%) scale(1);
  opacity: 1;
  z-index: 0; }

/*
 
Subtle Flip 
osm-30 

*/
#osm-wrapper.osm-30 #osm-menu,
#osm-wrapper.osm-30 .osm-menu {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* menu size */
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  /* transform origin osm-menu */
  -webkit-transform-origin: 50% 112.5%;
  -moz-transform-origin: 50% 112.5%;
  -o-transform-origin: 50% 112.5%;
  -ms-transform-origin: 50% 112.5%;
  transform-origin: 50% 112.5%;
  /* menu init position */
  -webkit-transform: rotateX(-30deg) scale(1);
  -ms-transform: rotateX(-30deg) scale(1);
  -moz-transform: rotateX(-30deg) scale(1);
  -o-transform: rotateX(-30deg) scale(1);
  transform: rotateX(-30deg) scale(1);
  opacity: 0;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 1; }

/* transform origin osm-website */
#osm-wrapper.osm-30 #osm-website {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transform origin osm-website */
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 0; }

/* goAway*/
#osm-wrapper.osm-30 #osm-website.goAway {
  -webkit-transform: rotateX(30deg) scale(1);
  -ms-transform: rotateX(30deg) scale(1);
  -moz-transform: rotateX(30deg) scale(1);
  -o-transform: rotateX(30deg) scale(1);
  transform: rotateX(30deg) scale(1);
  opacity: 0;
  z-index: 1; }

/* comeIn */
#osm-wrapper.osm-30 #osm-menu.comeIn,
#osm-wrapper.osm-30 .osm-menu.comeIn {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
  z-index: 1; }

/*
 
Twist In 
osm-21 

*/
#osm-wrapper.osm-21 #osm-menu,
#osm-wrapper.osm-21 .osm-menu {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* menu size */
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  /* transform origin osm-menu */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  /* menu init position */
  -webkit-transform: rotateZ(-179deg) scale(0.001);
  -ms-transform: rotateZ(-179deg) scale(0.001);
  -moz-transform: rotateZ(-179deg) scale(0.001);
  -o-transform: rotateZ(-179deg) scale(0.001);
  transform: rotateZ(-179deg) scale(0.001);
  opacity: 0;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 1; }

/* transform origin osm-website */
#osm-wrapper.osm-21 #osm-website {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transform origin osm-website */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 0; }

/* goAway*/
#osm-wrapper.osm-21 #osm-website.goAway {
  -webkit-transform: rotateZ(20deg) scale(1.5);
  -ms-transform: rotateZ(20deg) scale(1.5);
  -moz-transform: rotateZ(20deg) scale(1.5);
  -o-transform: rotateZ(20deg) scale(1.5);
  transform: rotateZ(20deg) scale(1.5);
  opacity: 0;
  z-index: 0; }

/* comeIn */
#osm-wrapper.osm-21 #osm-menu.comeIn,
#osm-wrapper.osm-21 .osm-menu.comeIn {
  -webkit-transform: rotateZ(0deg) translateY(0%);
  -ms-transform: rotateZ(0deg) translateY(0%);
  -moz-transform: rotateZ(0deg) translateY(0%);
  -o-transform: rotateZ(0deg) translateY(0%);
  transform: rotateZ(0deg) translateY(0%);
  opacity: 1;
  z-index: 1; }

/*
 
Twist In Angled 
osm-22 

*/
#osm-wrapper.osm-22 #osm-menu,
#osm-wrapper.osm-22 .osm-menu {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* menu size */
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  /* transform origin osm-menu */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  /* menu init position */
  -webkit-transform: rotateZ(-190deg) scale(0.001);
  -ms-transform: rotateZ(-190deg) scale(0.001);
  -moz-transform: rotateZ(-190deg) scale(0.001);
  -o-transform: rotateZ(-190deg) scale(0.001);
  transform: rotateZ(-190deg) scale(0.001);
  opacity: 0.9;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 1; }

/* transform origin osm-website */
#osm-wrapper.osm-22 #osm-website {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transform origin osm-website */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 0; }

/* goAway*/
#osm-wrapper.osm-22 #osm-website.goAway {
  -webkit-transform: rotateZ(365deg) scale(0.75);
  -ms-transform: rotateZ(365deg) scale(0.75);
  -moz-transform: rotateZ(365deg) scale(0.75);
  -o-transform: rotateZ(365deg) scale(0.75);
  transform: rotateZ(365deg) scale(0.75);
  opacity: 1;
  z-index: 0; }

/* comeIn */
#osm-wrapper.osm-22 #osm-menu.comeIn,
#osm-wrapper.osm-22 .osm-menu.comeIn {
  -webkit-transform: rotateZ(-2deg) translateY(0%);
  -ms-transform: rotateZ(-2deg) translateY(0%);
  -moz-transform: rotateZ(-2deg) translateY(0%);
  -o-transform: rotateZ(-2deg) translateY(0%);
  transform: rotateZ(-2deg) translateY(0%);
  opacity: 1;
  z-index: 1; }

/*
 
Twist On X 
osm-24 

*/
#osm-wrapper.osm-24 #osm-menu,
#osm-wrapper.osm-24 .osm-menu {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* menu size */
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  /* transform origin osm-menu */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  /* menu init position */
  -webkit-transform: rotateX(-179deg) scale(1);
  -ms-transform: rotateX(-179deg) scale(1);
  -moz-transform: rotateX(-179deg) scale(1);
  -o-transform: rotateX(-179deg) scale(1);
  transform: rotateX(-179deg) scale(1);
  opacity: 1;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 1; }

/* transform origin osm-website */
#osm-wrapper.osm-24 #osm-website {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transform origin osm-website */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 0; }

/* goAway*/
#osm-wrapper.osm-24 #osm-website.goAway {
  -webkit-transform: rotateX(179deg) translateY(0%) scale(0.2);
  -ms-transform: rotateX(179deg) translateY(0%) scale(0.2);
  -moz-transform: rotateX(179deg) translateY(0%) scale(0.2);
  -o-transform: rotateX(179deg) translateY(0%) scale(0.2);
  transform: rotateX(179deg) translateY(0%) scale(0.2);
  opacity: 0;
  z-index: 0; }

/* comeIn */
#osm-wrapper.osm-24 #osm-menu.comeIn,
#osm-wrapper.osm-24 .osm-menu.comeIn {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
  z-index: 1; }

/*
 
Twist On Y 
osm-25 

*/
#osm-wrapper.osm-25 #osm-menu,
#osm-wrapper.osm-25 .osm-menu {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* menu size */
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  /* transform origin osm-menu */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  /* menu init position */
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  opacity: 1;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 1; }

/* transform origin osm-website */
#osm-wrapper.osm-25 #osm-website {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transform origin osm-website */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 0; }

/* goAway*/
#osm-wrapper.osm-25 #osm-website.goAway {
  -webkit-transform: rotateY(-180deg) scale(0.2);
  -ms-transform: rotateY(-180deg) scale(0.2);
  -moz-transform: rotateY(-180deg) scale(0.2);
  -o-transform: rotateY(-180deg) scale(0.2);
  transform: rotateY(-180deg) scale(0.2);
  opacity: 1;
  z-index: 0; }

/* comeIn */
#osm-wrapper.osm-25 #osm-menu.comeIn,
#osm-wrapper.osm-25 .osm-menu.comeIn {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 1;
  z-index: 1; }

/*
 
Twistout Paralax Transparent 
osm-26 

*/
#osm-wrapper.osm-26 #osm-menu,
#osm-wrapper.osm-26 .osm-menu {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* menu size */
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  /* transform origin osm-menu */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  /* menu init position */
  -webkit-transform: rotateZ(179deg) translateY(0%) scale(1.4);
  -ms-transform: rotateZ(179deg) translateY(0%) scale(1.4);
  -moz-transform: rotateZ(179deg) translateY(0%) scale(1.4);
  -o-transform: rotateZ(179deg) translateY(0%) scale(1.4);
  transform: rotateZ(179deg) translateY(0%) scale(1.4);
  opacity: 0;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 1; }

/* transform origin osm-website */
#osm-wrapper.osm-26 #osm-website {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transform origin osm-website */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 0; }

/* goAway*/
#osm-wrapper.osm-26 #osm-website.goAway {
  -webkit-transform: rotateZ(365deg) scale(0.55);
  -ms-transform: rotateZ(365deg) scale(0.55);
  -moz-transform: rotateZ(365deg) scale(0.55);
  -o-transform: rotateZ(365deg) scale(0.55);
  transform: rotateZ(365deg) scale(0.55);
  opacity: 0.3;
  z-index: 0; }

/* comeIn */
#osm-wrapper.osm-26 #osm-menu.comeIn,
#osm-wrapper.osm-26 .osm-menu.comeIn {
  -webkit-transform: rotateZ(-1deg) translateY(0%);
  -ms-transform: rotateZ(-1deg) translateY(0%);
  -moz-transform: rotateZ(-1deg) translateY(0%);
  -o-transform: rotateZ(-1deg) translateY(0%);
  transform: rotateZ(-1deg) translateY(0%);
  opacity: 0.9;
  z-index: 1; }

/*
 
Zoomout Paralax TRANS 
osm-29 

*/
#osm-wrapper.osm-29 #osm-menu,
#osm-wrapper.osm-29 .osm-menu {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* menu size */
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  /* transform origin osm-menu */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  /* menu init position */
  -webkit-transform: translateY(0%) scale(1.4);
  -ms-transform: translateY(0%) scale(1.4);
  -moz-transform: translateY(0%) scale(1.4);
  -o-transform: translateY(0%) scale(1.4);
  transform: translateY(0%) scale(1.4);
  opacity: 0;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 1; }

/* transform origin osm-website */
#osm-wrapper.osm-29 #osm-website {
  /* backface visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transform origin osm-website */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 0; }

/* goAway*/
#osm-wrapper.osm-29 #osm-website.goAway {
  -webkit-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
  opacity: 0.3;
  z-index: 0; }

/* comeIn */
#osm-wrapper.osm-29 #osm-menu.comeIn,
#osm-wrapper.osm-29 .osm-menu.comeIn {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 0.9;
  z-index: 1; }

/* ----/ end of the mandatory CSS required for component to work properly -- */
/*

  OPTIONAL Styling for menu that user can use for jumpstart in design
  All NESTED inside #osm-menu,.osm-menu, so the possibillity of clashing
  with other css is minimal.

*/
#osm-menu .osm-defaultStyle,
.osm-menu .osm-defaultStyle {
  width: 100%;
  height: 100%;
  background-color: #191919;
  border: 1px solid #333;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  padding: 2em 1em;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #osm-menu .osm-defaultStyle h1, #osm-menu .osm-defaultStyle h2, #osm-menu .osm-defaultStyle h3, #osm-menu .osm-defaultStyle h4, #osm-menu .osm-defaultStyle p,
  .osm-menu .osm-defaultStyle h1,
  .osm-menu .osm-defaultStyle h2,
  .osm-menu .osm-defaultStyle h3,
  .osm-menu .osm-defaultStyle h4,
  .osm-menu .osm-defaultStyle p {
    color: #aaa;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s; }
  #osm-menu .osm-defaultStyle h3,
  .osm-menu .osm-defaultStyle h3 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.1em; }
  #osm-menu .osm-defaultStyle h1,
  .osm-menu .osm-defaultStyle h1 {
    cursor: pointer;
    font-size: 1.7em;
    margin-top: 0.2em;
    margin-bottom: 0.2em; }
  #osm-menu .osm-defaultStyle h1:hover,
  .osm-menu .osm-defaultStyle h1:hover {
    color: white;
    text-shadow: 0px 0px 40px rgba(255, 255, 255, 0.5); }
  @media only screen and (min-width: 1px) and (max-width: 768px) {
    #osm-menu .osm-defaultStyle h1,
    .osm-menu .osm-defaultStyle h1 {
      font-size: 1.9em; } }
  @media only screen and (min-width: 768px) and (max-width: 1025px) {
    #osm-menu .osm-defaultStyle h1,
    .osm-menu .osm-defaultStyle h1 {
      font-size: 2.6em; } }
  @media only screen and (min-width: 1025px) and (max-width: 1200px) {
    #osm-menu .osm-defaultStyle h1,
    .osm-menu .osm-defaultStyle h1 {
      font-size: 2.8em; } }
  @media only screen and (min-width: 1200px) {
    #osm-menu .osm-defaultStyle h1,
    .osm-menu .osm-defaultStyle h1 {
      font-size: 3em; } }
