.dgrid-hider-toggle {
	background-position: 0 -192px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
}

.dgrid-hider-menu {
	position: absolute;
	top: 0;
	right: 17px;
	width: 184px;
	/*background-color: #fff;*/
	border: 1px solid black;
	z-index: 99999;
	padding: 4px;
	overflow-x: hidden;
	overflow-y: auto;
}

.dgrid-hider-menu-row {
	position: relative;
	padding: 2px;
}
.dgrid-hider-menu-check {
	position: absolute;
	top: 2px;
	left: 2px;
	padding: 0;
}
.dgrid-hider-menu-label {
	display: block;
	padding-left: 20px;
}

html.has-quirks .dgrid-hider-menu-check,
html.has-ie-6-7 .dgrid-hider-menu-check {
	/* IE < 8 seems to ignore padding: 0, so counteract */
	top: 0;
	left: 0;
}

#dgrid-css-extensions-ColumnHider-loaded {
	display: none;
}
