.dgrid-column-resizer {
	position: absolute;
	width: 2px;
	background-color: #666;
	z-index: 1000;
}

.dgrid-resize-handle {
	height: 100px;
	width: 0;
	position: absolute;
	right: -4px;
	top:-4px;
	cursor: col-resize;
	z-index: 999;
    border-left: 5px solid rgba(0,0,0,0.2);
	outline: none;
}
html.has-ie-6 .dgrid-resize-handle {
	border-color: pink;
	filter: chroma(color=pink);
}
.dgrid-resize-header-container {
	height:100%;
}

/* make the resize handles larger on touch-capable devices */
html.has-touch .dgrid-resize-handle {
	border-left: 20px solid transparent;
}
html.has-touch .dgrid-column-resizer {
	width: 2px;
}

html.has-no-quirks .dgrid-resize-header-container {
	/* set to relative so we can do the resizing against this node...
		except when in quirks mode, where we have to use the th */
	position: relative;
}
html.has-ie-6 .dgrid-resize-header-container {
	position: static; /* and in IE6 we have to do the th hack */
} 
.dgrid-header .dgrid-cell-padding {
	overflow: hidden;
}
html.has-ie-6 .dgrid-header .dgrid-cell-padding {
	margin-right: 4px; /* for IE6, keep the resizer visible */
}
html.has-ie-6 .dgrid-header .dgrid-sort-arrow {
    margin-right: 0; /* for IE6, zero out the right margin due to the right margin for the container */
}
html.has-quirks .dgrid-header .dgrid-cell-padding, html.has-ie-6 .dgrid-header .dgrid-cell {
	position:relative;
}

#dgrid-css-extensions-ColumnResizer-loaded {
	display: none;
}
