/* Accordion
 * 
 * Styling AccordionContainer basically means styling the accordion pane (dijitAccordionInnerContainer)
 * and the title inside of it (dijitAccordionTitle).   There are 4 basic states to style:
 * 
 * 1. closed pane (and default styling): 
 * 		.dijitAccordionInnerContainer - container for each accordion child
 * 		.dijitAccordionTitle - title for each accordion child
 *
 * 2. active closed pane (ie, mouse down on a title bar)
 * 		.dijitAccordionInnerContainerActive - for background-color, border
 * 		.dijitAccordionInnerContainerActive dijitAccordionTitle - for text color
 * 
 * 3. open pane (expanded child)
 *		.dijitAccordionChildWrapper - wraps around the child widget (typically ContentPane)
 *			setting a margin so that there's blue trim all the way around the child
 *
 * 		These rules need to override the closed pane active:
 *
 * 		.dijitAccordionInnerContainerSelected - for background-color, border
 * 		.dijitAccordionInnerContainerSelected .dijitAccordionTitle - for text color
 * 
 * 4. hovered pane, open or closed
 * 		The selectors below affect hovering over both a closed pane (ie, hovering a title bar),
 * 		and hovering over an open pane.   Also, treat mouse down on an open pane as a hover:
 *
 * 		.dijitAccordionInnerContainerHover, .dijitAccordionInnerContainerSelectedActive - for background-color, border
 * 		.dijitAccordionInnerContainerHover .dijitAccordionTitle - for text color
 */
.dijitAccordionContainer {
  border: 0 none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.dijitAccordionInnerContainer {
  background: transparent;
/*border: $accordion-border;*/
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition-property: background-color, border;
  -moz-transition-property: background-color, border;
  -o-transition-property: background-color, border;
  -ms-transition-property: background-color, border;
  transition-property: background-color, border;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  transition-timing-function: linear;
}
.dijitAccordionInnerContainer +.dijitAccordionInnerContainer {
  margin-top: 0px;
  position: relative;
}
/* title bar */
.dijitAccordionTitle {
  border-style: solid;
/*border-width: 1px;*/
  padding: 2px 6px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 15px;
/*text-shadow: $button-text-shadow;*/
  cursor: pointer;
  border-color: #d0d0d0;
  background: #f5f5f5;
  background: -webkit-linear-gradient(#f5f5f5, #f5f5f5);
  background: -moz-linear-gradient(#f5f5f5, #f5f5f5);
  background: -o-linear-gradient(#f5f5f5, #f5f5f5);
  background: -ms-linear-gradient(#f5f5f5, #f5f5f5);
  background: linear-gradient(#f5f5f5, #f5f5f5);
  border: 0 none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.dijitAccordionTitle .arrowTextUp,
.dijitAccordionTitle .arrowTextDown {
  display: none;
  float: right;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-decoration: inherit;
  vertical-align: bottom;
  text-align: center;
  font-size: 0px;
}
.dijitAccordionTitle .arrowTextUp:before,
.dijitAccordionTitle .arrowTextDown:before {
  content: "\f078";
  font-size: 12px;
}
.dijitAccordionTitle .arrowTextUp {
  display: block;
}
.dijitAccordionTitle .arrowTextUp:before {
  content: "\f077";
}
/* Hover */
.dijitAccordionInnerContainerHover .dijitAccordionTitle {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
/*background: darken(color, 8%); // fallback
	background: linear-gradient(lighten(color, 5%), darken(color, 8%));*/
}
/* Active */
.dijitAccordionInnerContainerActive .dijitAccordionTitle {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  outline: none;
/*background: darken(color, 15%); // fallback*/
/*background: linear-gradient(color, color);*/
}
/* Selected */
.dijitAccordionInnerContainerSelected {
  border: 0 none;
}
.dijitAccordionInnerContainerSelected .dijitAccordionTitle {
/*color: $accordion-title-bar-checked-text-color;*/
/*text-shadow: $accordion-title-bar-checked-text-shadow;*/
  background: #007ac2;
  -webkit-box-shadow: 0 1px 3px -2px rgba(0,0,0,0.3);
  box-shadow: 0 1px 3px -2px rgba(0,0,0,0.3);
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.dijitAccordionInnerContainerSelected .dijitAccordionTitle .arrowTextUp {
  display: none;
}
.dijitAccordionInnerContainerSelected .dijitAccordionTitle .arrowTextDown {
  display: block;
}
/* content wrapper */
.dijitAccordionContainer .dijitAccordionChildWrapper {
/*background-color: $accordion-content-background;*/
/*border: $accordion-content-border;*/
  border-top: 0 none;
  position: relative;
  z-index: 1;
  clear: both;
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
/* if the spacing between panes is 0 */
.dijitAccordionInnerContainer {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.dijitAccordionInnerContainer .dijitAccordionTitle {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.dijitAccordionInnerContainer:not(:last-child) .dijitAccordionChildWrapper {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.dijitAccordionInnerContainer +.dijitAccordionInnerContainer {
  border-top: 0 none;
}
.dijitAccordionInnerContainer +.dijitAccordionInnerContainerSelected:last-child .dijitAccordionTitle {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.dijitAccordionInnerContainer:first-child,
.dijitAccordionInnerContainer:first-child .dijitAccordionTitle {
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.dijitAccordionInnerContainer:last-child,
.dijitAccordionInnerContainer:last-child .dijitAccordionTitle {
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
