/* ContentPane 
 *	
 * .dijitContentPane
 * 	set padding for basic content pane
 * 	
 * Nested layouts:
 * 
 * .dijitTabContainerTop-dijitContentPane,
 * .dijitTabContainerLeft-dijitContentPane,
 * .dijitTabContainerBottom-dijitContentPane,
 * .dijitTabContainerRight-dijitContentPane
 * 	set background-color and padding of ContentPanes nested within TabContainer (can do top, left, bottom, or right) or Accordion Container
 *
 * .dijitAccordionContainer-dijitContentPane
 * 	set background-color and padding of ContentPane nested within Accordion
 *
 * .dijitSplitContainer-dijitContentPane, 
 *	set background-color and padding of ContentPane nested within a SplitContainer 
 *
 * .dijitBorderContainer-dijitContentPane
 *	set background-color and padding of ContentPane nested within a BorderContainer 
 */
/* contentpane in other layouts */
.dijitTabContainerTop-dijitContentPane,
.dijitTabContainerLeft-dijitContentPane,
.dijitTabContainerBottom-dijitContentPane,
.dijitTabContainerRight-dijitContentPane,
.dijitAccordionContainer-dijitContentPane {
/*background: $contentpane-nested-background;
	padding: $contentpane-nested-padding;*/
  left: 0 !important;
  top: 0 !important;
}
