//
// Copyright 2014 Esri
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

/* TabContainer 
 * 
 * Styling TabContainer means styling the TabList and Its content container  (dijitTitlePane)
 * 
 * Tab List: (including 4 kinds of tab location)
 * 		.dijitTabContainerTop-tabs     - tablist container at top
 * 		.dijitTabContainerBottom-tabs  - tablist container at bottom
 * 		.dijitTabContainerLeft-tabs    - tablist container at left
 * 		.dijitTabContainerRight-tabs   - tablist container at right
 * 
 * Tab Strip Button:
 * 		.dijitTabStripIcon - tab strip button icon
 * 		.dijitTabStripMenuIcon - down arrow icon position
 * 		.dijitTabStripSlideLeftIcon - left arrow icon position
 * 		.dijitTabStripSlideRightIcon - right arrow icon position
 * 
 * 		.tabStripButtonDisabled - styles for disabled tab strip buttons
 * 
 * Tab Button:
 * 		.dijitTabContainerTop-tabs .dijitTab     - styles for top tab button container
 * 		.dijitTabContainerBottom-tabs .dijitTab  - styles for bottom tab button container
 * 		.dijitTabContainerLeft-tabs .dijitTab    - styles for left tab button container
 * 		.dijitTabContainerRight-tabs .dijitTab   - styles for right tab button container
 * 
 * 		.dijitTabContainerTop-tabs .dijitTabChecked .dijitTab
 * 				- styles for selected status of top tab button
 * 		same to Bottom, Left, Right Tabs
 * 
 * 		.dijitTabHover .dijitTab   - styles when mouse hover on tab buttons
 * 		.dijitTabActive .dijitTab  - styles when mouse down on tab buttons
 * 		.dijitTabChecked .dijitTab  - styles when on buttons of selected tab
 * 
 * 		.dijitTabCloseButton - the close action buttons lie at the right top of each tab button on closable tabs
 * 		.dijitTabCloseButtonHover - styles when mouse hover on close action button
 * 		.dijitTabCloseButtonActive - styles when mouse down on close action button
 * 
 * Tab Button: (checked status)
 * 
 * Tab Content Container:
 * 		.dijitTabContainerTop-dijitContentPane
 * 		.dijitTabContainerBottom-dijitContentPane
 * 		.dijitTabContainerLeft-dijitContentPane
 * 		.dijitTabContainerRight-dijitContentPane - for background and padding
 * 
 * Nested Tabs:
 * 		.dijitTabContainerNested - Container for nested tabs
 * 		.dijitTabContainerTabListNested - tab list container for nested tabs
 */


@import "../../variables";

/************ common styles *************/

.dijitTabContainer {
	border-radius: $tab-wrapper-border-radius;
}

.dijitTabPaneWrapper {
	/*background: $tab-wrapper-background;
	border: $tab-wrapper-border;*/
	margin: 0;
	padding: 0;
	border-radius: 0 0 $tab-wrapper-border-radius $tab-wrapper-border-radius;
}

.dijitTabContainerTop-tabs,
.dijitTabContainerBottom-tabs,
.dijitTabContainerLeft-tabs,
.dijitTabContainerRight-tabs {
	border: 0;
}

.dijitTabSpacer {
	display: none if !$tab-has-gutter;
}

/* tabs */

.dijitTab {
	border: $tab-border;
	background: $tab-background;
	text-align: center;
	border-radius: $tab-border-radius;
	transition-property: background, padding, margin;
	transition-duration: .2s;
	transition-timing-function: ease;
	position: relative;
	z-index: 0;
	if ($tab-checked-has-highlight-border) {
		&:before {
			content: "";
			display: block;
			position: absolute;
		}
	}
}

/* tabs: hover */

.dijitTabHover {
	background: $primary-color;
}

/* tabs: active */

.dijitTabActive {
	background: $tab-active-background;
}

/* tabs: checked */

.dijitTabChecked {
	z-index: 1;
	&.dijitTabHover,
	&.dijitTabActive {
		border: $tab-checked-border;
		background: $tab-checked-background;
		color: $tab-checked-text-color;
	}
}

/* tabs: disabled */

.dijitTabDisabled {
	opacity: $disabled-opacity;
}

/* tabs: strip button */

.tabStripButton {
	background-color: transparent;
	border: none;
}

/* tabs: close button */

.dijitTabCloseButton {
	_icon-core-style();
	width: $tab-close-button-height;
	height: $tab-close-button-width;
	line-height: @height;
	vertical-align: middle;
	margin-left: $tab-padding;
	border-radius: $tab-close-button-border-radius;
	opacity: 0.35;
	&:before {
		content: "\f00d";
	}
}
.dijitTabCloseButtonHover {
	opacity: $tab-close-button-hover-opacity;
}
.dijitTabCloseButtonActive {
	opacity: $tab-close-button-active-opacity;
}

/************* end common **************/


/*************** top tabs ***************/

.dijitTabContainerTop-tabs {
	.dijitTab {
		top: 1px;
		margin-right: $tab-spacing;
		padding:$tab-top-padding;
		vertical-align: bottom;
	}
	.dijitTabHover,
	.dijitTabActive,
	.dijitTabChecked {
		padding-bottom: $tab-padding*2; 	
	}
	.dijitTabChecked {
		if ($tab-checked-has-highlight-border) {
			&:before {
				height: 2px;
				background: $tab-highlight-color;
				top: -1px;
				left: -1px;
				right: -1px;
			}
		}
	}
}

if (!$tab-has-gutter) {
	.dijitTabContainerTop-tabs .dijitTabChecked {
		border-bottom: 1px solid $tab-wrapper-background;
	}
} else {
	.dijitTabContainerTop-spacer {
		height: $tab-gutter-size;
	}
}

.dijitTabListContainer-top {
	margin-top: 1px;
	.dijitTab {
		top:0;
	}
}

/*************** end top tabs **************/

/*************** bottom tabs ***************/

.dijitTabPaneWrapper.dijitTabContainerBottom-container {
	border-radius: $tab-wrapper-border-radius $tab-wrapper-border-radius 0 0;
}

.dijitTabContainerBottom-tabs {
	.dijitTab {
		top:-1px;
		margin-right: $tab-spacing;
		padding:$tab-bottom-padding;
		vertical-align: top;
	}
	.dijitTabHover,
	.dijitTabActive,
	.dijitTabChecked {
		padding-top: $tab-padding*2; 	
	}
	.dijitTabChecked {
		if ($tab-checked-has-highlight-border) {
			&:before {
				height: 2px;
				background: $tab-highlight-color;
				bottom: -1px;
				left: -1px;
				right: -1px;
			}
		}
	}
}

if (!$tab-has-gutter) {
	.dijitTabContainerBottom-tabs .dijitTabChecked {
		border-top: 1px solid $tab-wrapper-background;
	}
} else {
	.dijitTabContainerBottom-spacer {
		height: $tab-gutter-size;
	}
}

.dijitTabListContainer-bottom {
	margin-top: -1px;
	.dijitTab {
		top:0;
	}
}

/************ end bottom tabs ************/

/*************** left tabs ***************/

.dijitTabPaneWrapper.dijitTabContainerLeft-container {
	border-radius: 0 $tab-wrapper-border-radius $tab-wrapper-border-radius 0;
    padding :8px;
}


.dijitTabContainerLeft-tabs {
	.dijitTab {
		margin-bottom: $tab-spacing;
		margin-left: $tab-padding;
		padding: $tab-left-padding;
		vertical-align: middle;
	}
	.dijitTabHover,
	.dijitTabActive,
	.dijitTabChecked {
		margin-left:0;
		padding-right: $tab-padding*4; 	
	}
	.dijitTabChecked {
		if ($tab-checked-has-highlight-border) {
			&:before {
				width: 2px;
				background: $tab-highlight-color;
				bottom: -1px;
				left: -1px;
				top: -1px;
			}
		}
	}
}

if (!$tab-has-gutter) {
	.dijitTabContainerLeft-tabs .dijitTabChecked {
		border-right: 1px solid $tab-wrapper-background;

	}
}else{
	.dijitTabContainerLeft-spacer {
		width: $tab-gutter-size;
	}
}

/************** end left tabs *************/

/*************** right tabs ***************/

.dijitTabPaneWrapper.dijitTabContainerRight-container{
	border-radius: $tab-wrapper-border-radius 0 0 $tab-wrapper-border-radius
 }

.dijitTabContainerRight-tabs {

  .dijitTab {

		margin-bottom: $tab-spacing;
		margin-right: $tab-padding;
		padding: $tab-right-padding;
		text-align: center;
		vertical-align: middle;
	}
	.dijitTabHover,
	.dijitTabActive,
	.dijitTabChecked {
		margin-right:0;
		padding-left: $tab-padding*4; 	
	}
	.dijitTabChecked {
		if ($tab-checked-has-highlight-border) {
			&:before {
				width: 2px;
				background: $tab-highlight-color;
				bottom: -1px;
				right: -1px;
				top: -1px;
			}
		}
	}
}

if (!$tab-has-gutter) {
	.dijitTabContainerRight-tabs .dijitTabChecked {
		border-left: 1px solid $tab-wrapper-background;
	}
}else{
	.dijitTabContainerRight-spacer {
		width: $tab-gutter-size;
	}
}

/************* end right tabs *************/

/************ left/right scroll buttons + menu button ***********/
.tabStripButton {
	background-color: transparent;
	border: 0;
	transition-property: background-color;
}

.dijitTabListContainer-top ,
.dijitTabListContainer-bottom {
	.tabStripButton {
		padding: $tab-padding $tab-padding*2;
		margin-left: $tab-spacing;
		margin-right $tab-spacing;
	}
}

.dijitTabListContainer-top {
	.tabStripButton {
		margin-bottom: 1px;
	}
}

.dijitTabListContainer-bottom {
	.tabStripButton {
		margin-top: 1px;
	}
}

.tabStripButtonHover {
	background: $tab-hover-background;
}

.tabStripButtonActive {
	background: $tab-active-background;
}

.dijitTabStripIcon {
	_icon-core-style();
	color: $tab-arrow-color;
	vertical-align: middle;
	&:before {
		content: "\f0d9";
	}
}

.dijitTabStripSlideRightIcon {
	&:before {
		content: "\f0da";
	}
}

.dijitTabStripMenuIcon {
	&:before {
		content: "\f0d7";
	}
}

/* disabled */

.dijitTabListContainer-top .tabStripButtonDisabled,
.dijitTabListContainer-bottom .tabStripButtonDisabled {
	opacity: $disabled-opacity;
}

/*********** end left/right scroll buttons + menu button *********/

/*************** nested tabs ***************/

.dijitTabContainerNested .dijitTabListWrapper {
	height: auto;
}

.dijitTabContainerTabListNested {
	.dijitTab {
		color: $nestedtab-text-color;
		margin: $tab-padding;
		padding: $nestedtab-padding;
		border: $nestedtab-border;
		border-radius: $nestedtab-border-radius;
		transition-property: background-color, border-color;
 		transition-duration: .3s;
	}
	.dijitTabHover {
		background: $nestedtab-hover-background;
	}
	.dijitTabActive {
		color: $nestedtab-active-text-color;
		background-color:$nestedtab-active-background;
	}
	.dijitTabChecked,
	.dijitTabChecked.dijitTabHover,
	.dijitTabChecked.dijitTabActive {
		color: $nestedtab-checked-text-color;
		background: $nestedtab-checked-background;
		&:before {
			display: none;
		}
	}

}

/************* nested top tabs *************/

.dijitTabContainerTabListNested.dijitTabContainerTop-tabs .dijitTab {
	margin-right: $nestedtab-spacing;
}

/************* nested bottom tabs *************/

.dijitTabContainerTabListNested.dijitTabContainerBottom-tabs .dijitTab {
	margin-right: $nestedtab-spacing;
}

/************* nested left tabs *************/

.dijitTabContainerTabListNested.dijitTabContainerLeft-tabs .dijitTab {
	margin-bottom: $nestedtab-spacing;
}

/************* nested right tabs *************/

.dijitTabContainerTabListNested.dijitTabContainerRight-tabs .dijitTab {
	margin-bottom: $nestedtab-spacing;
}


.dijitTabPaneWrapperNested {
	border: none; /* prevent double border */
	box-shadow: none;
}