/* CheckBox
 * 
 * Styling CheckBox mainly includes:
 * 
 * 1. Containers
 * 		.dijitCheckBox
 * 
 * 2. CheckBox within ToggleButton
 * 		.dijitCheckBoxIcon
 * 
 * 3. States - Checked, Hover, Disabled.
 *		.dijitCheckBoxChecked
 * 		.dijitCheckBoxHover
 * 		.dijitCheckBoxCheckedHover
 * 		.dijitCheckBoxDisabled
 *		.dijitCheckBoxCheckedDisabled
 */
.dijitCheckBox {
  /*background-color: #f5f5f5;*/
  border: 1px solid #d0d0d0;
  width: 20px;
  height: 20px;
  line-height: 1;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  position: relative;
  overflow: visible;
}
.dijitCheckBox input {
  position: absolute;
  top: 0;
}
/* Icon */
.dijitCheckBoxIcon:before,
.dijitCheckBoxChecked:before,
.dijitCheckBoxCheckedDisabled:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-decoration: inherit;
  vertical-align: bottom;
  content: "\f00c";
  line-height: 15px;
  color: #fff;
}
/* This is the checkbox icon within a widget, e.g. toggle button */
.dijitCheckBoxIcon {
  padding: 0;
}
.dijitCheckBoxIcon:before {
  color: #007ac2;
}
.btn-alt .dijitCheckBoxIcon:before {
  color: #fff;
}
/* checked */
.dijitCheckBoxChecked {
  background-color: #007ac2;
  border: 1px solid #0068a5;
}
/* hover */
/* over unchecked */
.dijitCheckBoxHover {
  background-color: #f5f5f5;
  border: 1px solid #007ac2;
}
/* over checked */
.dijitCheckBoxCheckedHover {
  background-color: #12a7ff;
  border: 1px solid #0068a5;
}
/* disabled */
.dijitCheckBoxDisabled,
.dijitCheckBoxCheckedDisabled {
  opacity: 0.65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
}
