/* RadioButton
 * 
 * Styling RadioButton mainly includes:
 * 
 * 1. Containers
 * 		.dijitRadio|.dijitRadioIcon
 * 
 * 2. RadioButton within ToggleButton
 * 		.dijitToggleButton|.dijitToggleButtonChecked
 * 
 * 3. Checked state
 * 		.dijitRadioChecked
 * 		.dijitToggleButtonChecked
 * 
 * 4. Hover state
 * 		.dijitRadioHover|.dijitRadioCheckedHover
 * 
 * 5. Disabled state
 * 		.dijitRadioDisabled|.dijitRadioCheckedDisabled
 */
.dijitRadio,
.dijitRadioIcon {
/* inside a toggle button */
  width: 14px;
  height: 14px;
  border: 1px solid #007ac2;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  overflow: visible;
}
.dijitRadio:after,
.dijitRadioIcon:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  background: #007ac2;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  margin: 7px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
/* This is the radio icon within a widget, e.g. toggle button */
.dijitButtonNode .dijitRadioIcon {
  border: 1px solid #d0d0d0;
  position: relative;
  top: -0.5px;
}
.btn-alt .dijitButtonNode .dijitRadioIcon {
  border-color: #fff;
  border-color: 1;
}
.btn-alt.dijitChecked .dijitRadioIcon:after {
  background: #fff;
}
/* checked */
.dijitRadioChecked:after,
.dijitChecked .dijitRadioIcon:after {
  width: 8px;
  height: 8px;
  margin: 3px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
/* hover */
/* over unchecked */
/* disabled */
.dijitRadioDisabled {
  opacity: 0.65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
}
