/* Select | Combobox
 * And minor style for DateTextBox | MultiSelect
 *
 * Styling Select mainly includes:
 * 
 * 1. Containers
 *	Select:
 * 		.dijitSelect
 * 		.dijitButtonContents
 *	Combobox:
 *		.dijitComboBox
 *
 * 2. Arrow Button
 * 		.dijitArrowButton
 * 		.dijitArrowButtonInner
 *		.dijitComboBox .dijitButtonNode
 *
 * 3. Menu
 * 		.dijitSelectMenu
 * 
 * 4. States - Hover, Active, Focused, Disabled, e.g.
 *
 *	Select: Hover, Active, Focused, Disabled
 * 		.dijitSelectHover
 * 		.dijitSelectFocused
 * 		.dijitSelectDisabled
 *
 *	Combobox: Hover, Focused (Open), Disabled
 *		.dijitComboBox .dijitDownArrowButtonHover		
 *		.dijitComboBoxOpenHover .dijitButtonNode
 *		.dijitComboBoxDisabled .dijitButtonNode
 *
 */
/* arrows */
.dijitSelect .dijitArrowButtonInner,
.dijitComboBox .dijitArrowButtonInner {
  margin: 0;
  width: 0;
  height: 0;
}
/*********************************************************************
 * Select (most of styles are inherited from "form/Button")
 *********************************************************************/
.dijitSelect {
  border-style: solid;
/*border-width: 1px;*/
  padding: 2px 6px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 15px;
/*text-shadow: $button-text-shadow;*/
  cursor: pointer;
  /*border-color: #d0d0d0;
  background: #f5f5f5;
  background: -webkit-linear-gradient(#f5f5f5, #f5f5f5);
  background: -moz-linear-gradient(#f5f5f5, #f5f5f5);
  background: -o-linear-gradient(#f5f5f5, #f5f5f5);
  background: -ms-linear-gradient(#f5f5f5, #f5f5f5);
  background: linear-gradient(#f5f5f5, #f5f5f5);*/
  table-layout: fixed;
}
.dijitSelect .dijitButtonContents,
.dijitSelect .dijitArrowButton {
  line-height: 20px;
  padding: 2px 6px;
  border: 0;
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.dijitSelect .dijitButtonContents {
  padding: 0;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.dijitSelect .dijitInputField {
  padding: 0 0 0 6px;
}
.dijitSelect .dijitArrowButton {
  width: 10px;
}
/* hover */
.dijitSelectHover {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
/*background: darken(color, 8%); // fallback
	background: linear-gradient(lighten(color, 5%), darken(color, 8%));*/
}
.dijitSelectActive {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  outline: none;
/*background: darken(color, 15%); // fallback*/
/*background: linear-gradient(color, color);*/
}
/* focused */
.dijitSelectFocused {
  border: 1px solid #d0d0d0;
}
/* disabled */
.dijitSelectDisabled {
  cursor: default;
  opacity: 0.65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
}
/***********************************************************************
 * Combobox (has styles inherited from "form/Textbox" and "form/Button")
 ***********************************************************************/
.dijitComboBox .dijitButtonNode {
  border-style: solid;
/*border-width: 1px;*/
  padding: 2px 6px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 15px;
/*text-shadow: $button-text-shadow;*/
  cursor: pointer;
  /*
  border-color: #d0d0d0;
  background: #f5f5f5;
  background: -webkit-linear-gradient(#f5f5f5, #f5f5f5);
  background: -moz-linear-gradient(#f5f5f5, #f5f5f5);
  background: -o-linear-gradient(#f5f5f5, #f5f5f5);
  background: -ms-linear-gradient(#f5f5f5, #f5f5f5);
  background: linear-gradient(#f5f5f5, #f5f5f5);
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;*/
}
/* hover */
.dijitComboBoxOpenHover .dijitButtonNode,
.dijitComboBox .dijitDownArrowButtonHover {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
/*background: darken(color, 8%); // fallback
	background: linear-gradient(lighten(color, 5%), darken(color, 8%));*/
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* disabled */
.dijitComboBoxDisabled .dijitButtonNode {
  cursor: default;
  opacity: 0.65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
}
.dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}
/***********************************************************************
 * DateTextBox (Change the icon in the arrow button)
 ***********************************************************************/
.dijitDateTextBox .dijitArrowButton:before {
  content: "\f073";
}
/***********************************************************************
 * Multiple Select
 ***********************************************************************/
select {
  padding: 2px 0;
  border: 1px solid #d0d0d0;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
}
select option {
  padding: 2px 4px;
}
/***********************************************************************
 * Dropdown menu styles for "Select" 
 * Most of menu styles are defined in Menu.styl 
 ***********************************************************************/
.dijitSelectMenu td.dijitMenuItemIconCell,
.dijitSelectMenu td.dijitMenuArrowCell {
/* so that arrow and icon cells from MenuItem are not displayed */
  display: none;
}
