.dijitToolbar .dijitToggleButtonRtl,
.dijitToolbar .dijitButtonRtl,
.dijitToolbar .dijitDropDownButtonRtl,
.dijitToolbar .dijitComboButtonRtl {
  margin-left: 2px;
  margin-right: auto;
}
.dijitToolbar .dijitDropDownButtonRtl .dijitArrowButtonInner {
  margin-left: auto;
  margin-right: 2px;
}
