.wcDocker {
  background-color: #A55;
}

.wcPanelBackground {
  background-color: #A55;
}

.wcPanelBackground .wcCenter {
  background-color: #733;
}

.wcFrameFlasher {
  background-color: red;
}

.wcFrameShadower {
  background-color: black;
}

.wcFrameTitleBar {
  height: 20px;
  background-color: #822;
  text-align: left;
}

.wcFrameTitle {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-top: 3px;
  background-color: #A55;
}

.wcFrameCenter {
  top: 20px;
}

.wcFrameButton {
  width: 16px;
  height: 16px;
  border: 2px outset #411;
  background-color: #522;
  font-size: 15px;
}

.wcFrameButton:hover {
  border: 2px outset #633;
  background-color: #684040;
}

.wcFrameButton:active {
  border: 2px inset #A55;
  background-color: #822;
}

.wcFrameButtonToggled, .wcFrameButtonToggled:hover {
  border-style: inset;
}

.wcLayoutGrid, .wcLayoutGrid tr, .wcLayoutGrid td {
  border: 1px solid #555555;
}

.wcLayoutGridAlternate tr:nth-child(even), .wcLayoutGridAltColor {
  background-color: rgba(200, 150, 150, 0.2) !important;
}

.wcFrameEdge {
  position: absolute;
  z-index: 2;
  border: 2px outset #411;
  background-color: #200;
}

.wcSplitterBar {
  border: 1px solid #411;
  background-color: #411;
}

.wcSplitterBarV {
  border-left-style: solid;
  border-left-color: #822;
}

.wcSplitterBarH {
  border-top-style: solid;
  border-top-color: #822;
}

.wcSplitterBarV.wcSplitterBarStatic {
  width: 0px;
}
.wcSplitterBarH.wcSplitterBarStatic {
  height: 0px;
}

.wcPanelTab {
  color: #42454a;
  background-color: #AA7070;
  border: 1px solid #511;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 0px;
  margin-right: 1px;
  margin-top: 5px;
  font-size: 15px;
  -webkit-box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5);
  -ms-box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5);
  -o-box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5);
  box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5);
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
}

.wcPanelTab:hover {
  background-color: #AA8080;
}

.wcPanelTabActive {
  color: #000;
  background-color: #A55;
  font-weight: bold;
  margin-top: 1px;
  font-size: 16px;
  line-height: 18px;
}

.wcPanelTabActive:hover {
  background-color: #C66;
}

.wcGhost {
  background-color: #411;
  border-radius: 6px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #A55;
}

::-webkit-scrollbar-corner {
  background-color: #A55;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
}

.wcMenuList, .context-menu-list {
  border: 1px solid #A44;
}

.wcMenuItem, .context-menu-item, .context-menu-list {
  background-color: #622;
}

.wcMenuItemHover, .wcMenuItem:hover, .context-menu-item.hover {
  background-color: #411;
}

.wcMenuItem.disabled, .context-menu-item.disabled {
  color: #311;
  background-color: #622;
}

.wcMenuSeparator, .context-menu-separator {
  border: 2px solid #622;
  background-color: #733;
}

.wcLoadingBackground {
  background-color: rgba(55, 55, 55, 1);
  opacity: 0.4;
}

.wcLoadingIcon {
  color: #222;
}

.wcLoadingLabel {
  color: #111;
}


/*
  The following are not actually used in docker, they are provided as a convenience when
  controls are used in your panels, if you want to match the active theme.
*/

.wcInput, input {
  background-color: #A44;
}

.wcSelect, select {
  background-color: #A44;
}

.wcButton, button {
  border: 1px outset #A44;
  background-color: #A44;
}

.wcButtonHover, .wcButton:hover, button:hover {
  border: 1px outset #B66;
  background-color: #B66;
}

.wcButtonActive, .wcButton:active, button:active {
  border: 1px inset #B66;
  background-color: #B66;
}

.wcButtonActive.wcButtonHover, .wcButton:hover.wcButtonActive, .wcButton:active.wcButtonHover, .wcButton:active:hover, button:active:hover {
  border: 1px inset #C88;
  background-color: #C88;
}

.wcButtonDisabled, .wcButton.disabled, button:disabled {
  border: 1px outset #933 !important;
  background-color: #933 !important;
  color: #533 !important;
}







/*
  Mobile style changes.
*/

.wcMobile .wcFrameTitleBar {
  height: 29px;
}

.wcMobile .wcFrameTitle {
  font-size: 20px;
}

.wcMobile .wcFrameButton, .wcMobile .wcFrameButton {
  width: 25px;
  height: 25px;
  font-size: 22px;
}

.wcMobile .wcFrameCenter {
  top: 29px;
}

.wcMobile .wcPanelTab {
  font-size: 14px;
  height: 29px;
}

.wcMobile .wcPanelTab > div {
  margin-top: 4px;
}

.wcMobile .wcSplitterBarV.wcSplitterBar:not(.wcSplitterBarStatic) {
  width: 12px;
  border-width: 3px;
}
.wcMobile .wcSplitterBarH.wcSplitterBar:not(.wcSplitterBarStatic) {
  height: 12px;
  border-width: 3px;
}

.wcMobile .wcInput, .wcMobile input,
.wcMobile .wcSelect, .wcMobile select,
.wcMobile .wcButton, .wcMobile button {
  font-size: 22px;
}
