.dgrid {
  position: relative;
  overflow: hidden;
  /*border: 1px solid #ddd;*/
  height: 100%;
  display: block;
}
.dgrid-header {
  background-color: #eee;
}
.dgrid-header-row {
  position: absolute;
  right: 17px;
  left: 0;
}
.dgrid-header-scroll {
  position: absolute;
  top: 0;
  right: 0;
}
.dgrid-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.dgrid-header-hidden {
  font-size: 0;
  height: 0 !important;
  border-top: none !important;
  border-bottom: none !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.dgrid-footer-hidden {
  display: none;
}
.dgrid-sortable {
  cursor: pointer;
}
.dgrid-header,
.dgrid-header-row,
.dgrid-footer {
  overflow: hidden;
  background-color: #eee;
}
.dgrid-row-table {
  border-collapse: collapse;
  border: none;
  table-layout: fixed;
  empty-cells: show;
  width: 100%;
  height: 100%;
}
.dgrid-cell {
  padding: 3px;
  text-align: left;
  overflow: hidden;
  vertical-align: top;
  border-right: 1px solid #ddd;
  border-top-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dgrid-content {
  position: relative;
  height: 99%;
}
.dgrid-scroller {
  overflow-x: auto;
  overflow-y: scroll;
  position: absolute;
  top: 0px;
  margin-top: 25px;
  bottom: 0px;
  width: 100%;
}
.dgrid-preload {
  font-size: 0;
  line-height: 0;
}
.dgrid-loading {
  position: relative;
  height: 100%;
}
.dgrid-above {
  position: absolute;
  bottom: 0;
}
.ui-icon {
  width: 16px;
  height: 16px;

}
.dgrid-sort-arrow {
  background-position: -64px -16px;
  display: block;
  float: right;
  margin: 0 4px 0 5px;
  height: 12px;
}
.dgrid-sort-up .dgrid-sort-arrow {
  background-position: 0px -16px;
}
.dgrid-selected {
  background-color: #bbb;
}
.dgrid-input {
  width: 99%;
}
html.has-mozilla .dgrid-focus {
  outline-offset: -1px;
}
.dgrid-scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
.dgrid-autoheight {
  height: auto;
}
.dgrid-autoheight .dgrid-scroller {
  position: relative;
  overflow-y: hidden;
}
.dgrid-autoheight .dgrid-header-scroll {
  display: none;
}
.dgrid-autoheight .dgrid-header {
  right: 0;
}
.dgrid-column-set {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 100%;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.dgrid-column-set-cell {
  vertical-align: top;
  height: 100%;
}
.dgrid-column-set-scroller-container {
  font-size: 0;
  position: absolute;
  bottom: 0;
}
.dgrid-autoheight .dgrid-column-set-scroller-container {
  position: relative;
}
.dgrid-column-set-scroller {
  display: inline-block;
  overflow-x: auto;
  overflow-y: hidden;
}
.dgrid-column-set-scroller-content {
  height: 1px;
}
.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}
.ui-icon-triangle-1-se {
  background-position: -48px -16px;
}
.dgrid-expando-icon {
  width: 16px;
  height: 16px;
}
.dgrid-tree-container {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow: hidden;
}
.dgrid-tree-container.dgrid-tree-resetting {
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -o-transition-duration: 0;
  -ms-transition-duration: 0;
  transition-duration: 0;
}
.dgrid-hider-toggle {
  background-position: 0 -192px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
.dgrid-rtl-swap .dgrid-hider-toggle {
  right: auto;
  left: 0;
}
.dgrid-hider-menu {
  position: absolute;
  top: 0;
  right: 17px;
  width: 184px;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 99999;
  padding: 4px;
  overflow-x: hidden;
  overflow-y: auto;
}
.dgrid-rtl-swap .dgrid-hider-menu {
  right: auto;
  left: 17px;
}
.dgrid-hider-menu-row {
  position: relative;
  padding: 2px;
}
.dgrid-hider-menu-check {
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 0;
}
.dgrid-hider-menu-label {
  display: block;
  padding-left: 20px;
}
.dgrid-header .dojoDndTarget .dgrid-cell {
  display: table-cell;
}
.dgrid-header .dojoDndItemBefore {
  border-left: 2px dotted #000 !important;
}
.dgrid-header .dojoDndItemAfter {
  border-right: 2px dotted #000 !important;
}
.dgrid-column-resizer {
  position: absolute;
  width: 2px;
  background-color: #666;
  z-index: 1000;
}
.dgrid-resize-handle {
  height: 100px;
  width: 0;
  position: absolute;
  right: -4px;
  top: -4px;
  cursor: col-resize;
  z-index: 999;
  border-left: 5px solid transparent;
  outline: none;
}
.dgrid-resize-header-container {
  height: 100%;
}
html.has-touch .dgrid-resize-handle {
  border-left: 20px solid transparent;
}
html.has-touch .dgrid-column-resizer {
  width: 2px;
}
.dgrid-resize-header-container {
  position: relative;
}
.dgrid-header .dgrid-cell {
  overflow: hidden;
}
.dgrid-spacer-row {
  height: 0;
}
.dgrid-spacer-row th {
  padding-top: 0;
  padding-bottom: 0;
  border-top: none;
  border-bottom: none;
}
.dgrid-status {
  padding: 2px;
}
.dgrid-pagination .dgrid-status {
  float: left;
}
.dgrid-pagination .dgrid-navigation,
.dgrid-pagination .dgrid-page-size {
  float: right;
}
.dgrid-navigation .dgrid-page-link {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  padding: 0 4px;
}
.dgrid-first,
.dgrid-last,
.dgrid-next,
.dgrid-previous {
  font-size: 130%;
}
.dgrid-pagination .dgrid-page-disabled {
  color: #aaa;
  cursor: default;
}
.dgrid-page-input {
  margin-top: 1px;
  width: 2em;
  text-align: center;
}
.dgrid-page-size {
  margin: 1px 4px 0 4px;
}
.dgrid-rtl-swap .dgrid-header-row {
  right: 0;
  left: 17px;
}
.dgrid-rtl-swap .dgrid-header-scroll {
  left: 0px;
  right: auto;
}
.dgrid-rtl .dgrid-cell {
  text-align: right;
}
.dgrid-rtl .dgrid-sort-arrow {
  float: left;
  margin: 0 5px 0 4px;
}
.dgrid-rtl .ui-icon-triangle-1-e {
  background-position: -96px -16px;
}
.dgrid-rtl .ui-icon-triangle-1-se {
  background-position: -80px -16px;
}
.dgrid-rtl .dgrid-pagination .dgrid-status {
  float: right;
}
.dgrid-rtl .dgrid-pagination .dgrid-page-size {
  float: right;
}
.dgrid-rtl .dgrid-pagination .dgrid-navigation {
  float: left;
}
.dgrid-rtl.dgrid-autoheight .dgrid-header {
  left: 0;
}
