@font-face {
  font-family: 'front-to-back';
  src: url('front-to-back.eot?99144359');
  src: url('front-to-back.eot?99144359#iefix') format('embedded-opentype'),
       url('front-to-back.woff?99144359') format('woff'),
       url('front-to-back.ttf?99144359') format('truetype'),
       url('front-to-back.svg?99144359#front-to-back') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'front-to-back';
    src: url('../font/front-to-back.svg?99144359#front-to-back') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "front-to-back";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-send-back:before { content: '\e800'; } /* '' */
.icon-bring-front:before { content: '\e801'; } /* '' */
.icon-send-back-multi:before { content: '\e802'; } /* '' */
.icon-bring-front-multi:before { content: '\e803'; } /* '' */