.fileReloadButton {
  float: right;
  width: 27px;
}
.xfileToolbarButtonDisabled {
  opacity: 0.5;
  pointer-events: none;
}
.fileViewToolbarTop .icon-32-reload {
  display: inline-block;
  height: 18px;
  width: 18px;
}
/***
  File Picker extensions
*/
.actionToolbarContentPane {
  padding: 0px !important;
  border: 0px solid none !important;
  margin: 0px !important;
  background-color: transparent !important;
}
.actionToolbarEmbedded {
  padding: 0px !important;
  border: 0px solid none !important;
  margin: 0px !important;
  border-bottom: none !important;
  display: inline-block;
  height: auto;
  background-color: transparent !important;
  background-image: none !important;
}
.actionToolbarButton {
  float: right;
}
.actionToolbarButtonLeft {
  float: left;
}
/****
  Context Menu - Adjustments
*/
.dijitPopup .dijitMenuItemIcon {
  height: 16px;
  width: 16px;
}
