@import "../mixins/variables.less";

.fileReloadButton{
  float: right;
  width: 27px;
}
.xfileToolbarButtonDisabled{
  opacity:0.5;
  pointer-events:none;
}

.fileViewToolbarTop .icon-32-reload{
  display: inline-block;
  height: 18px;
  width: 18px;
}

/***
  File Picker extensions
*/
.actionToolbarContentPane{
  padding: 0px !important;
  border:0px solid none !important;
  margin: 0px !important;
  background-color: transparent !important;
}
.actionToolbarEmbedded{
  padding: 0px !important;
  border:0px solid none !important;
  margin: 0px !important;
  border-bottom: none !important;

  display: inline-block;
  height: auto;
  background-color: transparent !important;
  background-image: none !important;
}


.actionToolbarButton{
  float: right;
}
.actionToolbarButtonLeft{
  float: left;
}


/****
  Context Menu - Adjustments
*/
.dijitPopup .dijitMenuItemIcon{
  height: 16px;
  width: 16px;
/*  background-size: 16px;*/
}
.actionToolbarButtonElusive{
  font-size: 17px;
  width: 12px;
  margin-left: 3px;
  line-height:1.4em;
}

.dijitPopup .actionToolbarButtonElusive{
  font-size: 12px;
  margin-right: 4px;
  line-height: 1.9em;
}
.newItemSelector{
  /*margin-top: 4px !important;*/
}