@import "../mixins/functions";

@gridGalleryItemSize:120px;

.fileGridView{
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 100% !important;
  height: 100% !important;
}

.sizeDisplay{
  .axis text {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #95a5a6;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }

  rect {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.5s;
    cursor:pointer;
  }

  .chart1 {
    position: relative;
  }

  .chart1 path {
    stroke: #fff;
  }

  #detailInfo{
    position: absolute;
    left: 0%;
    top: 0;
    width: 100%;
  }

  #explanation {
    position: absolute;
    top: 10%;
    left: 50%;

    width: 180px;
    text-align: center;
    z-index: 1;
  }



  @-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
  }

  @keyframes stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% {
         transform: scaleY(1.0);
         -webkit-transform: scaleY(1.0);
       }
  }
/*

  .tabs {
    float: none;
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0px auto;
    left: 0;
    top: 0;
    width: 100%;
  }
  */
  /*
  .tabs li{
    float: right;
  }
  .tabs label {
    display: block;
    padding: 10px 20px;
    border-radius: 2px 2px 0 0;
    color: #e4685d;
    font-size: 18px;
    font-weight: normal;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  */
  /*
  .tabs label:hover {
    background: rgba(255,255,255,0.5);
    top: 0;
  }

  [id^=tab]:checked + label {
    background: #e4685d;
    color: white;
    top: 0;
  }

  [id^=tab]:checked ~ [id^=tab-content] {
    display: block;
  }
  */
  /*
  .tab-content{
    z-index: 2;
    display: none;
    text-align: left;
    width: 100%;
    font-size: 20px;
    color: white;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }
  */

  #tooltip {
    position: absolute;
    width: 150px;
    height: auto;
    padding: 10px;
    background-color: #e4685d;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    font-size: 16px;
    text-align: center;
  }

  #tooltip.hidden {
    display: none;
  }


  #tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
  }



}



/***
  Columns
*/

//large
.fileGridViewLarge .field-size{
    width: 100px;
}
.fileGridViewLarge .field-name{
    width: 200px;
}
.fileGridViewLarge .field-modified{
    width: 250px;
}
.fileGridViewLarge .dgrid-row-odd{

}
//compact
.fileGridViewCompact {
  overflow-y:hidden;
  height: 95% !important;
  overflow: hidden !important;
}
.dgrid-cell{
  /*width: 60%;*/
  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; -moz-binding: url('../fonts/truncate.xml#ellipsis');

}

.fileGridViewCompact .field-name{
  width: 60%;
  /*white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; -moz-binding: url('../fonts/truncate.xml#ellipsis');*/
  /*padding-left: 2px !important;*/

}
.fileGridViewCompact .field-name .fa{
  margin-top: 2px;
}
.fileGridViewCompact .field-sizeBytes{
  width: 15%;
  /*white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; -moz-binding: url('../fonts/truncate.xml#ellipsis');*/
}

.fileGridViewCompact .field-modified{
  width: 20%;
  /*white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; -moz-binding: url('../fonts/truncate.xml#ellipsis');*/

}
.fileGridViewCompact .dgrid-row-even{
}
.fa-lock:before{
  font-size: 120%;
}
/***
  Cells - Gallery
*/
.fileGridViewCompact .gallery .dgrid-row {
  width: @gridGalleryItemSize;
  float: left;
  text-align: center;
  padding: 1em 0;
}
.fileGridViewCompact .gallery .icon {
  width: 100px;
  height: 100px;
  margin: auto;
}
.fileGridViewCompact .gallery .imageFile{

  height: auto;
  max-height: 90px !important;
  max-width: 100px !important;
  overflow: hidden;
}

html .dgrid-content *:focus {
  background-color: none;
}

.fileGridView .table th{
  border-top: 0px solid #DDDDDD;
  text-align: left;
  vertical-align: top;
}
.fileGridView .table td{
  text-align: left;
  vertical-align: middle;
}

.itemFolderList {
  /*font-size: 1.4em;
  float: left;*/
  margin-right: 4px;
  margin-left: 2px;
  vertical-align: middle;


  /*line-height: 1.4em !important;*/

}
.fileGridList .dojoDndItem{
  /*padding: 0px !important;*/

}

.fileGridView .fileGridViewCompact .dojoDndItem{
  padding: 2px !important;
}

.fileGridNameNode{
  /*padding-top:7px;*/
}