.fileGridView {
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 100% !important;
  height: 100% !important;
}
.sizeDisplay {

}
.sizeDisplay .axis text {
  font: 10px sans-serif;
}
.sizeDisplay .axis path,
.sizeDisplay .axis line {
  fill: none;
  stroke: #95a5a6;
  shape-rendering: crispEdges;
}
.sizeDisplay .x.axis path {
  display: none;
}
.sizeDisplay rect {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.5s;
  cursor: pointer;
}
.sizeDisplay .chart1 {
  position: relative;
}
.sizeDisplay .chart1 path {
  stroke: #fff;
}
.sizeDisplay #detailInfo {
  position: absolute;
  left: 0%;
  top: 0;
  width: 100%;
}
.sizeDisplay #explanation {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 180px;
  text-align: center;
  z-index: 1;
}
@-webkit-keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
.sizeDisplay #tooltip {
  position: absolute;
  width: 150px;
  height: auto;
  padding: 10px;
  background-color: #e4685d;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  font-size: 16px;
  text-align: center;
}
.sizeDisplay #tooltip.hidden {
  display: none;
}
.sizeDisplay #tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}
/***
  Columns
*/
.fileGridViewLarge .field-size {
  width: 100px;
}
.fileGridViewLarge .field-name {
  width: 200px;
}
.fileGridViewLarge .field-modified {
  width: 250px;
}
.fileGridViewCompact {
  overflow-y: hidden;
  height: 95% !important;
  overflow: hidden !important;
}
.dgrid-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-binding: url('../fonts/truncate.xml#ellipsis');
}

.fa-lock:before {
  font-size: 120%;
}

html .dgrid-content *:focus {
  background-color: none;
}
.fileGridView .table th {
  border-top: 0px solid #DDDDDD;
  text-align: left;
  vertical-align: top;
}
.fileGridView .table td {
  text-align: left;
  vertical-align: middle;
}
.itemFolderList {
  margin-right: 4px;
  margin-left: 2px;
  vertical-align: middle;
}

.Thumb .dgrid-row {
  float: left;
  padding: 1em 0;
  text-align: center;
  width: 120px;
  -moz-binding: url("../fonts/truncate.xml#ellipsis");
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Thumb .name {
  -moz-binding: url("../fonts/truncate.xml#ellipsis");
  font-size: 13px;
  overflow: hidden;
  padding-left: 4px;
  padding-right: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Thumb .imageFile {
  height: auto;
  max-height: 90px !important;
  max-width: 100px !important;
  overflow: hidden;
}
.Thumb .cell {
  height: 100px !important;
  margin: 4px;
  padding: 2px;
  text-align: center;
  width: 110px;
  word-wrap: break-word;
}
.filePreviewRoot {
  height: inherit;
}
.filePreviewView IMG {
  height: auto;
}
