@import "../mixins/variables.less";

.fileSelectDialog{
  min-width: 400px;
  min-height: 400px;

}

.fileSelectDialog .dijitDialogPaneContent{
  padding: 0px!important;
}
.filePickerDialogLarge{
  min-width: 735px;
  min-height: 500px;
}
.filePickerDialogLarge .actionToolbarEmbedded{
  float: left;
}
.filePickerDialogLarge .layoutTop{
  min-height: 30px;
}
.filePickerDialogLarge .dgrid-content{
  height: inherit;
}
