/***

  Awesome LESS macros to generate cross browser CSS

*/
/***
  Layout - Macros
*/
/***
  Macros zum erstellen von Rahmen
*/
/***
  Macros fuer geometrische Operationen
*/
/***
  Effect Macros
*/
/***
  Macros fuer Highlighting bei Feedbacks
*/
/***
  Text - Macros
*/
/***
  Text - Macros
*/
/***
  Macros fuer Hintergrund-Sprites
*/
/***  Background-Sprite with different width & height*/
/***
  Background - Color - Transparent Overlay
*/
/***
  Shadow - Macro
*/
/***
    Image related
*/
/***
  Pure Class Macros
*/
/***
  LOW-LEVEL : Macros zum animieren von CSS Eigentschaften
*/
/***
  LOW-LEVEL : Macros zum erstellen von Gradients
*/
/**
  Text-Font-Size Macros
**/
/***   Text - Colors   ***/
/***   Colors   ***/
/***
  Default-Text Margins and Paddings
*/
/*** Border-Colors ***/
/***
  Highlight Colors
*/
/***
  Shadows
*/
/***
  Buttons
*/
/***
  Standard-Background-Color for Toolbars
*/
/***
  Dojo - Internals
*/
.layoutMain {
  -moz-box-sizing: border-box;
  border: 0px solid #1E1E1E !important;
  height: 100%;
  min-height: 20em;
  overflow: hidden;
  width: 100%;
}
.layoutLeft,
.layoutRight {
  /*padding: 0px !important;*/
}
.layoutLeft {
  width: 44%;
  overflow: hidden;
}
.layoutBottom {
  border: 0px solid #1E1E1E !important;
  padding: 0px !important;
}
.layoutRight {
  overflow: hidden;
}
.layoutTop {
  padding: 0px !important;
  min-height: 30px;
  /*max-height: 30px;*/
  overflow: hidden !important;
}
.layoutTop .dijitMenuBar {
  /*border: 0px solid #1E1E1E !important;*/
}
.filePanelLayoutcontainer {
  border: 0px solid #1E1E1E !important;
  padding: 0px !important;
}
