@import "../mixins/variables";

/*****************************************************************************/
/*        Variables                                                          */

@matrixPrefix:matrix;
@matrixButtonSuffix:matrixToggleButton;

/***
  Column/Row - Text - Formatting
*/
@matrixLabelFontFamily:@defaultFont;
@matrixLabelFontSize:@font-size-large;
@matrixLabelFontColor:@primary-text-color;
@matrixLabelFontWeight:normal;
@matrixLabelAlign:center;
@matrixLabelLineHeight:@line-height-computed;

/***
  Button - Commons
*/
@matrixButtonWidth:45px;//button width, must fit to asset
@matrixButtonHeight:38px;//button height, must fit to asset


/***
    Starting from the root node
*/
.matrix{

}

.matrixTable{
    .size(100%,100%);
}

.matrixHeaderColumn{

}
.matrixHeaderColumnLeft{

}

.matrixHeaderTextLeft,
.matrixHeaderText{
  .makeTextEx(@matrixLabelFontSize,@matrixLabelFontColor,@matrixLabelFontFamily,@matrixLabelFontWeight,@matrixLabelAlign);
}

/* The container holding the Toggle button  */
.matrixAnswerContainer{
  pointer-events:none;
}
.matrixAnswerColumn{
   background-color: @default-container-background-color;
   cursor: pointer;
  .rounded_corners(@border-radius-small);
  /*.button-colorize(@default-container-background-color);*/
  /*.active-gradient();*/
  /*.horizontal-gradient-and-filter(@default-container-background-color,0,100);*/
  .gradient-and-filter(@default-container-background-color,5,20);
  .box_shadow_inset(1px,1px,3px,rgba(0,0,0,0.2));

}

/*** Media Overrides ***/
.matrixHeaderColumnLeft .mediaImage{
  height: inherit;
  width: 100%;
}
.matrixHeaderColumn .mediaContainer{
  display: inline-block;
}
.matrixHeaderColumn .mediaImage{
  width: 100%;
}
.matrixHeaderColumn .text{
  .makeTextEx(@matrixLabelFontSize,@matrixLabelFontColor,@matrixLabelFontFamily,@matrixLabelFontWeight,@matrixLabelAlign);
}
.matrixHeaderColumnLeft .text{
  .makeTextEx(@matrixLabelFontSize,@matrixLabelFontColor,@matrixLabelFontFamily,@matrixLabelFontWeight,@matrixLabelAlign);
}


/***
    Buttons
*/
.matrixToggleButton{
  .backgroundSpriteEx('@{assetUrlPrefix}/hookEmpty.png',@matrixButtonWidth,@matrixButtonHeight);
}

.matrixToggleButtonChecked{
    .backgroundSpriteEx('@{assetUrlPrefix}/hookNormal.png',@matrixButtonWidth,@matrixButtonHeight);
}
/***
    Answer-Feedback-States
*/
.MatrixFeedbackAnswerRight{
  .highlightCorrect();
  .rounded_corners(@border-radius-small);
}
.MatrixFeedbackAnswerRightUnselected{

  .rounded_corners(@border-radius-small);

}
.MatrixFeedbackAnswerMissing{
  .highlightMissing();
  .rounded_corners(@border-radius-small);
}
.MatrixFeedbackAnswerWrong{
  .highlightWrong();
  .rounded_corners(@border-radius-small);
}
/***
  Dojo-Adjustments : Don't Touch
*/
.adjustDojoButton(@matrixPrefix,@matrixButtonSuffix);


