/* main classes for dojox.widget.Toaster */


.dijitToasterContent {
	padding:1em;
	padding-top:0.25em;
	/*background: #4a8231;*/
}

.dijitToasterMessage{ 
	/*color:#fff;*/
    font-size: 18px;
}



.dijitToasterWarning,
.dijitToasterError,
.dijitToasterFatal{
	font-weight:bold;
	/*color:#fff;*/
}

.dijitToasterWarning .dijitToasterContent{
	background:#d4d943;
} 

.dijitToasterError .dijitToasterContent{
	background:#c46600;
}

/* imported from dijit.css */
 
.dijitToasterClip {
	position: absolute;
	z-index: 5000;
	overflow: hidden;
}

.dijitToasterContainer {
	display: block;
	position: absolute;
	width: 25.5em;

	margin: 0px;
	font:0.75em;

}

/****
  File uploads
*/
.fileUploadProgress{
  /*max-width: 150px;*/
  margin: 8px;
}
.fileUploadProgressLabel{
  float: left;
  margin-right: 4px;
  color: #FFFFFF;
  line-height: 1.7em;
}
.fileUploadProgress .fileUploadItem{

}
.fileUploadProgress .dijitProgressBar{
  max-width: 200px;
}

.fileUploadProgress HR{
  margin: 8px 0 !important;
}
.logMessage{
  background-color: #4D4D4D;
  border: 1px solid #000000;
  margin: 8px;
  padding: 4px;
  border-bottom: 1px solid #808080;

}

/****
  File Action
*/
.fileActionProgress{
  /*max-width: 150px;*/
  margin: 8px;
}
.fileActionProgressLabel{
  float: left;
  margin-right: 4px;
  color: #FFFFFF;
  line-height: 1.7em;
}
.fileActionProgress .fileActionItem{

}
.fileActionProgress .dijitProgressBar{
  max-width: 200px;
}
.fileActionProgress HR{
  margin: 8px 0 !important;
}
.actionMessage{
  background-color: #303030;
  border: 1px solid #000000;
  margin: 8px;
  padding: 4px;
  border-bottom: 1px solid #808080;
  display:inline-block;
  width:96%;
}

.fileActionSpinner
{
  background-image: url("images/console_spinner_proc.gif");
  background-size: 100% 100%;
  height: 18px;
  width: 18px;
  float:left;
  margin-right:16px;
}