/***

  Awesome LESS macros to generate cross browser CSS

*/
/***
  Layout - Macros
*/
/***
  Macros zum erstellen von Rahmen
*/
/***
  Macros fuer geometrische Operationen
*/
/***
  Effect Macros
*/
/***
  Macros fuer Highlighting bei Feedbacks
*/
/***
  Text - Macros
*/
/***
  Text - Macros
*/
/***
  Macros fuer Hintergrund-Sprites
*/
/***  Background-Sprite with different width & height*/
/***
  Background - Color - Transparent Overlay
*/
/***
  Shadow - Macro
*/
/***
    Image related
*/
/***
  Pure Class Macros
*/
/***
  LOW-LEVEL : Macros zum animieren von CSS Eigentschaften
*/
/***
  LOW-LEVEL : Macros zum erstellen von Gradients
*/
/**
  Text-Font-Size Macros
**/
/***
  helo
*/
.fileSelectDiscIcon {
  background-image: url("images/disc.png");
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat !important;
}
.fileSelectPicturesIcon {
  background-image: url("images/Pictures16.png");
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat !important;
}
