@import "../mixins/functions";
/***
  helo
*/
.fileSelectDiscIcon{

    background-image: url("./images/disc.png");
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    background-repeat: no-repeat !important;
}
.fileSelectPicturesIcon{


  background-image: url("./images/Pictures16.png");
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat !important;
}