/***

  Awesome LESS macros to generate cross browser CSS

*/
/***
  Layout - Macros
*/
/***
  Macros zum erstellen von Rahmen
*/
/***
  Macros fuer geometrische Operationen
*/
/***
  Effect Macros
*/
/***
  Macros fuer Highlighting bei Feedbacks
*/
/***
  Text - Macros
*/
/***
  Text - Macros
*/
/***
  Macros fuer Hintergrund-Sprites
*/
/***  Background-Sprite with different width & height*/
/***
  Background - Color - Transparent Overlay
*/
/***
  Shadow - Macro
*/
/***
    Image related
*/
/***
  Pure Class Macros
*/
/***
  LOW-LEVEL : Macros zum animieren von CSS Eigentschaften
*/
/***
  LOW-LEVEL : Macros zum erstellen von Gradients
*/
/**
  Text-Font-Size Macros
**/
.fa-columnsFlat:before {
  content: "\f0db";
}
.fa-columnsFlat {
  transform: rotate(90deg);
}
.splitView {
  height: inherit;
}
.splitView .layoutLeft {
  top: 0px !important;
  left: 0px !important;
}
.splitView .layoutRight {
  top: 0px !important;
}
.splitView .layoutCenter {
  top: 0px !important;
}
.splitViewVertical .layoutLeftSplit {
  width: 50%;
  padding: 0px !important;
  overflow: hidden;
}
.splitViewVertical .layoutRightSplit {
  width: 50%;
  padding: 0px !important;
  overflow: hidden;
}
.splitViewHorizontal .layoutLeftSplit {
  height: 50%;
  padding: 0px !important;
  overflow: hidden !important;
}
.splitViewHorizontal .layoutRightSplit {
  height: 50%;
  padding: 0px !important;
  overflow: hidden !important;
}
