@import "../mixins/functions";


.fa-columnsFlat:before {
  content: "\f0db";
}

.fa-columnsFlat{
  transform:rotate(90deg);
}

.splitView{
  height: inherit;
}

.splitView .layoutLeft{
  top: 0px !important;
  left: 0px !important;
}

.splitView .layoutRight{
  top: 0px !important;

}
.splitView .layoutCenter{
  top: 0px !important;

}
.splitViewVertical{

}

///////////////////////////
//
//  Vertical
//
.splitViewVertical .layoutLeftSplit{
  width: 50%;
  padding: 0px !important;
  overflow: hidden;
}
.splitViewVertical .layoutRightSplit{
  width: 50%;
  padding: 0px !important;
  overflow: hidden;
}
///////////////////////////
//
//  Horizontal
//
.splitViewHorizontal .layoutLeftSplit{
  height: 50%;
  padding: 0px !important;
  overflow: hidden !important;
}
.splitViewHorizontal .layoutRightSplit{
  height: 50%;
  padding: 0px !important;
  overflow: hidden !important;
}
