<div class="dijitTabListContainer-${tabPosition}" style="visibility:hidden">
	<div data-dojo-type="dijit.layout._ScrollingTabControllerMenuButton"
		 class="tabStripButton-${tabPosition}"
		 id="${id}_menuBtn"
		 data-dojo-props="containerId: '${containerId}', iconClass: 'dijitTabStripMenuIcon',
					dropDownPosition: ['below-alt', 'above-alt']"
		 data-dojo-attach-point="_menuBtn" showLabel="false" title="">&#9660;</div>
	<div data-dojo-type="dijit.layout._ScrollingTabControllerButton"
		 class="tabStripButton-${tabPosition}"
		 id="${id}_leftBtn"
		 data-dojo-props="iconClass:'dijitTabStripSlideLeftIcon', showLabel:false, title:''"
		 data-dojo-attach-point="_leftBtn" data-dojo-attach-event="onClick: doSlideLeft">&#9664;</div>
	<div data-dojo-type="dijit.layout._ScrollingTabControllerButton"
		 class="tabStripButton-${tabPosition}"
		 id="${id}_rightBtn"
		 data-dojo-props="iconClass:'dijitTabStripSlideRightIcon', showLabel:false, title:''"
		 data-dojo-attach-point="_rightBtn" data-dojo-attach-event="onClick: doSlideRight">&#9654;</div>
	<div class='dijitTabListWrapper ui-state-default' data-dojo-attach-point='tablistWrapper'>
		<div role='tablist' data-dojo-attach-event='onkeydown:onkeydown'
			 data-dojo-attach-point='containerNode' class='nowrapTabStrip '></div>
	</div>
</div>