/* ColorPalette
 * 
 * Styling of the ColorPalette consists of the following:
 * 
 * 1. the whole color palette
 *		.dijitColorPalette - for outline, border, and background color of the whole color palette
 *		Note: outline does not work for IE
 *
 * 2. the color swatch 
 *		.dijitColorPalette .dijitPaletteImg
 *		transparent (but clickable) <img> node inside of each <td>, overlaying the color swatch.
 *		displays border around a color swatch
 *
 * 3. hovered swatch
 * 		.dijitColorPalette .dijitPaletteCell:hover .dijitPaletteImg
 *		the hovered state of the color swatch - adds border
 * 	
 * 4. active and selected swatch
 * 		.dijitColorPalette .dijitPaletteCell:active .dijitPaletteImg
 *		.dijitColorPalette .dijitPaletteCellSelected .dijitPaletteImg
 *		adds border for active or selected state
 */
.dijitColorPalette {
  border: 1px solid #d0d0d0;
  background: #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
/* swatch */
}
.dijitColorPalette .dijitPaletteTable {
  padding: 2px;
}
.dijitColorPalette .dijitColorPaletteSwatch {
  height: 15px;
  width: 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.dijitColorPalette .dijitPaletteImg {
/* transparent (but clickable) <img> node inside of each <td>, overlaying the color swatch.
		 * displays border around a color swatch
		 * overrides border color in dijit.css */
  border: 1px solid transparent;
  line-height: normal;
}
.dijitColorPalette .dijitPaletteCell:hover .dijitPaletteImg {
  border: 1px solid #d0d0d0;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.dijitColorPalette .dijitPaletteCell:active .dijitPaletteImg,
.dijitColorPalette .dijitPaletteTable .dijitPaletteCellSelected .dijitPaletteImg {
  border: 1px solid #007ac2;
  -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.25);
  box-shadow: 0 3px 3px rgba(0,0,0,0.25);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
