/* Editor 
 * 
 * Styling Editor means styling the Editor inside iframe container (dijitEditorIFrameContainer)
 * 
 * 1. Editor iframe container (default styling): 
 * 		.dijitEditorIFrameContainer - normal state styles: background-color, border, padding
 *
 * 2. hovered Editor iframe container (ie, mouse hover on editor)
 * 		.dijitEditorHover .dijitEditorIFrameContainer/dijitEditorIFrame - styles when mouse hover on the container
 * 
 * 3. focused Editor iframe container (ie, mouse focus on the editor pane)
 * 		.dijitEditorFocused .dijitEditorIFrameContainer/dijitEditorIFrame - styles when container focused
 * 
 * 3. disabled Editor iframe container 
 * 		.dijitEditorDisabled - editor's inner iframe container disable status styles: background, border
 */
.dijitEditor {
  background: #fff;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.dijitEditor .dijitEditorIFrameContainer {
  border: 1px solid transparent;
  border-top: 1px solid #d0d0d0;
  padding: 2px 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
  -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -o-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -ms-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
/* Hover */
.dijitEditorHover .dijitEditorIFrameContainer,
.dijitEditorHover .dijitEditorIFrameContainer .dijitEditorIFrame {
  border: 1px solid #007ac2;
}
/* Focused */
.dijitEditorFocused .dijitEditorIFrameContainer {
  border: 1px solid #007ac2;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15) inset;
}
.dijitEditorFocused .dijitEditorIFrameContainer .dijitEditorIFrame {
  border: 1px solid #007ac2;
}
/* Disabled */
.dijitEditorDisabled {
  border: 1px solid #d0d0d0;
  color: #9a9b9f;
  opacity: 0.65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
}
.dijitEditorDisabled .dijitEditorIFrame,
.dijitEditorDisabled .dijitEditorIFrameContainer,
.dijitEditorDisabled .dijitEditorIFrameContainer .dijitEditorIFrame {
  background: #f5f5f5;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
