/* InlineEditBox
 * 
 * Styling InlineEditBox mainly includes:
 * 
 * 1. Normal state
 * 		.dijitInlineEditBoxDisplayMode  - for border
 * 
 * 2. Hover state
 * 		.dijitInlineEditBoxDisplayModeHover - for border and background color
 */
.dijitInlineEditBoxDisplayMode {
  border: 1px dashed transparent;
  padding: 2px 4px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.dijitInlineEditBoxDisplayModeHover {
  background: transparent;
  border: 1px dashed #007ac2;
}
.dijitInlineEditBoxDisplayModeDisabled {
  opacity: 0.65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
}
