/* Menu 

There are three areas of styling for the Menu:  
 
 1. The menu 
 	There are three types of menus:
 	i) Context Menu
 	ii) Drop down Menu
 	iii) Navigation Menu
 	All three types of menus are affected by the .dijitMenu class in which you can set the background-color, padding and border
 	.dijitMenu affects the drop down menu in TimeTextBox, Calendar, ComboBox and FilteringSelect
  .dijitMenuTable - for padding - also affects Select widget 	
  	
 2. The menu bar
 	.dijitMenuBar - for border, margins, padding, background-color of the menu bar
 	.dijitMenuBar .dijitMenuItem - for padding, text color of menu items in the menu bar (overrides .dijitMenuItem) 
 	
 3. Menu items - items in the menu.  
 	.dijitMenuItem - for color
 	.dijitMenuItemHover, .dijitMenuItemSelected - for background-color, border, text color, padding of a menu item or menubar item that has been hovered over or selected	
 	.dijitMenuItemActive - for background-color of an active (mousedown) menu item
	td.dijitMenuItemIconCell - for padding around a  menu item's icon
	td.dijitMenuItemLabel - for padding around a menu item's label	
	.dijitMenuSeparatorTop - for border, top border, of the separator
	.dijitMenuSeparatorBottom - for bottom margin of the separator
	
	Styles specific to ComboBox and FilteringSelect widgets: 
	.dijitComboBoxMenu .dijitMenuItem - for padding and border of a menu item in a ComboBox or FilteringSelect widget's menu
	.dijitComboBoxMenu .dijitMenuItemSelected- for text color, background-color and border of a menu item in a ComboBox or FilteringSelect widget's menu

*/
.dijitMenu {
/*background: $menu-background;*/
  /*border: 1px solid #d0d0d0;*/
  -webkit-border-radius: 2px;
  border-radius: 2px;
/* so adjoining borders of MenuBar/ComboBox and Menu overlap, avoiding double border */
  margin: 0;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
  box-shadow: 0 2px 3px rgba(0,0,0,0.15);
}
.dijitMenuTable,
.dijitComboBoxMenu {
  padding: 4px 0;
}
.dijitComboBoxMenu {
  margin-left: 0;
  background-image: none;
}
.dijitMenuTable {
/* this prevents jiggling upon hover of a menu item */
  border-collapse: separate;
  border-spacing: 0 0;
}
/* Menu Item */
.dijitMenuItem,
.dijitMenuItem td {
  line-height: 15px;
  padding: 8px 4px;
  white-space: nowrap;
}
/* Menu Item: Hover */
.dijitMenuItemHover td,
.dijitMenuItemHover {
  color: #fff;
  background: #007ac2;
}
/* Menu Item: Active */
.dijitMenuItemActive td,
.dijitMenuItemActive {
  color: #fff;
  background: #007ac2;
}
/* Menu Item: Selected */
.dijitMenuItemSelected td,
.dijitMenuItemSelected {
  color: #fff;
  background: #007ac2;
}
/* Menu Item Separator */
.dijitMenuSeparatorTop {
  height: auto;
  margin-top: 1px;
/* prevents spacing above/below separator */
  border-bottom: 1px solid #d0d0d0;
}
.dijitMenuSeparatorBottom {
  height: auto;
  margin-bottom: 1px;
  border-top: 0 none;
}
/* TODO: Menu Item Icon */
td.dijitMenuItemIconCell {
  padding: 2px;
  margin: 0 0 0 2px;
}
.dijitMenuExpand {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-decoration: inherit;
  vertical-align: bottom;
}
.dijitMenuExpand:before {
  content: "\f0da";
}
/* the checked icon */
.dijitCheckedMenuItemIconChar {
  display: none;
}
.dijitRadioMenuItemIconChar {
  display: none;
}
.dijitCheckedMenuItemIcon {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-decoration: inherit;
  vertical-align: bottom;
}
.dijitRadioMenuItemIcon {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-decoration: inherit;
  vertical-align: bottom;
}
.dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon:before {
  content: "\f00c";
}
.dijitRadioMenuItem .dijitCheckedMenuItemIcon:before {
  content: "\f10c";
}
.dijitRadioMenuItemChecked .dijitCheckedMenuItemIcon:before {
  content: "\f192" !important;
}
/*
.dijitRadioMenuItem .dijitCheckedMenuItemIcon {
  &:before {
    content: "\f10c";
  }
}
*/
.dijitMenuPreviousButton,
.dijitMenuNextButton {
  font-style: italic;
}
/* Menu Bar */
.dijitMenuBar .dijitMenuItem {
  padding: 4px 6px;
  margin: 2px 4px;
}
.dijitMenuBar .dijitMenuItemHover {
  background: #007ac2;
}
.dijitMenuBar .dijitMenuItemActive {
  background: #007ac2;
}
.dijitMenuBar .dijitMenuItemSelected,
.dijitMenuBar .dijitMenuItemHover.dijitMenuItemSelected,
.dijitMenuBar .dijitMenuItemActive.dijitMenuItemSelected {
  color: #fff;
  background: #007ac2;
}
/* MenuBar Dropdown */
.dijitMenuPopup {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.dijitMenuPopup .dijitMenu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.dijitMenuPopup .dijitMenuItem,
.dijitMenuPopup .dijitMenuItem td {
  padding: 4px;
}
