/* Time Picker 
 *
 * Styling the Time Picker consists of the following: 
 *
 * 1. minor time values
 * 		.dijitTimePickerTick - set text color, size, background color of minor values
 * 		.dijitTimePickerTickHover - set hover style of minor time values
 * 		dijitTimePickerTickSelected - set selected style of minor time values
 *
 * 2. major time values - 1:00, 2:00, times on the hour 
 * 		set text color, size, background color, left/right margins for "zoom" affect
 * 		.dijitTimePickerMarkerHover - to set hover style of major time values
 * 		.dijitTimePickerMarkerSelected - set selected style of major time values
 * 
 * 3. up and down arrow buttons
 * 		.dijitTimePicker .dijitButtonNode - background-color, border
 * 		.dijitTimePicker .dijitUpArrowHover, .dijitTimePicker .dijitDownArrowHover - set background-color for hover state
 *
 *	Other classes provide the fundamental structure of the TimePicker and should not be modified. 
 */
.dijitTimePickerPopup {
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
  box-shadow: 0 2px 3px rgba(0,0,0,0.15);
  height: 200px;
}
.dijitTimePicker {
  background: #fff;
  padding: 2px 0;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.dijitTimePickerItem {
  margin: 0;
}
.dijitTimePickerTick {
/* minor value */
  color: #9a9b9f;
  border: 0;
}
.dijitTimePickerMarker {
/* major value - 1:00, 2:00, times on the hour */
  background: #f5f5f5;
  white-space: nowrap;
  border: 0;
}
.dijitTimePickerTickHover,
.dijitTimePickerMarkerHover {
  background: #007ac2;
  color: #fff;
}
.dijitTimePickerMarkerSelected,
.dijitTimePickerTickSelected {
  background: #007ac2;
  color: #fff;
}
.dijitTimePickerTick .dijitTimePickerItemInner,
.dijitTimePickerMarker .dijitTimePickerItemInner {
  padding: 4px;
  margin: 0;
}
