/* TitlePane 
 * 
 * Styling TitlePane means styling the TitlePane title and its content container  (dijitTitlePane)
 * 
 * TitlePane title:
 * 1. TitlePane title (default styling): 
 * 		.dijitTitlePaneTitle - TitlePane's title div style: background-color, border
 *
 * 2. hovered TitlePane title (ie, mouse hover on a title bar)
 * 		.dijitTitlePaneTitleHover - styles when mouse hover on the title div
 * 
 * 3. active TitlePane title (ie, mouse down on a title bar)
 * 		.dijitTitlePaneTitleActive - styles when mouse down on the title div
 * 
 * 
 * TitlePane Content Container:
 * 1. outer/inner container: 
 * 		.dijitTitlePaneContentOuter / dijitTitlePaneContentInner - styles for the content outer div
 */
.dijitTitlePaneTitle {
  border-style: solid;
/*border-width: 1px;*/
  padding: 2px 6px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 15px;
/*text-shadow: $button-text-shadow;*/
  cursor: pointer;
  border-color: #d0d0d0;
  background: #f5f5f5;
  background: -webkit-linear-gradient(#f5f5f5, #f5f5f5);
  background: -moz-linear-gradient(#f5f5f5, #f5f5f5);
  background: -o-linear-gradient(#f5f5f5, #f5f5f5);
  background: -ms-linear-gradient(#f5f5f5, #f5f5f5);
  background: linear-gradient(#f5f5f5, #f5f5f5);
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.dijitTitlePaneTitleHover {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
/*background: darken(color, 8%); // fallback
	background: linear-gradient(lighten(color, 5%), darken(color, 8%));*/
  -webkit-box-shadow: none;
  box-shadow: none;
}
.dijitTitlePaneTitleActive {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  outline: none;
/*background: darken(color, 15%); // fallback*/
/*background: linear-gradient(color, color);*/
}
.dijitTitlePane .dijitArrowNode {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-decoration: inherit;
  vertical-align: bottom;
  text-align: center;
}
.dijitTitlePane .dijitArrowNode:before {
  content: "\f078";
  font-size: 12px;
}
.dijitTitlePane .dijitClosed {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.dijitTitlePane .dijitClosed .dijitArrowNode:before {
  content: "\f077";
}
.dijitTitlePaneContentOuter {
  background: #fff;
  border: 1px solid #d0d0d0;
  border-top: none;
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
.dijitTitlePaneContentInner {
  padding: 4px;
}
.dijitTitlePaneTextNode {
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: text-top;
}
