/* Toolbar 
 * 
 * Styling Toolbar means styling the toolbar container and the widget inside toolbar  (dijitToolbar)
 * 
 * 1. toolbar (default styling): 
 * 		.dijitToolbar - styles for outer container
 *
 * 2. widget inside toolbar
 * 		.dijitToolbar .dijitButtonNode   - Button widget
 * 					  .dijitComboButton  - ComboButton widget
 * 					  .dijitDropDownButton  - DropDownButton widget
 * 					  .dijitToggleButton  - ToggleButton widget
 * 		
 * 3. hovered widget inside toolbar (ie, mouse hover on the widget inside)
 * 			.dijitToolbar .dijitButtonNodeHover  - styles for hovered Button widget
 * 
 * 4. actived widget inside toolbar (ie, mouse down on the widget inside)
 * 			.dijitToolbar .dijitButtonNodeActive  - mouse down on Button widget
 */
.dijitToolbar {
/*background: $toolbar-background;*/
  padding: 2px;
  zoom: 1;
/* Override default button styles */
/* Hover */
/*
	.dijitComboButtonHover {
		.dijitButtonNode,
		.dijitDownArrowButton {
		}

		.dijitButtonNodeHover,
		.dijitDownArrowButtonHover {
		}
	}
	*/
/* Active */
/* Toggle button checked status */
}
.dijitToolbar label {
  padding: 4px;
}
.dijitToolbar .dijitToggleButton,
.dijitToolbar .dijitButton,
.dijitToolbar .dijitDropDownButton,
.dijitToolbar .dijitComboButton {
  margin-right: 2px;
}
.dijitToolbar .dijitButton .dijitButtonNode,
.dijitToolbar .dijitDropDownButton .dijitButtonNode,
.dijitToolbar .dijitComboButton .dijitButtonNode,
.dijitToolbar .dijitToggleButton .dijitButtonNode,
.dijitToolbar .dijitComboBox .dijitButtonNode {
  border: 1px solid transparent;
  padding: 2px;
  background: transparent;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -ms-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.dijitToolbar .dijitComboButton .dijitStretch {
/* no rounded border on side adjacent to arrow */
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.dijitToolbar .dijitComboButton .dijitArrowButton {
/* no rounded border on side adjacent to button */
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.dijitToolbar .dijitComboBox .dijitButtonNode {
  padding: 0 4px;
}
.dijitToolbar .dijitComboBox .dijitInputInner {
  padding: 0;
}
.dijitToolbar .dijitDropDownButton .dijitArrowButtonInner {
  margin-left: 2px;
}
.dijitToolbar .dijitButtonHover .dijitButtonNode,
.dijitToolbar .dijitDropDownButtonHover .dijitButtonNode,
.dijitToolbar .dijitToggleButtonHover .dijitButtonNode,
.dijitToolbar .dijitComboButtonHover .dijitButtonNode {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
/*background: darken(color, 8%); // fallback
	background: linear-gradient(lighten(color, 5%), darken(color, 8%));*/
  border: 1px solid #d0d0d0;
}
.dijitToolbar .dijitButtonActive .dijitButtonNode,
.dijitToolbar .dijitDropDownButtonActive .dijitButtonNode,
.dijitToolbar .dijitToggleButtonActive .dijitButtonNode {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  outline: none;
/*background: darken(color, 15%); // fallback*/
/*background: linear-gradient(color, color);*/
/*border: $toolbar-active-border;*/
}
.dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  outline: none;
/*background: darken(color, 15%); // fallback*/
/*background: linear-gradient(color, color);*/
/*border: $toolbar-active-border;*/
}
/* Separator */
.dijitToolbarSeparator {
  width: 1px;
  height: 20px;
  background: #d0d0d0;
  padding: 0;
  margin: 0 2px;
}
/* Toolbar inside of disabled Editor */
.dijitDisabled .dijitToolbar {
  background: $disabled-background-color;
  border-bottom: 1px solid #d0d0d0;
}
