<div id="accordion3" class="panel-group">

    <div class="panel">

        <div class="panel-heading">
            <a href="#collapseOneTwo" data-toggle="collapse" class="accordion-toggle" aria-expanded="true">
                Collapsible Group Item
            </a>
        </div>
        <div class="panel-collapse collapse in" id="collapseOneTwo" aria-expanded="true" style="">
            <div class="panel-body">
                <strong>Light Blue</strong> - is a next generation admin template based on the latest Metro design. There are few reasons we want to tell you, why we have created it:
                We didn't like the darkness of most of admin templates, so we created this light one. We didn't like the high contrast of most of admin templates, so we created this unobtrusive one.
                We searched for a solution of how to make widgets look like real widgets, so we decided that deep background - is what makes widgets look real.
                <br>
                <em>- Some One</em>
            </div>
        </div>
    </div>

    <div class="panel">

        <div class="panel-heading">
            <a href="#collapseTwoTwo" data-toggle="collapse" class="accordion-toggle">
                Random from the Web
            </a>
        </div>
        <div class="panel-collapse in collapse" id="collapseTwoTwo">
            <div class="panel-body">
                Why don't use Lore Ipsum? I think if some one says don't use lore ipsum it's very controversial point. I think the opposite actually. Everyone knows what is lore ipsum - it is
                easy to understand if text is lore ipsum. You'll automatically skip - because you know - it's just non-informative stub. But what if there some text like this one? You start to read it!
                But the goal of this text is different. The goal is the example. So a bit of Lore Ipsum is always very good practice. Keep it in mind!
                <br>
                Awesome text that <strong>stands out</strong>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <a href="#collapseThreeTwo" data-toggle="collapse" class="accordion-toggle collapsed">
                Check it
            </a>
        </div>
        <div class="panel-collapse collapse" id="collapseThreeTwo">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
            </div>
        </div>
    </div>

</div>