.breadCrumb{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.gallery .dgrid-row {
    width: 15%;
    float: left;
    text-align: center;
    padding: 1em 0;
}
.gallery .icon {
    width: 128px;
    height: 128px;
    margin: auto;
}

.icon {
    font-size: 0; /*TODO: is this needed?*/
    background-repeat: no-repeat;
}

.fileGridView .fileGridNameCell{
    line-height: 1.6em;
    vertical-align: middle;

}
.fileGridView .fileGridIconCell{
    margin:3px;
    float: left;
}
.dgrid-scrollbar-width{
    width: 2px !important;
}


/* This stylesheet provides the structural CSS for the dgrid */
.dgrid {
    position: relative;
    /*overflow: hidden; /* This is needed by IE to prevent crazy scrollbar flashing */
    /*border: 1px solid #ddd;*/
    overflow: auto;
    height: 100%;
    min-height: 200px;
    display: block;
    /*background-color: #f5f5f5;*/

}
.dgrid .collapsed{
    display: block;
}

.dgrid-header {
    background-color: #eee;
    position: absolute;
    /*right: 17px;*/ /* scrollbar width; revised in List.js if necessary */
    left: 0;
}

.dgrid-header-scroll {
    position: absolute;
    top: 0;
    right: 0;
}

.dgrid-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 0px !important;
}

.dgrid-header-hidden,
html.has-quirks .dgrid-header-hidden .dgrid-cell {
    /*
        Used to "hide" header, without losing size information for reference.
        !important is used to supersede theme styles at higher specificity.
        Left/right box styles are untouched, as they may influence width of
        .dgrid-content as updated in Grid's resize method.
        Note: Still not quite perfect in IE Quirks mode (1px left over).
    */
    font-size: 0; /* allow shrinkage in IE Quirks mode for Lists */
    height: 0 !important;
    border-top: none !important;
    border-bottom: none !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.dgrid-footer-hidden {
    /* Hiding footer is much simpler; simply set its display to none. */
    display: none;
}

.dgrid-sortable {
    cursor: pointer;
}
.dgrid-header, .dgrid-header-row, .dgrid-footer {
    overflow: hidden;
    border: 0px !important;
    /*background-color: #eee;*/
}

.dgrid-row-table {
    border-collapse: collapse;
    border: none;
    table-layout: fixed;
    empty-cells: show;
    width: 100%; /* this becomes 'auto' for IE7 (non-quirks) */
    height: 100%;
}
.dgrid-cell {
    padding: 0px;
    text-align: left;
    overflow: hidden;
    vertical-align: top;
    /*border: 1px solid #ddd;*/
    border-top-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.dgrid-cell-padding {
    padding: 3px;
}

.dgrid-content {
    position: relative;
    /*background: none repeat scroll 0 0 #FFFFFF;*/
    height: 99%;
}

.dgrid-scroller {
    overflow-x: auto;
    overflow-y: auto;
    position: absolute;
    top: 0px;
    margin-top: 25px; /* this will be adjusted programmatically to fit below the header*/
    bottom: 0px;
    width: 100%;
}

.dgrid-preload {
    /* Force IE6 to honor 0 height */
    font-size: 0;
    line-height: 0;
}

.dgrid-loading {
    position: relative;
    height: 100%;
}
.dgrid-above {
    position: absolute;
    bottom: 0;
}

.ui-icon {
    width: 16px;
    height: 16px;
    background-image: url('images/ui-icons_222222_256x240.png');
}
.dgrid-sort-arrow {
  background-position: -64px -16px;
  display: block;
  float: right;
  margin: 0 4px 0 5px;
  height: 12px;
}
.dgrid-sort-up .dgrid-sort-arrow {
  background-position: 0px -16px;
}
.dgrid-selected {
  background-color: #bbb;
}
.dgrid-input {
  width: 99%;
}
html.has-mozilla .dgrid-focus {
  outline-offset: -1px;
}
.dgrid-scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
.dgrid-autoheight {
  height: auto;
}
.dgrid-autoheight .dgrid-scroller {
  position: relative;
  overflow-y: hidden;
}
.dgrid-autoheight .dgrid-header-scroll {
  display: none;
}
.dgrid-autoheight .dgrid-header {
  right: 0;
}
.dgrid-column-set {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 100%;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.dgrid-column-set-cell {
  vertical-align: top;
  height: 100%;
}
.dgrid-column-set-scroller-container {
  font-size: 0;
  position: absolute;
  bottom: 0;
}
.dgrid-autoheight .dgrid-column-set-scroller-container {
  position: relative;
}
.dgrid-column-set-scroller {
  display: inline-block;
  overflow-x: auto;
  overflow-y: hidden;
}
.dgrid-column-set-scroller-content {
  height: 1px;
}
.ui-icon-triangle-1-e {
    background-position: -32px -16px;
}
.ui-icon-triangle-1-se {
    background-position: -48px -16px;
}

.dgrid-expando-icon {
  width: 16px;
  height: 16px;
}
.dgrid-tree-container {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow: hidden;
}
.dgrid-tree-container.dgrid-tree-resetting {
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    -ms-transition-duration: 0;
    -o-transition-duration: 0;
    transition-duration: 0;
}

/* Single Sort */
.dgrid-hider-toggle {
  background-position: 0 -192px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
.dgrid-rtl-swap .dgrid-hider-toggle {
  right: auto;
  left: 0;
}

/* selection*/
.dgrid-hider-menu {
  position: absolute;
  top: 0;
  right: 17px;
  width: 184px;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 99999;
  padding: 4px;
  overflow-x: hidden;
  overflow-y: auto;
}

.dgrid-rtl-swap .dgrid-hider-menu {
  right: auto;
  left: 17px;
}
.dgrid-hider-menu-row {
  position: relative;
  padding: 2px;
}
.dgrid-hider-menu-check {
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 0;
}
.dgrid-hider-menu-label {
  display: block;
  padding-left: 20px;
}
.dgrid-header .dojoDndTarget .dgrid-cell {
	outline-offset: -2px;
}


/* will be used to calculate the width of the scrollbar */
.dgrid-scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}

/* indicator of a successful load */
#dgrid-css-dgrid-loaded {
    display: none;
}
/* Styles for auto-height grids; simply add the dgrid-autoheight class */
.dgrid-autoheight {
    height: auto;
}
.dgrid-autoheight .dgrid-scroller {
    position: relative;
    overflow-y: hidden;
}
.dgrid-autoheight .dgrid-header-scroll {
    display: none;
}
.dgrid-autoheight .dgrid-header {
    right: 0;
}