.container {
  border: 1px solid #ccc;
}
.dndImage {
  display: block;
  height: auto;
  width: 100%;
  max-height: 150px;
  max-width: 150px;
  overflow: hidden;
}
.dojoDndContainerOver {
  cursor: move !important;
  /*border: 1px solid red !important;*/
  /*border: 3px solid #aaa;*/
  /*
  -moz-box-sizing: border-box;
  box-sizing: border-box;*/
}
.dojoDndTargetDisabled {
  background: #eee;
}
.dojoDndItemOver {
  cursor: normal;
}
.dojoDndItem {
  /*padding: 2px;*/
  /* Prevent magnifying-glass text selection icon to appear on mobile webkit as it causes a touchout event */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  /* Disable selection/Copy of UIWebView */
}
.dj_ff2 .dojoDndItem {
  -moz-user-select: none;
  /* workaround FF2 dragging bug, see #6345, #4854, #6350 */
}
.dojoDndItemOver {
  /*background: red !important;*/
  cursor: pointer;
}
.dojoDndItemSelected {
  background: #ccf;
  color: #444;
}
.dojoDndItemAnchor {
  background: #ccf;
  color: black;
}
.dojoDndItemOver .dojoDndItemSelected {
  background: #ededed !important;
}
.dojoDndItemOver .dojoDndItemAnchor {
  background: #ededed !important;
}
.dojoDndItemBefore {
  border-top: 3px solid #4a9ce6 !important;
  background-color: red !important;
}
.dojoDndItemHover {
  /*border-top: 3px solid #9ae644 !important;
  border-bottom: 3px solid #9ae644 !important;*/
  color: #008000 !important;
  font-weight: bolder !important;
}
.dojoDndItemAfter {
  border-bottom: 3px solid #369 !important;
}
.dojoDndAvatar {
  border: 2px solid #ccc;
  font-size: 75%;
  -moz-border-radius: 8pt 8pt;
  radius: 8pt;
  max-width: 300px ;
  /*max-height: 150px;*/
}
.dojoDndAvatarHeader {
  background: #aaa;
}
.dojoDndAvatarItem {
  background: #fff;
  border-bottom: 1px solid #666;
}
