@import "../mixins/functions";
/****
    Layout-Selector
*/
.fileLayoutSelector{
    float: right;
}

.fileLayoutSelector:after{

}


.fileViewToolbarTop{
    height: 25px;
    position: relative;
}
.fileLayoutGridIcon{

    background-image: url("./images/thumbs.png");
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    background-repeat: no-repeat !important;
}
.fileLayoutTreeIcon{

    background-image: url("./images/tree_structure.png");
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    background-repeat: no-repeat !important;
}
.fileLayoutListIcon{
    background-image: url("./images/399-list1.png");
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    background-repeat: no-repeat !important;
}


.fileTreeView{
    height: 100%;
    width: 100%;
}