@import "../mixins/functions";

/***
  Generics
*/
.gallery .fileGridCell {
    /*background-color: #FAFAFA;*/

    border-radius: 2px;

    /*color: #6F7983;*/
    height: 100px;
    margin: 4px;
    padding: 2px;
    text-align: center;
    width: 110px;
    word-wrap: break-word;
}
.gallery .dgrid-selected{

}
.gallery .dgrid-selected .name{
    /*color: #f5f5f5;*/
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; -moz-binding: url('../fonts/truncate.xml#ellipsis');
}
.fileGridViewCompact .gallery .dgrid-row {
  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; -moz-binding: url('../fonts/truncate.xml#ellipsis');
}
.dummyClass{
  padding: 0px;
}