/***

  Awesome LESS macros to generate cross browser CSS

*/
/***
  Layout - Macros
*/
/***
  Macros zum erstellen von Rahmen
*/
/***
  Macros fuer geometrische Operationen
*/
/***
  Effect Macros
*/
/***
  Macros fuer Highlighting bei Feedbacks
*/
/***
  Text - Macros
*/
/***
  Text - Macros
*/
/***
  Macros fuer Hintergrund-Sprites
*/
/***  Background-Sprite with different width & height*/
/***
  Background - Color - Transparent Overlay
*/
/***
  Shadow - Macro
*/
/***
    Image related
*/
/***
  Pure Class Macros
*/
/***
  LOW-LEVEL : Macros zum animieren von CSS Eigentschaften
*/
/***
  LOW-LEVEL : Macros zum erstellen von Gradients
*/
/**
  Text-Font-Size Macros
**/
.fileGridView {
  /*background-color: #f5f5f5;*/
  /*margin-top: -7px;*/
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 100% !important;
  height: 100% !important;
}
/***
  Columns
*/
.fileGridViewLarge .field-size {
  width: 100px;
}
.fileGridViewLarge .field-name {
  width: 200px;
}
.fileGridViewLarge .field-modified {
  width: 250px;
}
.fileGridViewLarge .dgrid-row-odd {
  /*background-color: #dddddd;*/
}
.fileGridViewCompact {
  overflow-y: hidden;
  height: 95% !important;
  overflow: hidden !important;
}
.fileGridViewCompact .field-name {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-binding: url('../fonts/truncate.xml#ellipsis');
}
.fileGridViewCompact .field-size {
  width: 30%;
}
.fileGridViewCompact .field-modified {
  width: 0px;
}
.fileGridViewCompact .dgrid-row-even {
  /*background-color: #dddddd;*/
}
/***
  Cells - Gallery
*/
.fileGridViewCompact .gallery .dgrid-row {
  width: 120px;
  float: left;
  text-align: center;
  padding: 1em 0;
}
.fileGridViewCompact .gallery .icon {
  width: 100px;
  height: 100px;
  margin: auto;
}
.fileGridViewCompact .gallery .imageFile {
  /*display: block;*/
  height: auto;
  max-height: 90px !important;
  max-width: 100px !important;
  overflow: hidden;
}
html .dgrid-content *:focus {
  background-color: none;
}
.fileGridView .table th {
  border-top: 0px solid #DDDDDD;
  line-height: 18px;
  /*padding: 0px !important;*/
  text-align: left;
  vertical-align: top;
  /*outline:none !important;*/
}
.fileGridView .table td {
  border-top: 0px solid #DDDDDD;
  line-height: 1.6em;
  /*padding: 0px !important;*/
  text-align: left;
  vertical-align: top;
}
.fileGridView {
  /*background-image: url("images/upload_bg_icon.png");*/
}
.itemFolderList {
  font-size: 1.3em;
  float: left;
  margin-right: 4px;
  margin-left: 5px;
  line-height: 1.4em !important;
}
