@import "../mixins/variables.less";

.fileSelectDialog{
  min-width: 400px;
  min-height: 400px;

}

.fileSelectDialog .dijitDialogPaneContent{
  padding: 0px!important;
}
.filePickerDialogLarge{
  min-width: 735px;
  min-height: 500px;
}
.filePickerDialogLarge .actionToolbarEmbedded{
  float: left;
}
.filePickerDialogLarge .layoutTop{
  min-height: 30px;
}
.filePickerDialogLarge .dgrid-content{
  height: inherit;
}
/*
.fileOperationView{
}

.fileOperationView LABEL{

 .makeTextEx(@font-size-base,@primary-text-color,@font-family-monospace,normal,left);
  line-height: @line-height-computed;
  float: left;
  margin: 0.2em;

}
.fileOperationView .labelRoot{
  float:left;
  margin: 0.2em;
}
.fileSelectButton {
  background-image: url("images/library.png");
  background-size: 100% 100%;
  cursor: pointer;
  height: 18px;
  width: 18px;
}*/