/***

  Awesome LESS macros to generate cross browser CSS

*/
/***
  Layout - Macros
*/
/***
  Macros zum erstellen von Rahmen
*/
/***
  Macros fuer geometrische Operationen
*/
/***
  Effect Macros
*/
/***
  Macros fuer Highlighting bei Feedbacks
*/
/***
  Text - Macros
*/
/***
  Text - Macros
*/
/***
  Macros fuer Hintergrund-Sprites
*/
/***  Background-Sprite with different width & height*/
/***
  Background - Color - Transparent Overlay
*/
/***
  Shadow - Macro
*/
/***
    Image related
*/
/***
  Pure Class Macros
*/
/***
  LOW-LEVEL : Macros zum animieren von CSS Eigentschaften
*/
/***
  LOW-LEVEL : Macros zum erstellen von Gradients
*/
/**
  Text-Font-Size Macros
**/
/***   Text - Colors   ***/
/***   Colors   ***/
/***
  Default-Text Margins and Paddings
*/
/*** Border-Colors ***/
/***
  Highlight Colors
*/
/***
  Shadows
*/
/***
  Buttons
*/
/***
  Standard-Background-Color for Toolbars
*/
/***
  Dojo - Internals
*/
.fileSelectDialog {
  min-width: 400px;
  min-height: 400px;
}
.fileSelectDialog .dijitDialogPaneContent {
  padding: 0px!important;
}
.filePickerDialogLarge {
  min-width: 735px;
  min-height: 500px;
}
.filePickerDialogLarge .actionToolbarEmbedded {
  float: left;
}
.filePickerDialogLarge .layoutTop {
  min-height: 30px;
}
.filePickerDialogLarge .dgrid-content {
  height: inherit;
}
/*
.fileOperationView{
}

.fileOperationView LABEL{

 .makeTextEx(@font-size-base,@primary-text-color,@font-family-monospace,normal,left);
  line-height: @line-height-computed;
  float: left;
  margin: 0.2em;

}
.fileOperationView .labelRoot{
  float:left;
  margin: 0.2em;
}
.fileSelectButton {
  background-image: url("images/library.png");
  background-size: 100% 100%;
  cursor: pointer;
  height: 18px;
  width: 18px;
}*/
