.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  font-weight: normal !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  font-weight: normal !important;
  font-family: Verdana;
}
@import "../fonts/stylesheet.css";