@import "../mixins/functions";
.normalizedGridView
{

}
/*
.normalizedGridView .dgrid-scroller{
  overflow-x: hidden;
  width: inherit;
  padding-right: 4px;
}
.normalizedGridView .dgrid-header{
  top: 0px;
}
.normalizedGridView .dgrid-cell{
  font-weight: normal;
  line-height: 1.7em;
  padding-left: 8px;
}
.normalizedGridView .dgrid-content{
  margin-top: 4px;
}
*/