/***

  Awesome LESS macros to generate cross browser CSS

*/
/***
  Layout - Macros
*/
/***
  Macros zum erstellen von Rahmen
*/
/***
  Macros fuer geometrische Operationen
*/
/***
  Effect Macros
*/
/***
  Macros fuer Highlighting bei Feedbacks
*/
/***
  Text - Macros
*/
/***
  Text - Macros
*/
/***
  Macros fuer Hintergrund-Sprites
*/
/***  Background-Sprite with different width & height*/
/***
  Background - Color - Transparent Overlay
*/
/***
  Shadow - Macro
*/
/***
    Image related
*/
/***
  Pure Class Macros
*/
/***
  LOW-LEVEL : Macros zum animieren von CSS Eigentschaften
*/
/***
  LOW-LEVEL : Macros zum erstellen von Gradients
*/
/**
  Text-Font-Size Macros
**/
/*
.normalizedGridView .dgrid-scroller{
  overflow-x: hidden;
  width: inherit;
  padding-right: 4px;
}
.normalizedGridView .dgrid-header{
  top: 0px;
}
.normalizedGridView .dgrid-cell{
  font-weight: normal;
  line-height: 1.7em;
  padding-left: 8px;
}
.normalizedGridView .dgrid-content{
  margin-top: 4px;
}
*/
