@import "../mixins/variables.less";
//ui-widget-content ui-state-default
.logGridView{
}

//////////////////////////////////////////////////////
.logGridView .field-level{
  width: 80px;
  text-align: left;
  text-transform: capitalize;
}
.logGridView .field-type {
  width: 105px;
  text-align: left;
}
.logGridView .field-save {
  width: 10%;
  text-align: center;
}
.logGridView .field-value {
  width: 33%;
}
.logGridView .field-title {
  width: 50%;
  padding-left: 15px;
}
.logGridView .field-initialize{
  width: 25%;
}
.logGridView .dgrid-column-0-3{
  text-align: center;
}
.logGridView .dojoDndItemAnchor{
  background:inherit !important;
  color: inherit !important;
}

//////////////////////////////////////////////////////