/***

  Awesome LESS macros to generate cross browser CSS

*/
/***
  Layout - Macros
*/
/***
  Macros zum erstellen von Rahmen
*/
/***
  Macros fuer geometrische Operationen
*/
/***
  Effect Macros
*/
/***
  Macros fuer Highlighting bei Feedbacks
*/
/***
  Text - Macros
*/
/***
  Text - Macros
*/
/***
  Macros fuer Hintergrund-Sprites
*/
/***  Background-Sprite with different width & height*/
/***
  Background - Color - Transparent Overlay
*/
/***
  Shadow - Macro
*/
/***
    Image related
*/
/***
  Pure Class Macros
*/
/***
  LOW-LEVEL : Macros zum animieren von CSS Eigentschaften
*/
/***
  LOW-LEVEL : Macros zum erstellen von Gradients
*/
/**
  Text-Font-Size Macros
**/
/***   Text - Colors   ***/
/***   Colors   ***/
/***
  Default-Text Margins and Paddings
*/
/*** Border-Colors ***/
/***
  Highlight Colors
*/
/***
  Shadows
*/
/***
  Buttons
*/
/***
  Standard-Background-Color for Toolbars
*/
/***
  Dojo - Internals
*/
.logGridView .field-level {
  width: 80px;
  text-align: left;
  text-transform: capitalize;
}
.logGridView .field-type {
  width: 105px;
  text-align: left;
}
.logGridView .field-save {
  width: 10%;
  text-align: center;
}
.logGridView .field-value {
  width: 33%;
}
.logGridView .field-title {
  width: 50%;
  padding-left: 15px;
}
.logGridView .field-initialize {
  width: 25%;
}
.logGridView .dgrid-column-0-3 {
  text-align: center;
}
.logGridView .dojoDndItemAnchor {
  background: inherit !important;
  color: inherit !important;
}
