@import "fontawesome.css";
@import "tree.css";
@import "ConsoleView.css";
@import "Blox.css";
@import "fonts.css";
/*@import "Firebug.css";*/
@import "Icons.css";
@import "Properties.css";



/**************************************************/
/*      XFile Adjustments                         */
.xFileView{}
.xFileView .actionToolbarButton{
    float: left;
}
.xFileView .toolbaredContainer_toolbarDiv{
    top:0 !important;
}
