@import "ConsoleView.css";
@import "../commons/bootstrap.css";
@import "../json_editor/jsoneditor.css";
@import "../xide/Wizard.css";
@import "Icons.css";
@import "../commons/Widgets.css";
@import "../commons/Loading.css";
/*@import "../commons/Ribbon.css";*/
@import "../xfile/fileGridView.css";
@import "../xfile/quicklook.css";

.row-odd {
    background: #f2f7e8;
}

.iconStatusOff {
    color: red !important;
}

.iconStatusOn {
    color: #008000 !important;
}