// import macros
@import "functions";


//
// Variables
// --------------------------------------------------

@assetUrlPrefix: "./assets/";

// Grays
// -------------------------

@gray-darker:            lighten(#000, 13.5%); // #222
@gray-dark:              lighten(#000, 20%);   // #333
@gray:                   lighten(#000, 33.5%); // #555
@gray-light:             lighten(#000, 60%);   // #999
@gray-lighter:           lighten(#000, 93.5%); // #eee


/***   Text - Colors   ***/
@primary-text-color: #FFF;
@secondary-text-color: #fff;
@categoryTextColor: #fff;

// Typography
// -------------------------
@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         ceil(@font-size-base * 1.25); // ~18px
@font-size-small:         ceil(@font-size-base * 0.85); // ~12px

@font-size-h1:            floor(@font-size-base * 2.60); // ~36px
@font-size-h2:            floor(@font-size-base * 2.15); // ~30px
@font-size-h3:            ceil(@font-size-base * 1.70); // ~24px
@font-size-h4:            ceil(@font-size-base * 1.25); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil(@font-size-base * 0.85); // ~12px

@line-height-base:        1.428571429; // 20/14
@line-height-computed:    floor(@font-size-base * @line-height-base); // ~20px

@defaultFont: @font-family-sans-serif;


/***   Colors   ***/
@primary-color: #f3f3f3;// Base color for entire theme
@secondary-color: #fbfbfb;// Base color for bar-backgrounds
@text-color: #000;// Text color for enabled widgets
@disabled-color: #d3d3d3;// Base for disabled backgrounds and borders
@default-container-background-color:darken(@secondary-color,20%);


@categoryTextBackgroundColor:rgb(59,187,0);




// Components
// -------------------------
// Based on 14px font-size and 1.428 line-height (~20px to start)

@padding-base-vertical:          6px;
@padding-base-horizontal:        12px;

@padding-large-vertical:         10px;
@padding-large-horizontal:       16px;

@padding-small-vertical:         5px;
@padding-small-horizontal:       10px;

@line-height-large:              1.33;
@line-height-small:              1.5;

@border-radius-base:             4px;
@border-radius-large:            6px;
@border-radius-small:            3px;

/***
  Default-Text Margins and Paddings
*/
@defaultMargin:@padding-base-vertical;
@defaultButtonMargin:@padding-large-horizontal;
@defaultPadding:8px;

@defaultTextLeftMargin:@padding-base-horizontal;
@defaultTextLineHeight:1.3em;
@defaultTextLineHeightLarge:1.7em;

// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
// Note: Deprecated @screen-xs and @screen-phone as of v3.0.1
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);

/*** Border-Colors ***/
@default-border-color:#ffffff;
@default-border-alternate-color:#78787d;
@default-container-border-color:rgb(215,215,215);

/***
  Highlight Colors
*/

@default-highlight-color-correct:rgb(0,128,0);
@default-highlight-color-wrong:rgb(128,0,0);

/***
  Shadows
*/
@default-button-shadow:0 1px 1px rgba(0,0,0,0.15);

/***
  Buttons
*/
@toggleButtonDefaultMargin:1.0em;

/***
  Standard-Background-Color for Toolbars
*/
@toolbar-background-color:rgb(200,200,205);



/***
  Dojo - Internals
*/

@container-background-color:rgba(255,255,255,1);										// Backgrounds for various content areas such as TitlePane, ContentPane and Inputs (if changed, adjust selected tab to match)
@error-color: #d46464;
@minor-selected-color: spin(saturate(darken(@primary-color, 6), 19), 0);						// Color for various arrows and buttons
@base-border-color: spin(desaturate(darken(@primary-color, 29), 44), -1);		// Augmented and used directly by variables to create border colors for various widgets
@unfocused-clickable-color: spin(saturate(lighten(@primary-color, 5), 10), 0);				// Background color for enabled buttons, text inputs
@border-color: spin(desaturate(darken(@primary-color, 15), 67), 8);						// Border color for (enabled, unhovered) TextBox, Slider, Accordion, BorderContainer, TabContainer
@minor-border-color: @disabled-color;									// Color of borders inside widgets: horizontal line in Calendar between weeks, around color swatches in ColorPalette, above Dialog action bar
@popup-border-color: @base-border-color;								// Border for Dialog, Menu, Tooltip.   Must also update tooltip.png (the arrow image file) to match


@disabled-border-color: @disabled-color;								// Border color for disabled/readonly Button, TextBox etc. widgets
@disabled-background-color: @secondary-color;							// Disabled button, textbox, etc.
@disabled-text-color: darken(@secondary-color, 43);											// Text color for disabled/readonly widgets

@unselected-background-color: @secondary-color;							// Background color for unselected/unopened tab button, accordion pane, TitlePane, Menu items
@unselected-text-color: darken(@secondary-color, 65);										// Text color for unselected/unopened tab button, accordion pane, TitlePane, Menu items

@hovered-border-color: @base-border-color;								// Hover of textbox, tab label, BorderContainer splitter, Calendar, etc.
@hovered-background-color: @minor-selected-color;	// Background color for hover of Button, MenuBar, Accordion pane, Calendar... anything that has a (non-white) color to start with and gets darker on hover
@hovered-text-color: @text-color;										// Used for title of select Accordion pane, label of select tab, hovered Menu item, etc.

@pressed-border-color:  @base-border-color;								// During click on Calendar day, Slider up/down buttons, tab button, etc.
@pressed-background-color: spin(saturate(darken(@primary-color, 16), 12), 0);					// Background color while clicking on Accordion/TitlePane title bar, tab button, Calendar day, Toolbar button, Tree row.

@selected-border-color: @base-border-color;  							// Selected AccordionPane, tab of nested TabContainer (but plain TabContainer is special)
@selected-background-color: @primary-color;								// Selected Accordion pane, nested tab label, Tree row
@selected-text-color: @text-color;										// title of selected Accordion pane, label of selected tab, hovered Menu item, etc.

@bar-background-color: @secondary-color;								// MenuBar, Toolbar, action bar at bottom of dialog
@pane-background-color: @container-background-color;					// Background color of Accordion panes, Dialogs, etc.
@popup-background-color: @container-background-color;					// Background for Dialog.   TODO: currently use for ColorPalette, maybe should change.



// Buttons
@button-border-color:  @base-border-color;								// Border for (stand-alone) buttons in normal, hovered, or active state
@button-background-color: @unfocused-clickable-color;					// Background color for (unhovered) buttons
@button-hovered-background-color: @minor-selected-color;	// Background color for hovered buttons
@button-pressed-background-color: @minor-selected-color;				// Background color for active buttons
@button-border-radius: @border-radius-small;												// Rounded corner radius for buttons (except in toolbar)
@button-shadow-distance:2px;
@button-shadow-blur:2px;
@button-shadow-color:rgba(0,0,0,0.5);


//edit-box
@textbox-padding: 2px;	// Padding for Textbox, Textarea, etc.

// CheckBox, RadioButton
@focus-outline-color: darken(@secondary-color, 65);											// Color for artificial focus outline around labels of checkboxes

						// For disabled tabs of a TabContainer (not officially supported)

// Dialog
@dialog-underlay-color: @container-background-color;			// the thing that grays out the screen when a dialog is shown
@dialog-titlebar-border-color: @container-background-color;	// Inner border around the title sectionof a Dialog, inside the main border of the Dialog and the border between title and content
@dialog-titlebar-background-color: @minor-selected-color;

// Toolbar
@toolbar-button-checked-background-color: @container-background-color;								// a toggled-on button in the toolbar
@toolbar-combobutton-hovered-unhoveredsection-background-color: spin(saturate(lighten(@primary-color, 8), 19), -29);	// when user hovers a ComboButton in a Toolbar, the other half of the button turns this color
@toolbar-button-border-radius: 2px;			// Rounded corner radius for buttons for buttons in toolbar

// DnD
@dnd-avatar-background-color: @container-background-color;					// Background color of little Dialog-type box indicating dragged items
@dnd-avatar-header-background-color: #f58383;		// Title bar for dragged items
@dnd-avatar-candrop-header-background-color: #97e68d;// Title bar for dragged items when they can be dropped
@dnd-dropseparator-color: @base-border-color;					// Color of line indicating that user is about to drop between items A & B

// Document level
@document-text-color: #131313;								// Text color for document itself (text outside of widgets)
@document-shadedsection-background-color: @bar-background-color;// background color used for <pre>, <code>, and table header rows
@document-border-color: @disabled-color;								// Border for <pre>, <code>, tables, etc.


// Select, ComboBox

@select-dropdownitem-background-color: @container-background-color;			// Background color for items in the drop down list of a ComboBox/Select
@select-dropdownitem-hovered-background-color: @pressed-background-color;	// Background color for the hovered item in the drop down list of a ComboBox/Select
@select-matchedtext-background-color: @minor-selected-color;				// Background color of text in ComboBox drop down that matches typed in phrase



// Input widgets
@focused-border-color: @base-border-color;								// Focused textbox, editor, select, etc.
@error-border-color: @error-color;											// Border for textbox in error state
@error-focused-border-color: darken(@error-color, 5);									// Border of textbox in error state, and focused
@erroricon-background-color: @error-color;									// Background color for exclamation point validation icon (for TextBox in error state)
@textbox-background-color: @container-background-color;					// Default background color of TextBox based widgets
@textbox-hovered-background-color: @unfocused-clickable-color;			// Background color when hovering a unfocused TextBox, Select, Editor, or other input widget
@textbox-focused-background-color: @textbox-background-color;
@textbox-error-background-color: @textbox-background-color;
@textbox-disabled-background-color: @disabled-background-color;

// Tooltip
@tooltip-gradient-color: fade(@primary-color,10%);		// a little swath of color at the bottom of tooltips
// BorderContainer
@splitter-hovered-background-color: @primary-color;	// Color of splitter when user hovers it, before mouse down
@splitter-dragged-background-color: @minor-selected-color;	// Color of splitter while it's being dragged

// Arrow buttons (stand alone, or inside ComboBox / ComboButton / Spinner / etc.

@arrowbutton-background-color: @secondary-color;
@arrowbutton-hovered-background-color: @minor-selected-color;			// Color of arrow when hovering ComboBox.   But hovering Spinner doesn't change arrow color (TODO)
@arrowbutton-pressed-background-color: @minor-selected-color;
@arrowbutton-inner-border-color: @container-background-color;									// Typically the arrows have an inner white border (a.k.a. padding) and then an outer black-ish border

// Icons, arrows, etc.
@image-arrow-sprite: "images/spriteArrows.png";
@image-calendar-arrows: "images/calendarArrows.png";
@image-calendar-arrows-ie6: "images/calendarArrows8bit.png";
@image-checkmark: "images/checkmarkNoBorder.png";
@image-checkmark-ie6: "images/checkmarkNoBorder.gif";
@image-dialog-close: "images/dialogCloseIcon.png";
@image-dialog-close-ie6: "images/dialogCloseIcon8bit.png";
@image-dnd: "images/dnd.png";
@image-editor-icons-enabled: "../../icons/images/editorIconsEnabled.png";
@image-form-button-arrows: "form/images/buttonArrows.png";
@image-form-checkbox-and-radios: "form/images/checkboxRadioButtonStates.png";
@image-form-checkbox-and-radios-ie6: "form/images/checkboxAndRadioButtons_IE6.png";
@image-form-common-arrows: "form/images/commonFormArrows.png";
@image-form-error: "form/images/error.png";
@image-form-slider-thumbs: "form/images/sliderThumbs.png";
@image-layout-tab-close: "layout/images/tabClose.png";	// [x] icon to close a tab
@image-loading-animation: "images/loadingAnimation.gif";
@image-tooltip: "images/tooltip.png";	// arrow connectors
@image-tooltip-ie6: "images/tooltip8bit.png";	// arrow connectors (8 bit)
@image-tree-expand: "images/treeExpandImages.png";
@image-tree-expand-ie6: "images/treeExpandImages8bit.png";
@image-progressbar-anim: "images/progressBarAnim.gif";
