.dndImage {
  display: block;
  height: auto;
  width: 100%;
  max-height: 150px;
  max-width: 150px;
  overflow: hidden;
}
.dojoDndAvatar{
  .dgrid-selected{
    box-shadow: none !important;
  }
  .dgrid-focus{
    outline: none;
  }
}
.dojoDndContainerOver {
  cursor:move !important;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoDndTargetDisabled {
  /*background: #eee;*/
}
.dojoDndItemOver{
  cursor:default;
}
.dojoDndItem {
  padding: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.dojoDndItemOver {
  cursor: pointer;
}
.dojoDndItemSelected {
  color: #444;

}
.dojoDndItemAnchor {

}
.dojoDndItemOver .dojoDndItemSelected {
  /*background: #ededed !important;*/
}
.dojoDndItemOver .dojoDndItemAnchor {
  /*background: #ededed !important;*/
}
.dojoDndItemHover {
  /*border-top: 3px solid #9ae644 !important;
  border-bottom: 3px solid #9ae644 !important;*/
  color: rgba(0, 128, 0, 0.68) !important;
  font-weight: bolder !important;

}

.dojoDndItemOver {
}
.dojoDndItemAnchor {
}
.dojoDndItemBefore {
  border-top: 3px solid #2a9929 !important;
  padding-top:10px;
  margin-top:10px;
  outline:none !important;
  background: none !important;
  outline-offset:0 !important;
  transform: scale(1);
  transition: 0.15s all ease;
  box-sizing: border-box;
  cursor: nw-resize;
}
.dojoDndItemAfter {
  border-bottom: 3px solid #2a9929 !important;

  padding-bottom:10px;
  margin-bottom:10px;

  outline:none !important;
  outline-offset:0 !important;
  background: none !important;
  transform: scale(1);
  transition: 0.15s all ease;
  box-sizing: border-box;
  cursor: sw-resize;
}

.dojoDndItemCenter{
  border-left: 3px solid #2a9929;
  border-right: 3px solid #2a9929;
  color:green;
  background: none !important;
  transform: scale(1);
  transition: 0.15s all ease;
  padding-bottom:10px;
  padding-top:10px;
  font-weight: bolder;
  box-sizing: border-box;
  text-decoration: underline;
  outline:none !important;
  outline-offset:0 !important;
  cursor:w-resize;
}
.dojoDndItemDisallow{
  border: 1px solid red;
  color:red;
  cursor: no-drop;
  background-color: rgba(138, 19, 23, 0.86) !important;
}

.dojoDndAvatar {
  border: 1px dashed rgba(255, 255, 255, 0.1);
  -moz-border-radius: 8pt 8pt;
  max-width: 300px ;
  background: rgba(51, 51, 51, 0.1);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.dojoDndAvatarHeader {
  background: #aaa;
}
.dojoDndAvatarItem {
  border-bottom: 1px solid #666;
}

table.dojoDndAvatar {
  display: block;
}
.dojoDndAvatarHeader td {
  display: none;
}
.dojoDndAvatarHeader:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-decoration: inherit;
  vertical-align: bottom;
  display: table-cell;
}
.dojoDndMove .dojoDndAvatarHeader:before {
  color: #da4d1e;
  content: "\f05e";
}
.dojoDndCopy .dojoDndAvatarHeader:before {
  color: #da4d1e;
  content: "\f05e";
}
.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader:before {
  color: #35ac46;
  content: "\f060";
}
.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader:before {
  color: #35ac46;
  content: "\f060";
}
.dojoDndAvatarItem {
  outline: none !important;
}
.dojoDndAvatarItem td {
}
.dojoDndAvatarItem td > * {
}
