$fa-font-path: "./fonts/";
@import "../../font-awesome/scss/font-awesome";
[class*="fa-"] {
  display: inline-block;
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/***************************************************/
/**         Special fonts                         **/
@font-face {
  font-family: 'front-to-back';
  src: url('fonts/front-to-back.eot');
  src: url('fonts/front-to-back.eot?99144359#iefix') format('embedded-opentype'), url('fonts/front-to-back.woff?99144359') format('woff'), url('fonts/front-to-back.ttf?99144359') format('truetype'), url('fonts/front-to-back.svg?99144359#front-to-back') format('svg');
  font-weight: normal;
  font-style: normal;
}