//Daux.io Navy
$sidebar-hover: #c5c5cb;
$lines: #e7e7e9;
$sidebar-background: #f5f5f6;
$dark: #13132a;
$light: #7795b4;
$text: #2d2d2d;
$medium-transparent: rgba(116, 116, 116, 0.28);
$dark-transparent: rgba(237, 237, 237, 1);
$font-normal: #d1d1d1;
$link-normal: #abb4d1;
@import "../../../theme/html-transparent/src/sass/variables";



.MarkdownView{

  A{
    color:#abb4d1;
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300
  }

  b,strong {
    font-weight: inherit;
    font-weight: bolder
  }

  table {
    width: 100%;
    padding: 0;
    border-collapse: collapse
  }
  table td,table th {
    border: 1px solid #eee;
    margin: 0;
    padding: 6px 13px
  }

  table th {
    font-weight: 700;
    background: $medium-transparent;
  }
  table tr:nth-child(2n) {
    background-color: $dark-transparent;
  }
}
.xTheme-white{
  .MarkdownView {
    A {
      color: $blue;
    }
  }
}