//
//  Default perspective
//  for 3d animations
//
$perspective: 3000px;

/*

  #osm-menu = global ID
  It cannot be nested, user can add element with this ID
  anywhere in the html body.

*/
#osm-menu,
.osm-menu {
    position: absolute;
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    visibility: hidden;
}

/*

  Main css wrapper, element with this ID is created by
  jQuery plugin, and it is a wrapper for both website
  and menu.

*/
#osm-wrapper {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    -webkit-perspective: $perspective;
    -moz-perspective: $perspective;
    perspective: $perspective;
    overflow: hidden;
    // if you changed global box model, please un-comment these 3 lines below
    // -webkit-box-sizing: border-box;
    // -moz-box-sizing: border-box;
    // box-sizing: border-box;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    #osm-website {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        // if you changed global box model, please un-comment these 3 lines below
        // -webkit-box-sizing: border-box;
        // -moz-box-sizing: border-box;
        // box-sizing: border-box;
   
    }
    #osm-menu,
    .osm-menu {
        position: absolute;
        overflow: hidden;
        // if you changed global box model, please un-comment these 3 lines below
        // -webkit-box-sizing: border-box;
        // -moz-box-sizing: border-box;
        // box-sizing: border-box;
   
    }
}

/*

  Import all the presets for the animations
  They are all nested in #osm-wrapper
  and generated with editor

*/
@import "osm-presets";

/* ----/ end of the mandatory CSS required for component to work properly -- */

/*

  OPTIONAL Styling for menu that user can use for jumpstart in design
  All NESTED inside #osm-menu,.osm-menu, so the possibillity of clashing
  with other css is minimal.

*/

$breakSmall: 768px;
$breakMedium: 1025px;
$breakLarge: 1200px;

$menuBackground: #191919;
$menuBorderColor: #333;
$menuPadding: 2em 1em;

$menuItemColor : #aaa;
$menuItemColorHover : white;

#osm-menu,
.osm-menu {
    .osm-defaultStyle {
        width: 100%;
        height: 100%;
        background-color: $menuBackground;
        border: 1px solid $menuBorderColor;
        // menu shadow, comment out if no like ;)
        box-shadow: 0px 0px 15px rgba(#000, 0.3);
        padding: $menuPadding;
        h1, h2, h3, h4, p {
            color: $menuItemColor;
            cursor: pointer;
            text-align: center;
            transition: all 0.3s;
        }
        h3 {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            font-size: 1.1em;
        }
        h1 {
            cursor: pointer;
            font-size: 1.7em;
            margin-top: 0.2em;
            margin-bottom: 0.2em;
        }
        h1:hover {
            color: $menuItemColorHover;
            // hover glow
            text-shadow: 0px 0px 40px rgba(#fff, 0.5);
        }
        display: -webkit-flex;
        -webkit-flex-direction: column;
        -webkit-justify-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // breaking for small screens */
        @media only screen and (min-width: 1px) and (max-width: $breakSmall) {
            h1 {
                font-size: 1.9em;
            }
        }
        // breaking for medium screens */
        @media only screen and (min-width: $breakSmall) and (max-width: $breakMedium) {
            h1 {
                font-size: 2.6em;
            }
        }
        // breaking for large screens */
        @media only screen and (min-width: $breakMedium) and (max-width: $breakLarge) {
            h1 {
                font-size: 2.8em;
            }
        }
        // breaking for ultra screens */
        @media only screen and (min-width: $breakLarge) {
            h1 {
                font-size: 3em;
            }
        }
    }
}