@import url("syntaxColors.css");
@import url("propview.css");

.widgetPropertyView{
    min-width: 350px !important;
}
BODY{
	/*position: fixed;*/
}

.downloadSelectedHeader{
	font-weight: bold;
}

.downloadSelectedList{
	overflow: auto;
	height: 50px;
	margin-left:10px;
}

.dwnloadLibTable .columnc{
	text-align: center;
}

#xapp .dijitTabContainer, #xapp .dijitSplitter {
	/*background-color: #ced3d3;*/
}
#xapp .davinciPaletteContainer .dijitTab {
	border:1px solid #d2d2d2;
}
#xapp .davinciPaletteContainer .dijitTabContainerLeft-tabs {
	border-right: 1px solid #d2d2d2;
}
#xapp .davinciPaletteContainer .dijitTabContainerRight-tabs {
	border-left: 1px solid #d2d2d2;
}
.claro #xapp .davinciPaletteContainer .dijitTab.dijitTabChecked .dijitTabInnerDiv {
	/*background-color:#B2D4F3;*/
}
.claro #xapp .davinciPaletteContainer .dijitTab .dijitTabInnerDiv {
	/*background-color:#d0d0d0;*/
}
.claro #xapp .davinciPaletteContainer .davinciBottomPalette .dijitTabContainerTop-tabs .dijitTab {
	padding-top:0px;
}

/**** RESTORE THIS LOGIC LATER WHEN WE ALLOW USERS TO ADD/REMOVE PALETTES ****/
.claro #xapp .davinciPaletteContainer .dijitTabCloseIcon {
	/*opacity:0;*/ /* visibility:hidden doesn't seem to work with :hover */
}
.claro #xapp .davinciPaletteContainer .dijitTabCloseIcon:hover {
	/*opacity:1;*/
}

/**** TEMPORARILY, DONT SHOW CLOSE BUTTON ****/
.claro #xapp .davinciPaletteContainer .dijitTabCloseIcon {
	display:none;
}

#xapp .davinciPalette {
	overflow:hidden;
}
	
#xapp .dijitSplitterH {
	/*height:4px;*/
}
#xapp .dijitSplitterV {
	/*width:4px;*/
}
.claro #editors_container {
	z-index:-4;	/* For some reason, need negative z-index when using StackContainer */
}
.claro #editors_container .dijitBorderContainer {
	padding:8px;
}
.claro #editors_container .dijitBorderContainer-dijitContentPane {
	border:none;
	padding:0;
}

.heading {
	font-weight: bold;
	padding-bottom: 0.25em;
}

.viewActionIcon, .editActionIcon {
	width:28px;
	height:28px;
	background-repeat: no-repeat; 
}
#davinci_toolbar_container .viewActionIcon, #davinci_toolbar_container .editActionIcon {
	width:27px;
	height:27px;
}

.StyleNormalViewButton {
	width:17px;
}
.StyleNormalViewButton .dijitButtonNode {	
	width:16px !important;
	padding:0 !important;
}

.styleImagePreviewDiv{
	width:16px;
	height:16px;
	border: 1px solid #B3B3B3;
	background-repeat: no-repeat
}
.styleAlphaNameColumn,
.styleCategoryNameColumn{
	font-family: Verdana, sans-serif, Arial;
	font-weight: bold;
	font-size: 10px;
	text-align: left;
	float: left;
	width: 13em !important;
	
}
.computedCssValue {
	background-color : #ffe8e8 !important;
	border-color:#411 !important;
	
	
}
.styleAlphaValueColumn,
.styleCategoryValueColumn{
	
	font-family: Verdana, sans-serif, Arial;
	font-weight: normal;
	font-size: 10px;
	width: 13em !important;
	float:right;
	display:inline;
	
}

.styleCategoryTable,
.styleAlphaTable {
	font-family: Verdana;
	font-weight: normal;
	font-size: 10px;
	
	width: 250px;
	border-collapse: collapse;
	border-spacing: 0px;
	margin-top: 0px;
} 
.StyleNormalViewButton .dijitButtonContents {
	margin-left:-3px !important;
}

.StyleNormalViewSpacerFontButtonGroups {
	display:inline-block;
	width:3px;
}
.StyleNormalViewSpacerBGBorder {
	display:inline-block;
	width:4px;
}
.StyleNormalViewSpacerBorderColorWidth {
	display:inline-block;
	width:4px;
}

.stylePaneNormalViewTable{
	table-layout: fixed;
	border-spacing:0;
	margin:0;
	padding:0;
}

/* WE AREN'T SHOWING ICONS IN PROPS PALETTE NOW. MIGHT RESTORE THEM LATER
.styleBoldButton {
	background-image: url('img/styletoolbar/bold.gif') !important;
	width:16px;
	height:16px;
}

.styleItalicsButton {
	background-image: url('img/styletoolbar/italic.gif') !important; 
	width:16px;
	height:16px;
}

.styleUnderlineButton {
	background-image: url('img/styletoolbar/underline.gif') !important; 
	width:16px;
	height:16px;
}

.styleLeftJustifyButton {
	background-image: url('img/styletoolbar/align_left.gif');
	width:16px;
	height:16px;
}

.styleRightJustifyButton {
	background-image: url('img/styletoolbar/align_right.gif');
	width:16px;
	height:16px;
}

.styleCenterButton {
	background-image: url('img/styletoolbar/align_center.gif');
	width:16px;
	height:16px;
}
*/

#davinci_ve_widgets_ColorPicker_1 input, #dijit_form_TextBox_0, #dijit_form_TextBox_5 {
/*	color: transparent; */
}

#davinci_ve_widgets_MultiTypeDropDown_0 {
	padding: 2px;	
}

#davinci_ve_widgets_Background_0 {
	margin-bottom: -3px;	
}

#davinci_ve_widgets_ColorPicker_0 div, #davinci_ve_widgets_ColorPicker_1 div, #davinci_ve_widgets_ColorPicker_2 div{
	background-image: none;	
}

#styleFillColorIcon {
	margin-bottom: -5px;
}

#styleBackgroundImageIcon {
	margin-bottom: -4px;	
}

.propertiesPaneTable {
	margin: 4px;
	table-layout:fixed;
	width:13em;
}

.objectPaneTable {
	margin: 4px;
	table-layout:fixed;
	border-collapse:collapse;
	font-size:9pt;
}

.objectPaneTable th,
.objectPaneTable td {
	padding:1px 0 0 0;
} 

.objectSelectionName{
	height:2em;
}

.styleViewCol2,
.styleViewCol3,
.styleViewCol4,
.propertiesSelectionName,
.objectSelectionName {
	/*background-image:none !important;*/
	/*background-color:#EAEAEA !important;*/
    font: normal 900 8pt bold Verdana,sans-serif;
    text-transform: lowercase;
    letter-spacing: -0.02em;
}
.styleViewCol1{	
}

.propertiesAppliesToToolBar{
    background-color:#EAEAEA !important;	
}

.propertiesAppliesToToolBar,
.propertiesViewToolBar{
    /*background-image:none !important;*/
    font: normal 900 8pt bold Verdana,sans-serif;
    text-transform: lowercase;
    letter-spacing: -0.02em;
    width:74px !important;
}

.propertiesNameColumn,
.objectNameColumn{
    width:7em;
}
.propertiesValueColumn,
.objectValueColumn{
}	
.styleHeader {
    /*background-color:#4477BB !important;*/
    /*background-image:none !important;*/
    font: normal 900 8pt bold Verdana,sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -0.02em;
    color: #464646;
}

#mainBody {
	border-top: 1px solid #D1D1D1;
}
#editors_container > .dijitTabPaneWrapper {
	/*background-color:white;*/
}

.themeEditor {
	background-color: white !important;	
}

/* Tweaks to Claro for editor toolbar */
#davinci_toolbar_pane {
	overflow:hidden;
	height:43px;
	padding:0px;
	border-top: none;
	border-bottom: 4px solid #f4f4f4;
	margin-top: -3px;
}
.claro .dijitToolbar.davinciToolbar {
	font-size:10px;
	border-bottom:none;
	width:100%;
}
#xapp #davinci_toolbar_pane .dijitToolbar {
	padding:8px 0px 4px 6px; 
	background-color:white;
	height:44px;
	border-top: 1px solid gray;
	background-image:-webkit-linear-gradient(white 75%, #999 100%);
	background-image:-moz-linear-gradient(white 75%, #999 100%);
	background-image:-ms-linear-gradient(white 75%, #999 100%);
	background-image:-o-linear-gradient(white 75%, #999 100%);
	background-image:linear-gradient(white 75%, #999 100%);
}
.claro .dijitToolbar.davinciToolbar .dijitButtonContents {
	padding:0 2px;
	line-height:16px;
}
#xapp .davinciToolbar .maqLabelButton .dijitButtonContents:focus,
 #xapp .davinciToolbar .dijitButton .dijitButtonContents:focus,
 #xapp .davinciToolbar .dijitDropDownButton .dijitButtonContents:focus,
 #xapp .davinciToolbar .dijitComboButton .dijitArrowButton:focus {
	outline:1px dotted black;
}
#xapp .davinciToolbar .maqLabelButton .dijitButtonNode {
	padding: 4px;
	padding-bottom:3px;
	border-radius: 3px;
	font-size: 12px;
	border: 1px solid #333;
	box-shadow: .5px 1px 1px rgba(0,0,0,.5);
	border-color: #CCC;
}
#xapp .davinciToolbar .maqLabelButton .dijitButtonText {
	opacity: .9;
	font-weight: bold;
	text-shadow: 1px 1px white;
}
#xapp .davinciToolbar .maqLabelButton {
	margin-left: 2px;
	margin-right: 4px;
}
#xapp .davinciToolbar  .dijitDropDownButton {
	padding-left:0;	/* override claro theme value */
}
#xapp .davinciToolbar  .davinciFloatRight {
	float:right;
}
#xapp #davinci_toolbar_container .dijitToolbar .dijitButton.maqLabelButton .dijitButtonNode,
#xapp #davinci_toolbar_container .dijitToolbar .dijitDropDownButton.maqLabelButton .dijitButtonNode,
#xapp #davinci_toolbar_container .dijitToolbar .dijitComboButton.maqLabelButton .dijitButtonNode,
#xapp #davinci_toolbar_container .dijitToolbar .dijitToggleButton.maqLabelButton .dijitButtonNode,
#xapp #davinci_toolbar_container .dijitToolbar .dijitComboBox.maqLabelButton .dijitButtonNode {
	background: #EEE;
	background-image: -webkit-linear-gradient(#f4f4f4, #dbdbdb);
	background-image: -moz-linear-gradient(#f4f4f4, #dbdbdb);
	background-image: -ms-linear-gradient(#f4f4f4, #dbdbdb);
	background-image: -o-linear-gradient(#f4f4f4, #dbdbdb);
	background-image: linear-gradient(#f4f4f4, #dbdbdb);
}
#xapp #davinci_toolbar_container .dijitToolbar .dijitButton.maqLabelButton.dijitHover .dijitButtonNode,
#xapp #davinci_toolbar_container .dijitToolbar .dijitDropDownButton.maqLabelButton.dijitHover .dijitButtonNode,
#xapp #davinci_toolbar_container .dijitToolbar .dijitComboButton.maqLabelButton.dijitHover .dijitButtonNode,
#xapp #davinci_toolbar_container .dijitToolbar .dijitToggleButton.maqLabelButton.dijitHover .dijitButtonNode,
#xapp #davinci_toolbar_container .dijitToolbar .dijitComboBox.maqLabelButton.dijitHover .dijitButtonNode {
	background: #AAA;
	background-image: -webkit-linear-gradient(#fefefe, #cccccc);
	background-image: -moz-linear-gradient(#fefefe, #cccccc);
	background-image: -ms-linear-gradient(#fefefe, #cccccc);
	background-image: -o-linear-gradient(#fefefe, #cccccc);
	background-image: linear-gradient(#fefefe, #cccccc);
}
#xapp #davinci_toolbar_container .dijitToolbar .dijitButton.maqLabelButton.dijitActive .dijitButtonNode,
#xapp #davinci_toolbar_container .dijitToolbar .dijitDropDownButton.maqLabelButton.dijitActive .dijitButtonNode,
#xapp #davinci_toolbar_container .dijitToolbar .dijitComboButton.maqLabelButton.dijitActive .dijitButtonNode,
#xapp #davinci_toolbar_container .dijitToolbar .dijitToggleButton.maqLabelButton.dijitActive .dijitButtonNode,
#xapp #davinci_toolbar_container .dijitToolbar .dijitComboBox.maqLabelButton.dijitActive .dijitButtonNode {
	background: #ccc;
	background-image: -webkit-linear-gradient(#d0d0d0, #e4e4e4);
	background-image: -moz-linear-gradient(#d0d0d0, #e4e4e4);
	background-image: -ms-linear-gradient(#d0d0d0, #e4e4e4);
	background-image: -o-linear-gradient(#d0d0d0, #e4e4e4);
	background-image: linear-gradient(#d0d0d0, #e4e4e4);
}
#xapp #davinci_toolbar_container .dijitToolbar .dijitButton.maqLabelButton.maqLabelButtonSelected .dijitButtonNode,
#xapp #davinci_toolbar_container .dijitToolbar .dijitDropDownButton.maqLabelButton.maqLabelButtonSelected .dijitButtonNode,
#xapp #davinci_toolbar_container .dijitToolbar .dijitComboButton.maqLabelButton.maqLabelButtonSelected .dijitButtonNode,
#xapp #davinci_toolbar_container .dijitToolbar .dijitToggleButton.maqLabelButton.maqLabelButtonSelected .dijitButtonNode,
#xapp #davinci_toolbar_container .dijitToolbar .dijitComboBox.maqLabelButton.maqLabelButtonSelected .dijitButtonNode {
	background: #eee;
	background-image: -webkit-linear-gradient(#dbdbdb, #f4f4f4);
	background-image: -moz-linear-gradient(#dbdbdb, #f4f4f4);
	background-image: -ms-linear-gradient(#dbdbdb, #f4f4f4);
	background-image: -o-linear-gradient(#dbdbdb, #f4f4f4);
	background-image: linear-gradient(#dbdbdb, #f4f4f4);
}

#xapp .davinciToolbar .maqLabelButton.maqDesignButton {
	margin-right:0px;
}
#xapp .davinciToolbar .maqLabelButton.maqDesignButton .dijitButtonNode {
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
}
#xapp .davinciToolbar .maqLabelButton.maqSourceComboButton {
	margin-left:-1px;
	margin-right:10px;
}
#xapp .davinciToolbar .dijitComboButton.maqLabelButton.maqSourceComboButton .dijitButtonNode.dijitStretch {
	border-radius:0px;
}

#xapp #davinci_toolbar_container .dijitToolbar .dijitDropDownButton .dijitArrowButtonInner,
 #xapp #davinci_toolbar_container .dijitToolbar .dijitComboButton .dijitArrowButtonInner {
	width: 8px;
	height: 8px;
	background-image: url(img/sprite.png);
	background-position: -22px -44px;
}
#xapp #davinci_toolbar_container .dijitToolbar .dijitComboButton .dijitArrowButtonInner {
	width: 8px;
	height: 8px;
	background-image: url(img/sprite.png);
	background-position: -22px -44px;
	margin-left:2px;
	margin-right:1px;
}
#xapp #davinci_toolbar_container .dijitToolbar .dijitDropDownButton .dijitArrowButtonInner {
	margin-left:5px;
	margin-right:-2px;
}

#xapp {
	height: 100%;
}

#davinci_top_bar {
	padding:0;
	margin:0;
}
#davinci_top_bar_main {
	padding:0px; /* override dijitContentPane */
	background: -webkit-linear-gradient(#464646, #121212);
	background: -moz-linear-gradient(#464646, #121212);
	background: -ms-linear-gradient(#464646, #121212);
	background: -o-linear-gradient(#464646, #121212);
	background: linear-gradient(#464646, #121212);
	color: #ccc;
    font: normal bold 12px Arial, sans-serif;
    text-shadow:none;
	overflow: hidden;
	height:44px;
	line-height:44px;
	text-align:center;
}
#davinci_top_bar_divider {
	height:4px;
	/*background-image: url(img/bkgrd_bluelip.gif);*/
	background-image: url(img/sprite.png);
	background-position: 0 -18px;
	background-repeat: repeat-x;
}
.maq_banner_name_box {
	padding-left:10px;
	display: inline-block;
	padding-top: 1px;
	float:left;
}
.dj_gecko .maq_banner_name_box {
	padding-top: 2px;	/* Different rounding rules between WebKit and Gecko */
}
.maq_banner_logo {
	display:inline-block;
	width:32px;
	height:32px;
	background-image:url(img/sprite.png);
	background-position:0px -342px;
	vertical-align: middle;
}
.maq_banner_name {
	padding-left:2px;
    font: normal normal 18px Arial, sans-serif;
	color:white;
	text-shadow: #000 1px 1px 1px;
}

#davinci_top_bar .dijitToolbar,
davinci_top_bar .dijitButtonNode {
	border: 0 !important;
}

#davinci_user_container {
	display: inline-block;
	float: right;
	padding-right: 10px;
	white-space: nowrap;
}

#davinci_top_bar  #maq_banner_editor_commands .dijitDropDownButton {
	margin:0 3px;
}
#davinci_top_bar  #maq_banner_editor_commands .dijitButtonContents {
	padding-left:5px;
	padding-right:6px;
}
#davinci_top_bar  #maq_banner_editor_commands .dijitButtonNode {
	background-image:-webkit-linear-gradient(#707070 0%,#303030 50%,#010101 51%,#000000 100%);
	background-image:-moz-linear-gradient(#707070 0%,#303030 50%,#010101 51%,#000000 100%);
	background-image:-ms-linear-gradient(#707070 0%,#303030 50%,#010101 51%,#000000 100%);
	background-image:-o-linear-gradient(#707070 0%,#303030 50%,#010101 51%,#000000 100%);
	background-image:linear-gradient(#707070 0%,#303030 50%,#010101 51%,#000000 100%);
	border:1px solid black;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	box-shadow:0px 1px 0px #666;
	margin-top:-4px;	/* Need this for proper vertical alignment */
}
#davinci_top_bar  #maq_banner_editor_commands .dijitButtonText {
	font:normal bold 12px Arial, sans-serif;
	color:white;
	text-shadow:#000 1px 0px 0px;
	padding:2px 4px;
}
#davinci_top_bar  #maq_banner_editor_commands .dijitArrowButtonInner {
	background-image:url(img/sprite.png);
	background-position:-1px -45px;
	width:8px;
	height:8px;
	margin-left:6px;
	margin-right:-4px;
}

#davinci_file_tabs {
	height:44px;
	overflow-y:hidden;
}
#xapp #davinci_file_tabs.dijitTabContainer,
	#xapp #davinci_file_tabs .dijitTabPaneWrapper {
	background:white;
	z-index: 3;
	border-bottom:none;
}
#davinci_file_tabs .dijitTabPaneWrapper,
	#davinci_file_tabs .dijitTabContainerTop-tabs,
	#davinci_file_tabs .dijitTabContainerBottom-tabs,
	#davinci_file_tabs .dijitTabContainerLeft-tabs,
	#davinci_file_tabs .dijitTabContainerRight-tabs {
	border-color:transparent;
	background: #F4F4F4;
	border-bottom:none;
	border-bottom: 1px solid #d2d2d2;
	padding-left: 14px;
}
#davinci_file_tabs .dijitTab {
	padding:12px 10px 13px;
	top:0px;
	background:#f8f8f8;
	color:#424242;
	margin-right:-1px;
	background-image: -webkit-linear-gradient(#F8F8F8 0%, #F8F8F8 90%, #EDEDED 91%, #E0E0E0 100%);
	background-image: -maz-linear-gradient(#F8F8F8 0%, #F8F8F8 90%, #EDEDED 91%, #E0E0E0 100%);
	background-image: -ms-linear-gradient(#F8F8F8 0%, #F8F8F8 90%, #EDEDED 91%, #E0E0E0 100%);
	background-image: -o-linear-gradient(#F8F8F8 0%, #F8F8F8 90%, #EDEDED 91%, #E0E0E0 100%);
	background-image: linear-gradient(#F8F8F8 0%, #F8F8F8 90%, #EDEDED 91%, #E0E0E0 100%);
}
#davinci_file_tabs .dijitTab.dijitTabChecked {
	font-weight:bold;
	background:white;
	color:#222222;
	border-bottom:1px solid white;
	z-index:4;
	margin-bottom:-2px;
	background:image:none;
}
#davinci_file_tabs .dijitTab:hover, #davinci_file_tabs .dijitTab.dijitTabChecked:hover {
	background:#dfdfdf;
}
#davinci_file_tabs .dijitTab.dijitTab .dijitTabCloseButton {
	margin-right:-2px;
}
#davinci_file_tabs .dijitTab.dijitTabChecked .dijitTabCloseButton {
	background-image:url(img/sprite.png);
	background-position:-35px -321px;
	margin-left:7px;
	margin-right:0px;
}

#xapp .davinciPalette {
	/*background:white;*/
}
#xapp .davinciPalette .dijitTabContainerTop-tabs, #xapp .davinciPalette .dijitTabContainerBottom-tabs, #xapp .davinciPalette .dijitTabContainerLeft-tabs, #xapp .davinciPalette .dijitTabContainerRight-tabs {
	/*background: #F4F4F4;*/
}
#xapp .davinciPalette > .dijitTabPaneWrapper {
	/*background: white;*/
}
#xapp .davinciPalette > div > .dijitTab {
	padding: 2px;
	text-align: center;
	font-size: 11.5px;
	width:64px;
	/*margin-bottom:-1px;*/
}
#left_mainBody .davinciPalette > div > .dijitTab, 
#left_mainBody .davinciPalette .dijitTabContainerLeft-tabs {
	background-image: -webkit-linear-gradient(0deg, #F8F8F8 0%, #F8F8F8 92%, #F1F1F1 93%, #D7D7D7 100%);
	background-image: -moz-linear-gradient(0deg, #F8F8F8 0%, #F8F8F8 92%, #F1F1F1 93%, #D7D7D7 100%);
	background-image: -ms-linear-gradient(0deg, #F8F8F8 0%, #F8F8F8 92%, #F1F1F1 93%, #D7D7D7 100%);
	background-image: -o-linear-gradient(0deg, #F8F8F8 0%, #F8F8F8 92%, #F1F1F1 93%, #D7D7D7 100%);
	background-image: linear-gradient(0deg, #F8F8F8 0%, #F8F8F8 92%, #F1F1F1 93%, #D7D7D7 100%);
}
#right_mainBody .davinciPalette > div > .dijitTab, 
#right_mainBody .davinciPalette .dijitTabContainerRight-tabs {
	background-image: -webkit-linear-gradient(180deg, #F8F8F8 0%, #F8F8F8 92%, #F1F1F1 93%, #D7D7D7 100%);
	background-image: -moz-linear-gradient(180deg, #F8F8F8 0%, #F8F8F8 92%, #F1F1F1 93%, #D7D7D7 100%);
	background-image: -ms-linear-gradient(180deg, #F8F8F8 0%, #F8F8F8 92%, #F1F1F1 93%, #D7D7D7 100%);
	background-image: -o-linear-gradient(180deg, #F8F8F8 0%, #F8F8F8 92%, #F1F1F1 93%, #D7D7D7 100%);
	background-image: linear-gradient(180deg, #F8F8F8 0%, #F8F8F8 92%, #F1F1F1 93%, #D7D7D7 100%);
}
#xapp .davinciPalette > div > .dijitTab:focus {
	outline:none;
}
#xapp .maqPaletteExpanded .davinciPalette > div > .dijitTab.dijitTabChecked {
	background-color:white;
	background-image:none;
	z-index: 1;
	border-right: 1px solid white;
	font-weight:bold;
}
#xapp  .dijitTabContainerRight-tabs .dijitTabChecked {
	border-left-width:1px;
}
#xapp  .maqPaletteExpanded .dijitTabContainerRight-tabs .dijitTabChecked {
	border-left-width:0px;
}
#xapp  .dijitTabContainerLeft-tabs .dijitTabChecked {
	border-right-width:1px;
}
#xapp  .maqPaletteExpanded .dijitTabContainerLeft-tabs .dijitTabChecked {
	border-right-width:0px;
}
#left_mainBody, #right_mainBody {
	padding-top:1px;
}
#left_mainBody.maqPaletteExpanded .davinciPalette > div > .dijitTab.dijitTabChecked {
}
#right_mainBody.maqPaletteExpanded .davinciPalette > div > .dijitTab.dijitTabChecked {
}
#xapp .davinciPalette > div > .dijitTab .tabLabel {
}
#xapp .davinciPalette > div > .dijitTab .tabLabel:focus {
	outline:none;
}
#xapp .davinciPalette .paletteIcon {
	display: inline-block;
	width: 26px;
	height: 26px;
	background-repeat: no-repeat;
	background-image: url(img/sprite.png);
	margin-top: 4px;
}
#xapp .davinciPalette .paletteIconWidgets {
	background-position: -30px -60px;
}
#xapp .davinciPalette .paletteIconStates {
	background-position: -30px -90px;
}
#xapp .davinciPalette .paletteIconReviews {
	background-position: -30px -120px;
}
#xapp .davinciPalette .paletteIconOutline {
	background-position: -30px -150px;
}
#xapp .davinciPalette .paletteIconFiles {
	background-position: -30px -180px;
}
#xapp .davinciPalette .paletteIconComments {
	background-position: -30px -210px;
}

#xapp .davinciPalette .dijitTab .tabLabel {
	/* display:none; */
	display: block;
	margin-top: 4px;
	margin-bottom: 4px;
}

#toolbar_container {
	display: table;
	margin: 0 auto;
	padding: 0;
	height: 32px;
}

.palette_titleBarDiv {
	display:none;
}
.davinciTopPalette .palette_titleBarDiv {
	height:20px;
	line-height:25px;
	font-size:16px;
	text-transform:uppercase;
	color:#444;
	background:none;
	overflow: visible;
	z-index: 1;
}
#left_mainBody .davinciTopPalette .palette_titleBarDiv,
#right_mainBody .davinciTopPalette .palette_titleBarDiv {
	display:block;
}
.palette_titleBarDiv .paletteCloseBox {
	display:inline-block;
	width: 16px;
	height: 16px;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	margin-top: 4px;
}
#left_mainBody .davinciTopPalette .palette_titleBarDiv .paletteCloseBox {
	background-image:url(img/sprite.png);
	background-position:-78px -1936px;
	float:right;
	margin-right: 4px;
}
#right_mainBody .davinciTopPalette .palette_titleBarDiv .paletteCloseBox {
	background-image:url(img/sprite.png);
	background-position:-87px -2035px;
	float:left;
	margin-left: 4px;
}
.davinciTopPalette .palette_titleBarDiv .paletteCloseBox:hover {
	cursor:pointer;
}
.palette_titleBarDiv .titleBarDivTitle {
	display:none;
}

.EditorContainer .toolbaredContainer_toolbarDiv {
	height: 28px;
}

#davinci_toolbar_main {
	display:inline;
	background: none;
	border: none;
	padding-top:15px !important;
    font: normal normal bold 8pt sans-serif;
}

/* FIXME: Probably don't need to define rules for both DropDown and Combo.
	We will probably use one or the other */
.claro #xapp #davinci_user_container .dijitDropDownButton .dijitButtonNode,
.claro #xapp #davinci_user_container .dijitComboButton,
.claro #xapp #davinci_user_container .dijitComboButton .dijitButtonNode
{
	border:none;
	background-color:transparent;
	background-image:none;
	padding-left:0;
	padding-right:0;
	padding-bottom:6px; /* For win/chrome - see subsequent rule for other browsers */
}
/* Deal with 1-pixel layout difference for win/chrome, which gets padding-bottom:6px
	this rule makes it so mac/chrome and all versions of FF get padding-bottom:4px; */
.isMac .claro #xapp #davinci_user_container .dijitDropDownButton .dijitButtonNode,
.dj_gecko .claro #xapp #davinci_user_container .dijitDropDownButton .dijitButtonNode {
	padding-bottom:4px;
}
.claro #xapp #davinci_user_container .dijitDropDownButton,
.claro #xapp #davinci_user_container .dijitComboButton
{
	margin:0 0 0 8px;
}
.claro #xapp #davinci_user_container .dijitDropDownButton .dijitButtonText,
.claro #xapp #davinci_user_container .dijitComboButton .dijitButtonText
{
	padding:0px .2em;	/* Squeeze padding a bit over what Claro provides */
	margin-top: -2px;	/* To make baselines align with text on either side of buttons */
}

.claro #xapp #davinci_user_container .dijitArrowButtonInner {
	/* background-image:url("img/buttonArrows.png");*/	/* Derived from Claro, but no bluish tint  FIXME: why?  resolve with other claro buttonArrows reference in .paletteDropdown */
	/* Following 2 lines squeeze the arrow closer to text */
	/* background-position:-53px 53%; */
	background-image:url("img/sprite.png");
	background-position: 5px -126px;
	width: 20px;
}
#davinci_top_bar .dijitButtonText {
	font:normal bold 9pt Arial, sans-serif;
	color:#ccc;
	text-shadow: #000 1px 1px 1px;
}

.claro #xapp #davinci_user_container .dijitDropDownButtonHover .dijitButtonNode,
.claro #xapp #davinci_user_container .dijitComboButton .dijitButtonNodeHover,
.claro #xapp #davinci_user_container .dijitComboButton .dijitDownArrowButtonHover, 
.claro #xapp #davinci_user_container .dijitDropDownButtonHover .dijitButtonNode
{
	/*color: white; Override Claro, which uses black */
}
#loginpane {
	/*margin-top: 2em;
	margin-left: 5em;*/
}

.dvOutlineVisibility {
	position:relative;
	width:16px;
	height:13px;
	margin-left:2px;
	margin-top:-2px;
	margin-right:-18px;
	background-position:-2px -4px;
}
.dvOutlineVisibilityOn:before {
    content: "\f06e";
}
.dvOutlineVisibilityOn {

	width: 16px;
	height: 16px;
}
.dvOutlineVisibilityOff:before {
    content: "\f070";
}
.dvOutlineVisibilityOff {
    content: "\f070";
	width: 16px;
	height: 16px;
}

.dvStateNode .dvOutlineVisibilityOn {
	background-image:url('img/checkmarkNoBorder.png');
	background-position:-2px -4px;
}

.dvStateNode .dvOutlineVisibilityOff {
	background-image:url('img/checkmarkNoBorder.png');
	background-position:-34px -4px;
}

/*FIXME: These two style rules aren't hooked up yet to theme editor
	Visual Outline palette, so hasn't been tested yet. */
.dvSubwidgetNode .dvOutlineVisibilityOn {
	background-image:url('img/checkmarkNoBorder.png');
	background-position:-98px -4px;
}

.dvSubwidgetNode .dvOutlineVisibilityOff {
	background-image:url('img/checkmarkNoBorder.png');
	background-position:-114px -4px;
}

#dvOutlineSubcontainer {
    overflow: auto;
    /* overflow: hidden; /* hide scrollbars on outline */
    white-space: nowrap;
    height: 100%;
}

[id="davinci.ui.outline"] .dijitTree {
	height: 100%
}

.dvBox {
	display: inline-block;
	height: 13px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	vertical-align: middle;
}

#dvStatesDataGrid .dojoxGridHeader {
   display: none;
}

#dvStatesViewToolbar {
	border-bottom:1px solid #aaa;
	background:#eee;
	margin:0;
	padding:3px;
	font-family:helvetica,arial,sans-serif;
	font-size:85%;
}

#dvStatesViewActions {
	text-align:right;
}

#dvStatesViewCurrentWidgetID {
	xdisplay:inline-block;
	xfloat:left;
}

#dvStatesViewTransition {
	display:inline-block;
	float:left;
	margin-top: 4px;
}

#widget_dvStatesViewTransitionBox {
	width:40px;
	margin-top: -2px;
	margin-left: 3px;
	margin-bottom: 2px;
}

#dvStatesViewToolbarFooter {
	clear: both;
}

#dvStatesViewDataGridContainer {
	height: 80%;
	xbackground: blue;
}

.dvStateBox {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-width: 1px;
	border-style: solid;
	vertical-align: middle;
}

/* Palette */
.dojoyPalette {
    /*background-color: white !important;*/
    height: 100%;
    overflow-x: hidden;
    /*margin: 2px 3px 3px 4px;*/

}
.dojoyPaletteHeaderTable,
.explorerHeaderProjectTable {
	width:100%;
  	border-collapse:collapse;
  	border-spacing:0;
  	margin-bottom:1px;
}
.dojoyPaletteHeaderTable td,
.explorerHeaderProjectTable td {
	padding:0;
}
.dojoyPaletteFilterContainer {
	position:relative;
	height:16px;
}
.dojoyPaletteFilterTextBox {
	position:absolute;
	top:0px;
}
.dojoyPaletteFilterClearIcon {
	display:none;
	position:absolute;
	right:3px;
	top:3px;
	background-image:url(img/sprite.png);
	background-position:-56px -323px;
	width:12px;
	height:12px;
}
.maqWidgetsToolbarFiltered .dojoyPaletteFilterClearIcon {
	display:block;
}
.dojoyPaletteHeaderTableCol2 {
	width:16px;
}
.dojoyPaletteHeaderTableCol2 .dijitDropDownButton .dijitButtonNode,
.explorerHeaderProjectCol2 .dijitDropDownButton .dijitButtonNode {
	border:none;
	background:none;
}
.dojoyPaletteHeaderTableCol2 .dijitDropDownButton .dijitArrowButtonInner {
	background-image:url(img/sprite.png);
	background-position: -18px -39px;
}
.dojoyPaletteMenuItemCheckMark {
	background-image:url('../dijit/themes/claro/images/checkmarkNoBorder.png');
	width:16px;
	height:16px;
	display:inline-block;
}
.dojoyPaletteMenuItemCheckMarkOff {
	visibility:hidden;
}
.dojoyPaletteCommon a {
	text-decoration: none;
    /*color: black;*/
    white-space: nowrap;
    display: inline-block;
}
.dojoyPaletteCommon .paletteItemNormalContainer {
	overflow:hidden;
	display:inline-block;
	width:66px;
	height:81px; 
	position:relative;
	z-index:1;
}
.dojoyPaletteCommon .paletteItemSelectionContainer {
	vertical-align: top;
	position:relative;
	z-index:1;
}
.dojoyPaletteCommon .paletteItemSelectionContent {
	display:inline-block; 
	z-index:1; 
	position:absolute; 
	top:-8px;
	left:0px;
	width:66px;
	height:85px;
	padding:0px;
	border:2px solid #999;
	border-radius:4px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
	pointer-events:none;
}
.paletteItemSelectedStrip {
	position:absolute;
	display:block;
	/*background:white;*/
}
.paletteItemSelectedStripV {
	position:absolute;
	top:0px;
	width:8px;
	height:80px;
}
.paletteItemSelectedStripL {
	left:0px;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}
.paletteItemSelectedStripR {
	left:58px;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}
.paletteItemSelectedStripH {
	position:absolute;
	left:8px;
	width:50px;
	height:8px;
}
.paletteItemSelectedStripT {
	top:0px;
}
.paletteItemSelectedStripB {
	top:72px;
}
.paletteItemSelectedIcon {
	position:absolute;
	display:inline-block;
	pointer-events:auto;
	width:26px;
	height:26px;
}
.paletteItemSelectedMoreIcon {
	/*background-image:url(img/palette_more_active.png);*/
	background-image:url(img/sprite.png);
	background-position:-65px -41px;
	background-repeat:no-repeat;
	left: 54px;
	top: -14px;
}
.paletteItemSelectedHelpIcon {
	/*background-image:url(img/palette_help_active.png);*/
	background-image:url(img/sprite.png);
	background-position:-94px -40px;
	background-repeat:no-repeat;
	left: 54px;
	top:67px;
}
#maqBody .paletteItemMorePopup .dijitTooltipContainer, #maqBody .paletteItemHelpPopup .dijitTooltipContainer {
	background:white;
	border-color:#b6b6b6;
	border-width:3px;
	border-radius:12px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, .4);
	padding: 2px 8px 5px;
}
.paletteItemMoreContent {
}
.paletteItemHelpContent {
	padding-top:15px;
	padding-right:12px;
}
.paletteItemMoreCloseBox, .paletteItemHelpCloseBox {
	position: absolute;
	right: 4px;
	background-image: url("img/sprite.png");
	background-repeat: no-repeat;
	background-position: -43px -41px;
	width: 16px;
	height: 16px;
	display: inline-block;
}
.paletteItemMoreCloseBox:hover, .paletteItemHelpCloseBox:hover {
	cursor:pointer;
}
.paletteItemMoreCloseBox {
	top: 6px;
}
.paletteItemHelpCloseBox {
	top: 18px;
}
.paletteItemAlternatesLabel {
	font-size: 10px;
	padding-left:4px;
	padding-bottom: 3px;
	margin-right: 10px;
}
.paletteItemAlternatesContainer {
}
.paletteItemAlternate {
	margin: 2px 3px;
	padding: 4px;
	padding-bottom: 3px;
	border-radius: 3px;
	font-size: 12px;
	border: 1px solid #333;
	box-shadow: .5px 1px 1px rgba(0, 0, 0, .5);
	border-color: #CCC;
	background: #EEE;
	font-family: Myriad, Helvetica, Tahoma, Arial, clean, sans-serif;
	font-size: 12px;
}
.paletteItemMoreUnselected {
	background-image: -webkit-linear-gradient(#F4F4F4, #DBDBDB);
	background-image: -moz-linear-gradient(#F4F4F4, #DBDBDB);
	background-image: -ms-linear-gradient(#F4F4F4, #DBDBDB);
	background-image: -o-linear-gradient(#F4F4F4, #DBDBDB);
	background-image: linear-gradient(#F4F4F4, #DBDBDB);
}
.paletteItemMoreSelected {
	font-weight:bold;
	background-image: -webkit-linear-gradient(#DBDBDB, #F4F4F4);
	background-image: -moz-linear-gradient(#DBDBDB, #F4F4F4);
	background-image: -ms-linear-gradient(#DBDBDB, #F4F4F4);
	background-image: -o-linear-gradient(#DBDBDB, #F4F4F4);
	background-image: linear-gradient(#DBDBDB, #F4F4F4);
}
.paletteItemHelpContent {
	max-width:500px;
}
.paletteItemHelpDescription {
}
.helpInnerContent {
}
.helpInnerContentType {
}
.helpInnerContentSummary {
}
.helpInnerContentSummaryTitle {
	margin:8px 0px 2px;
	font-weight: bold;
	font-size: 13px;
}
.helpInnerContentSummaryContent {
	font-size:12px;
}
.helpInnerContentSummaryContent p {
	margin-top: 4px;
	margin-bottom: 4px;
}
.paletteTooltip {
	font-size:12px;
}
.paletteTooltipCurrent {
	font-size:13px;
	}
.paletteTooltipCurrentWidget {
	font-weight:bold;
}
.paletteTooltipCurrentLibrary {
}
.paletteTooltipAlternates {
	padding-top:5px;
}
.paletteTooltipAlternatesLabel {
}
.paletteTooltipAlternatesLibraries {
}
.paletteTooltipNote {
	padding-top:5px;
	}
.dojoyPaletteCommon img {
	vertical-align: top;
}
.dojoyPalette.paletteLayoutIcons .dojoyPaletteItem.dojoyPaletteCommon {
	display:inline-block;
	width:68px;
	height:95px;
	line-height:95px;
    margin: 8px;
	outline:none;
}
.dojoyPalette.paletteLayoutIcons .dojoyPaletteItem.dojoyPaletteCommon a {
	vertical-align:bottom;
	line-height:normal;
}
.dojoyPalette.paletteLayoutIcons .paletteItemImageContainer {
	text-align:center;
	display:block;
}
.dojoyPalette.paletteLayoutIcons .paletteItemImageContainer SPAN {
    font-size: 41px;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.1);
}
.dojoyPalette.paletteLayoutIcons .paletteItemImageContainer img {
	width:50px;
	height:50px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, .24);
}
.dojoyPalette.paletteLayoutIcons .paletteItemLabelContainer {
	padding-top:5px;
	text-align:center;
	display:block;
	overflow:hidden;
	white-space: normal;
	text-overflow:ellipsis;
	height:24px;
	font-size:12px;
	line-height:12px;
}
.dojoyPalette.paletteLayoutIcons .paletteItemLabel {
}

.dojoyPaletteCommon {
	white-space: nowrap;
    /*
    border-width: 1px;
    border-style: solid;
    border-color: #D1D1D1 white #989898 white;
    border-top-color: transparent;*/
    /*font-family: arial, helvetica, sans-serif;*/
    font-size:11px;
    /*color:#222;*/
    cursor: pointer;
    padding: 1px;
}
.dojoyPaletteHeader {
}
.dojoyPaletteItem {
    /*background-color: white;
    border-color: white;*/
}
.dojoyPaletteItemFlat {
	/*border-color: white;*/
	/*background-color: white;*/
}
.dojoyPaletteItemRaised {
	border-color: white #ACA899 #ACA899 white;
	/*background-color: #F0F4FC;*/
}
.dojoyPaletteItemSunken {
}
.dojoyPaletteItemSunken .paletteItemLabel {
	font-weight:bold;
}
.dojoyPaletteFolder {
    /*border-color: #D1D1D1 #989898 #989898 white;*/
    line-height: 18px;
	height: 18px;
	font-size:13px;
}
.claro .dojoyPaletteFolderLow,
/*    background-image: url(images/palette-folder-bg.gif); */
.claro .dojoyPaletteFolderHi {
/*    background-image: url(images/palette-folder-bg-hi.gif); */
    /*background: #EAEAEA url(../dijit/themes/claro/images/standardGradient.png) repeat-x scroll left top;*/
}
.dojoyPaletteFolder img {
	margin-right:4px;
}
.PaletteFolderSubsection {
	padding-left:16px;
	font-size:12px;
	font-style:italic;
}
.dojoyPaletteSearch {
/*	font-size: 12px;*/
    background-repeat: no-repeat;
    padding-left: 1px;
}

.maqWidgetsFiltered {
	padding-top: 16px;
}
.maqWidgetsCategory {
    margin-left: 1em;
    color: grey;
    font: italic smaller sans-serif;
}
.maqWidgetsCategorySameLine {
	display: inline;
}
.paletteLayoutIcons .maqWidgetsCategorySameLine {
	display:none;
}
.maqWidgetsCategorySeparateLine {
	display: none;
}
.paletteLayoutIcons .maqWidgetsCategorySeparateLine {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* FIXME: Temporary hack to make "Select Files..." command on Add Files dialog 
	look like a button. Really need to do a UI makeover for Add Files dialog. */
#btn0.browse {
	width:8em; text-align:center; padding:3px; border:1px #555 solid; border-radius:10px; -moz-border-radius:10px;
}
#btn0.browse:hover {
	background-color:#aaa;
}

.themeSetDialogAdd {
	background-image: url(img/sprite.png);
	background-position: -82px -466px;
	height: 20px;
	width: 20px;
	display: table-cell;
}

.themeSetDialogDelete {
	background-image: url(img/sprite.png);
	background-position: -82px -466px;
	height: 20px;
	width: 20px;
	display: table-cell;
}

.undoIcon {
	background-image: url(img/sprite.png); /* FIXME: add logic for undo-disabled.gif? */
	background-position: -52px -379px;
	background-repeat: no-repeat;
}
.dijitButtonDisabled .undoIcon {
	background-position: -52px -415px;
}
.redoIcon {
	background-image: url(img/sprite.png); /* FIXME: add logic for redo-disabled.gif? */
	background-position: -19px -379px;
	background-repeat: no-repeat;
}
.dijitButtonDisabled .redoIcon {
	background-position: -19px -415px;
}

.tableCommandsIcon {
background-image: url(img/sprite.png);
background-position: -75px -745px;
}

.editCutIcon {
	background-image: url(img/sprite.png);
	background-position: -19px -512px;
}
.dijitButtonDisabled .editCutIcon {
	background-position: -19px -483px;
}
.editCutIconSmall {
	background-image: url(img/sprite.png);
	background-position: 0 -515px;
}
.editCopyIcon {
	background-image: url(img/sprite.png);
	background-position: -22px -450px;
}
.dijitButtonDisabled .editCopyIcon {
	background-position: -85px -430px;
}
.editCopyIconSmall {
	background-image: url(img/sprite.png);
	background-position: 0 -450px;
}
.editPasteIcon {
	background-image: url(img/sprite.png);
	background-position: -6px -551px;
}
.dijitButtonDisabled .editPasteIcon {
	background-position: -82px -551px;
}
.editPasteIconSmall {
	background-image: url(img/sprite.png);
	background-position: -82px -399px;
}
.editDeleteIcon {
	background-image: url(img/sprite.png);
	background-position: -18px -669px;
}
.dijitButtonDisabled .editDeleteIcon {
	background-position: -18px -700px;
}
.editDeleteIconSmall {
	background-image: url(img/sprite.png);
	background-position: 0 -647px;
}
.selectParentIconSmall {
	background-image: url(img/sprite.png);
	background-position: -23px -1685px;
}
.selectAncestorIconSmall {
	background-image: url(img/sprite.png);
	background-position: -47px -1685px;
}
.unselectAllIconSmall {
	background-image: url(img/sprite.png);
	background-position: -70px -1685px;
}
.moveToFrontIconSmall {
	background-image: url(img/sprite.png);
	background-position: -25px -1663px;
}
.moveForwardIconSmall {
	background-image: url(img/sprite.png);
	background-position: -49px -1663px;
}
.moveBackwardIconSmall {
	background-image: url(img/sprite.png);
	background-position: -71px -1663px;
}
.moveToBackIconSmall {
	background-image: url(img/sprite.png);
	background-position: -92px -1663px;
}
.tableCommandsIcon {
	background-image: url(img/sprite.png);
	background-position: 0px -1406px;
}
.tableInsertIconSmall {
	background-image: url(img/sprite.png);
	background-position: -26px -1574px;
}
.tableSelectTableIconSmall {
	background-image: url(img/sprite.png);
	background-position: -51px -1573px;
}
.tableSelectRowIconSmall {
	background-image: url(img/sprite.png);
	background-position: -72px -1574px;
}
.tableSelectColumnIconSmall {
	background-image: url(img/sprite.png);
	background-position: -94px -1574px;
}
.tableInsertColumnBeforeIconSmall {
	background-image: url(img/sprite.png);
	background-position: -27px -1595px;
}
.tableInsertColumnAfterIconSmall {
	background-image: url(img/sprite.png);
	background-position: -47px -1595px;
}
.tableInsertRowBeforeIconSmall {
	background-image: url(img/sprite.png);
	background-position: -27px -1617px;
}
.tableInsertRowAfterIconSmall {
	background-image: url(img/sprite.png);
	background-position: -47px -1617px;
}
.tableDeleteColumnIconSmall {
	background-image: url(img/sprite.png);
	background-position: -49px -1641px;
}
.tableDeleteRowIconSmall {
	background-image: url(img/sprite.png);
	background-position: -25px -1641px;
}
.dijitButtonDisabled .tableCommandsIcon {
	background-position: -40px -1406px;
}
.tableCommands .dijitArrowButtonInner {
	display:none;
}
.treeAddChildIcon {
	background-image: url(img/sprite.png);
	background-position: -5px -1754px;
}
.dijitButtonDisabled .treeAddChildIcon{
  opacity: 0.5;
}
.treeInputInsertBeforeIcon {
	background-image: url(img/sprite.png);
	background-position: -49px -1754px;
}
.dijitButtonDisabled .treeInputInsertBeforeIcon{
  opacity: 0.5;
}
.treeInputInsertAfterIcon {
	background-image: url(img/sprite.png);
	background-position: -69px -1754px;
}
.dijitButtonDisabled .treeInputInsertAfterIcon{
  opacity: 0.5;
}
.treeInputDeleteIcon {
	background-image: url(img/sprite.png);
	background-position: -28px -1754px;
}
.dijitButtonDisabled .treeInputDeleteIcon{
  opacity: 0.5;
}
.treeInputMoveUpIcon {
	background-image: url(img/sprite.png);
	background-position: -30px -1713px;
}
.dijitButtonDisabled .treeInputMoveUpIcon{
  opacity: 0.5;
}
.treeInputMoveDownIcon {
	background-image: url(img/sprite.png);
	background-position: -52px -1713px;
}
.dijitButtonDisabled .treeInputMoveDownIcon{
  opacity: 0.5;
}
.treeInputShiftLeftIcon {
	background-image: url(img/sprite.png);
	background-position: -77px -1713px;
}
.dijitButtonDisabled .treeInputShiftLeftIcon{
  opacity: 0.5;
}
.treeInputShiftRightIcon {
	background-image: url(img/sprite.png);
	background-position: -98px -1713px;
}
.dijitButtonDisabled .treeInputShiftRightIcon{
  opacity: 0.5;
}

.addStateIcon, .addThemeSetIcon {
	background-image: url(img/sprite.png);
	background-position: 0px -2055px;
}
.addStateIcon.addStateIconDisabled {
	background-position: 0px -2055px;
}
.removeStateIcon, .removeThemeSetIcon {
	background-image: url(img/sprite.png);
	background-position: -20px -2055px;
}
.removeStateIcon.removeStateIconDisabled {
	background-position: -20px -2055px;
}
.modifyStateIcon {
	background-image: url(img/sprite.png);
	background-position: -40px -2056px;
}
.modifyStateIcon.modifyStateIconDisabled {
	background-position: -40px -2056px;
}
.modify_state_container {
	white-space:nowrap;
	line-height:30px;
}
.manageStatesIcon {
	background-image: url(img/sprite.png);
	background-position: -60px -2056px;
}
.manageStatesIcon.manageStatesIconDisabled {
	background-position: -60px -2096px;
}
.newWidgetsCurrentStateIcon {
	background-image: url(img/sprite.png);
}
.newWidgetsCurrentStateIconOn {
	background-position: -80px -2076px;
}
.newWidgetsCurrentStateIconOn.newWidgetsCurrentStateIconDisabled {
	background-position: -80px -2116px;
}
.newWidgetsCurrentStateIconOff {
	background-position: -80px -2056px;
}
.newWidgetsCurrentStateIconOff.newWidgetsCurrentStateIconDisabled {
	background-position: -80px -2096px;
}
.highlightBaseWidgetsIcon {
	background-image: url(img/sprite.png);
}
.highlightBaseWidgetsIconOn {
	background-position: -100px -2076px;
}
.highlightBaseWidgetsIconOn.highlightBaseWidgetsIconDisabled {
	background-position: -100px -2116px;
}
.highlightBaseWidgetsIconOff {
	background-position: -100px -2056px;
}
.highlightBaseWidgetsIconOff.highlightBaseWidgetsIconDisabled {
	background-position: -100px -2096px;
}
.states_rename_table td {
	white-space:nowrap;
}
.states_rename_table td.labelcolumn {
	padding-right:4px;
	text-align:right;
}
.modify_state_rename_container {
	white-space:nowrap;
}
.modify_state_rename_button {
	float:right;
	margin-left:30px;
}
.initial_state_row {
	clear:both;
	margin:15px 10px 15px;
}
.EnableAsStateContainerWidgetDiv {
	margin:1px 0 0px;
}
.EnableAsStateContainerStatesDiv {
	margin:4px 0 0px;
}
.EnableAsStateContainerWidgetLabel {
}
.EnableAsStateContainerDescriptionDiv {
	margin:24px 0 8px;
}
.EnableAsStateContainerCheckBoxDiv {
	margin:12px 0 16px 8px;
}

.sourceMenuIcon {
	width:16px;
	height:16px;
}
.designModeIcon {
	background-image: url(img/sprite.png);
	background-position: 0 -1842px;
}

.sourceModeIcon {
	background-image: url(img/sprite.png);
	background-position: 0 -1908px;
}

.splitVerticalIcon {
	background-image: url(img/sprite.png);
	background-position: -82px 0;
}

.splitHorizontalIcon {
	background-image: url(img/sprite.png);
	background-position: -82px -66px;
}

/* FIXME: I'm hardcoding the dropdown arrow icon from Claro.
	Instead, we should just use a Dijit DropDownArrow control
	and then inherit the styling "for free" but current code
	for dropdown menus uses dijit.Menubar as top-level widget
	because that's what Phil recommended. */
.paletteDropdown {
	display:inline-block;
	float:right;
	border:none;
	background-image:url("../dijit/themes/claro/form/images/buttonArrows.png");
	background-position:-51px 53%;
	background-repeat:no-repeat;
	height:15px;
	margin:3px 5px 0;
	width:15px;
}
.EditorContainer .paletteDropdown {
	margin:5px 5px 0;
}
.paletteDropdown .dijitMenuBar, .paletteDropdown .dijitMenuBar .dijitMenuItem {
	background:none;
}
/* Override claro theme, which puts a solid border around menus FIXME: still needed? */
.paletteDropdown .dijitMenu, .paletteDropdown .dijitMenuBar {
	border:none;
}

.claro #xapp .dijitComboButton .dijitButtonNode {
	/* background-image:none; */
	background-color:#FFF;
	background-image:url("img/header_shadow.png");
	background-position:center bottom;
}
.claro #xapp .dijitComboButton .dijitButtonNode.dijitStretch {
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
}
.claro #xapp .dijitComboButton .dijitButtonNode.dijitArrowButton {
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	border-left:none;
}
.claro #xapp .newOpenComboButton .dijitArrowButtonInner,
.claro #xapp .newOpenComboButton .dijitArrowButtonInner {
	margin-top:5px;	/* Drop downarrow down to align with text better */
}
.claro .dijitComboButton .dijitButtonNode {
	padding:0px 4px 2px;
}
.editor_top_new_button {
	background-image:url("img/sprite.png");
	background-position: 0 0;
	width:16px;
	height:16px;
}
.editor_top_open_button {
	background-image:url("img/sprite.png");
	background-position: -82px -334px;
	width: 16px;
	height: 16px;
}

.claro .smartInputLoading{
	background-color: #eee;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 948;
	display: block;
	opacity: 0.5;
	background-repeat: no-repeat;
	background-position: center;
}

.claro .loading{
	/*background-color: #eee;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 948;
	display: block;
	opacity: 1.0;
	margin: 1em;
	/*background-image: url('../dojox/image/resources/images/loading.gif');
	background-repeat: no-repeat;
	background-position: center;*/
}

.claro .error {
	background-color: red;
}

.claro .loading table {
	width: 100%;
	height: 100%;
}
.claro .loading td {
	text-align: center;
	font-size:200%;
	font-color: #666666;
	/*background-image: url('../dojox/image/resources/images/loading.gif');
	background-repeat: no-repeat;
	background-position: left;*/
}
.claro .loading td span {
	width: 200px;
	height: 200px;
	background-repeat: no-repeat;
	background-position: center;
}


.inlineEdit{
	position: absolute;
	/*width: 750px;*/
	/*height: 380px;*/
	z-index: 949;
	display: none;
}

.inlineEditConnectorBelow{
 	background-image: url("../dijit/themes/claro/images/tooltip.png");
    background-position: -31px 0;
    background-repeat: no-repeat;
    border: 0 none;
    height: 14px;
    left: 35px;
    top: 19px;
    width: 16px;
    z-index: 949;
    position: absolute;
}

.inlineEditDisabled{
	opacity: .5;
}

.inlineEditFolder{
	background-image: url('img/sprite.png');
	background-position: -80px -337px;
	background-color: #F7FDFF;
	height: 16px; 
	width: 16px;
	display:inline-block;
	margin-top: 5px;
	position: absolute;
}

.inlineEditHelp{
	background-image: url('img/sprite.png');
	background-position: 0 -1646px;
	height: 16px; 
	width: 16px;
	display:inline-block;
	margin-top: 5px;
}

.inlineEditHelpSelected{
	background-image: url('img/sprite.png');
	background-position: 0 -1712px;
	height: 16px; 
	width: 16px;
	display:inline-block;
	margin-top: 5px;
}

.inlineEditHelpOk .dijitButtonNode, .inlineEditHelpCancel .dijitButtonNode{
	width:40px;

}


.davinciIleb {
	width: 200px; 
	border-width:0px 0px 1px 0px;
	border-style:solid;
	border-color: #769DC0;

}

.iedResizeDiv {
	position: relative; 
	width: 200px; 
}

.smartInputTextBox {
	overflow: auto;
	padding: 1px;
	margin-left: -1px;
	outline:none;
}

.smartInputTextArea, .smartInputTextAreaMulti {
    border-width: 0px;
    overflow: auto;
    resize:none;
    outline:none;
    width:200px; 
    height:30px;
}

.smartInputTextAreaMulti {
	height:60px;
}

.smartInputSim {
	height:18px; 
	border-color: #769DC0;
	border-style: solid; 
	border-width: 0px 0px 1px 0px;  
	background-color: #F7FCFF;
	margin: -1px;
}

.smartInputDiv {
	display: block; 
	width:100%;
}

.smartInputRadioDiv{
	/*border: 3px solid #86a9c6; */
	/*border: 1px solid #769DC0;; 
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);*/
	background-color: #f7fdff; 
	font-size: 90%; 
	/*padding-top: 3px; */
	padding-top: 2px; 
	padding-left: .6em; 
	padding-right: 1px;
	width: 195px; 
	/*height:60px; */
	/*border-top-style: none;
	-moz-border-radius: 0px 0px 4px 4px;*/
}

.smartInputRadioDiv table {
	width: 100%;
}

.smartInputTd1 {
	 width: 16px;
}

.smartInputTd2 {
	width: 200px;
	white-space: nowrap;
}

.smartInputRadioTextDiv  {
	width: 100px;
}

/*
.smartInputHelpDiv {
	padding-right: .7em; 
	line-height: 1.5em; 
	padding-left: .5em; 
	padding-bottom: 3px; 
	padding-top: 3px;
}
*/

.smartInputSpacerSpan {
	float: right; 
	display: inline-block;
	 line-height: 2em;
	 white-space: nowrap;
}

.smartInputHelpTextDiv {
	border-top: 1px solid #86a9c6; 
	padding-top: .4em; 
	margin-top: .25em; 
}

.smartInputHelpTextDivContentPane {
	text-align: left;  
	height:80px;	
}

.EditorContainer {
	z-index: -4;
}

.EditorContainer .dijitBorderContainer {
	z-index: -3;
}



.EditorContainer IFRAME {
		 border: 0;
		 width: 100%;
		 height: 100%;
}


#xapp  .dojoxEllipsisIFrame{
	/*
	 * this is to fix for a FF/FB bug where we get the iframe height from the css rule .EditorContainer IFRAME  
	 * Creating extra lines between our smart input radio buttons
	 */
		 height: 1px;
}


.device {
	display: none;
	position:absolute;
	z-index: -1;
}

.claro #editorsWelcomePage.dijitContentPane {
	padding:0;
}
#welcomePage {
	text-align:center;
}
.welcome_outer_table {
	width:100%;
	border-collapse: collapse;
}
#welcome_page_content {
	text-align:left;
	margin:-2px 0;
	border:none;
}
.welcome_above_content {
	display:none;
	height:32px;
	background:#cedfe9;
	margin:-1px;
}
.welcome_content {
	font-family: Verdana, sans-serif, Arial;
}
.welcome_header {
	background-image:url(img/sprite.png);
	background-position:-9px -2170px;
	background-repeat: no-repeat;
	height:26px;
	margin:30px 0px 10px 12px;
	font-size: 27px;
	color:transparent;
}
.welcome_under_header {
	color:#444;
	font-size:15px;
	margin-left:13px;
	margin-bottom: 18px;
	margin-top: 18px;
}
.welcome_actions_border_cell {
	height:175px;
	padding-top: 40px;
	background-image:-webkit-linear-gradient(#f1f1f1, white 38%);
	background-image:-moz-linear-gradient(#f1f1f1, white 38%);
	background-image:-ms-linear-gradient(#f1f1f1, white 38%);
	background-image:-o-linear-gradient(#f1f1f1, white 38%);
	background-image:linear-gradient(#f1f1f1, white 38%);
}
.welcome_actions {
	height:175px;
	background-image:-webkit-linear-gradient(#f1f1f1, white 38%);
	background-image:-moz-linear-gradient(#f1f1f1, white 38%);
	background-image:-ms-linear-gradient(#f1f1f1, white 38%);
	background-image:-o-linear-gradient(#f1f1f1, white 38%);
	background-image:linear-gradient(#f1f1f1, white 38%);
	padding-top: 40px;
	padding-left: 50px;
	padding-right: 50px;
}
.welcome_actions_table {
	width:900px;
}
.welcome_section {
	margin:10px 0 22px;
	text-align:center;
}
.welcome_section .welcome_section_footer {
	clear:both;
}
.welcome_section_label {
	font-size: 13px;
	color: #00649B;
	white-space:nowrap;
	padding-bottom:10px;
}
.welcome_section_header {
	padding-left: 12px;
	font-weight: normal;
	font-size: 18px;
}
.welcome_section_container {
	height: 80px;
}
.welcome_icon {
	display:inline-block;
	background-image: url(img/sprite.png);
	width: 50px;
	height: 65px;
	margin-top:6px;
}
.welcome_section_content {
	font-family: Verdana, sans-serif;
}
.welcome_learn_container_outer {
	border: 1px solid #BBB;
	margin: 11px 10px 10px;
	border-radius: 2px;
}
.welcome_learn_container_inner {
	padding:0 12px;
	border-top: 2px solid #F4F4F4;
	border-bottom: 2px solid #F4F4F4;
	border-left: 4px solid #F4F4F4;
	border-right: 4px solid #F4F4F4;
	border-radius: 2px;
	background:#fbfbfb;
}
.welcome_learn_table {
	height:160px;
	font-size:12px;
}
.welcome_learn_row1 {
	height:92px;
}
.dj_webkit .welcome_learn_row1 {
	height:88px;
}
.welcome_learn_row2 {
	text-align:left;
}
.welcome_learn_cell {
	vertical-align:top;
}
.welcome_learn_content_title {
	font-weight:bold;
	padding-top:10px;
}
.welcome_learn_content_description {
	margin-top:4px;
}
.welcome_learn_content_action {
	margin-top:20px;
	color: #00649B;
	padding-bottom:10px;
}
.welcome_icon_learn {
	width: 50px;
	height: 65px;
	background-image:url(img/sprite.png);
	margin-top: 12px;
}
.welcome_learn_table_inner {
	width:236px;
}
.welcome_learn_table_inner td {
	vertical-align:top;
}
.welcome_learn_content {
	text-align:left;
	padding-left: 4px;
}
.welcome_icon_tutorials {
	background-position: -60px -2457px;
}
.welcome_icon_videos {
	background-position: -62px -2525px;
}
.welcome_icon_cheatsheets {
	margin-top: 15px;
	background-position: -6px -2250px;
}
.welcome_icon_howto {
	background-position: -62px -2315px;
}
.welcome_icon_new_mobile {
	background-position: -3px -2460px;
}
.welcome_icon_new_desktop {
	background-position: -60px -2390px;
}
.welcome_icon_new_sketch {
	background-position: -60px -2250px;
}
.welcome_icon_newtheme {
	background-position: -3px -2320px;
}
.welcome_icon_newreview {
	background-position: -3px -2390px;
}
.welcome_content table {
	border-collapse:collapse; /* cellspacing equiv */
}
td.welcome_section_cell {
	width:180px;
}
.welcome_content td.welcome_section_cell {
	padding:0 10px 0 20px; /* cellpadding equiv */
	vertical-align:top;
}
.welcome_section_active {
	border:1px solid transparent;
	display:block;
	color:black;
	text-decoration:none;
}
.welcome_section_active:hover {
	background-color:#f4f4f4;
	border:1px solid #eaeaea;
	cursor:pointer;
}
.welcome_section_active:active {
	background-color:#e8e8e8;
	border:1px solid #e0e0e0;
	cursor:pointer;
}
.welcome_section_header_about {
	margin-top:48px;
	margin-bottom: 14px;
}
.welcome_about_maqetta_footer {
	text-align:left;
	padding-left: 12px;
}
.welcome_about_icon {
	width: 50px;
	height: 65px;
	background-image:url(img/sprite.png);
	background-position:-3px -2530px;
}
.welcome_about_maqetta_table td {
	vertical-align:top;
}
.welcome_about_content_cell {
	padding-top:8px;
	padding-left:6px;
}
.welcome_learn_more {
	color:blue;
	margin-top:3px;
}
.welcome_learn_more:hover {
	cursor:pointer;
}

#davinci_warn {
	width: 400px;
}

#davinci_warn .dijitToasterContent {
	font-size: 175%;
}
#davinci_warn .dijitToasterError .dijitToasterContent {
	background-color:#11BB17;
}

#unsupportedBrowserDialog {
    width: 400px;
    font-size: 125%;
}

#unsupportedBrowserDialog .maqButtonArea {
    text-align: right;
}

.about_container {
	padding:0px 10px 3px 6px;
}
.about_container DIV {
	line-height: 1.5em;
}

.paletteDragContainer {
}
.paletteDragContainer .paletteItemImage {
	width:30px;
	height:30px;
}
.maqParentListDiv {
	position:absolute;
	z-index:1000000;
	opacity:.8;
	pointer-events:none;
	background:white;
}
.maqCandidateParents {
	max-width:40em;
	background:white;
}
.maqCandidateParentsHeader {
	margin-top:1em;
}
.maqCandidateParentsList {
}
.maqCandidateParentsHelp {
	margin-top:.5em;
}
.maqCandidateListItem {
}
.maqCandidateCurrent {
	color:brown;
}
.maqCandidateCheckedColumn {
	width:.5em;
	opacity:0;
}
.maqCandidateCurrent .maqCandidateCheckedColumn {
	opacity:1;
}
.maqCandidateNumberColumn {
	padding-left:2px;
}
.maqCandidateParentColumn {
	white-space:nowrap;
	overflow:hidden;
}
/*FIXME: OLD LOGIC
.StatesViewTree .dijitTreeExpando {
	display:none;
}
*/
/* dijit.Tree defaults to white-space:nowrap, which messes up Firefox, which
	has a known problem when mixing white-space:nowrap on a container node
	and then float:right on interior nodes. Firefox pushes the float:right
	nodes to a subsequent row. */
.dj_gecko .StatesViewTree .dijitTreeRow, .dj_gecko .StatesViewTree .dijitTreeContent {
	white-space:normal;
}

.ReviewToolBarTextContainer {
	display: inline-block;
}
.ReviewToolBarText {
	background-color: ##ffffe0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8e8), to(#ffffcc)); 
	background-image: -o-linear-gradient(#f8f8e8, #ffffcc); 
	background-image: -ms-linear-gradient(#f8f8e8, #ffffcc); 
	background-image: -moz-linear-gradient(#f8f8e8, #ffffcc); 
	background-image: -webkit-linear-gradient(#f8f8e8, #ffffcc); 
	background-image: linear-gradient(#f8f8e8, #ffffcc);
	padding: 8px 1em 5px;
	font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
	margin-right: 12px;
	display: inline-block;
	height: 40px;
	margin: -9px 0px -10px -6px; /* Undo the padding added by davinciToolbar rules */
}
.EditorContainer.ReviewEditor .toolbaredContainer_toolbarDiv {
	height:auto;
}

.idleWarning {
	left: 0px;
	top: 0px;
	position: absolute;
	 transition-property: height;  
 	 transition-duration: 4s;  
 	height:50px;
  	overflow:hidden;
  	background-color: #FAFAD2;
  	padding-top: 25px;
  	text-align: center;
 	width:100%;
  	z-index: 1000;
}

/* Orion content assist */
.contentassist {
        display: none;
        background-color: #fff;
        padding: 2px;
        position: fixed;
        top: 100px;
        left: 100px;
        border: 1px solid #ccc;
        z-index: 10;
        cursor: default;
        overflow: auto;
        height: 150px;
        width: 200px;
}

.contentassist .selected {
        background-color: #ddd;
}

.ScenesPaletteAppStateIcon {
	float:right;
	margin-right:6px;
	display:inline-block;
	width:12px;
	height:1.1em;
}
.ScenesPaletteAppStateIcon.ScenesPaletteCurrent {
	background-image:url('img/sprite.png');
	background-position: -84px -1523px;
	width: 16px;
	height: 16px;
}
.ScenesPaletteAppStateIcon.ScenesPaletteCurrent.ScenesPaletteCurrentHidden {
	visibility:hidden;
}
/* Need to tweak WebKit to drop bullet icon a couple of pixels */
.dj_webkit .ScenesPaletteAppStateIcon.ScenesPaletteFocus {
	margin-top: -2px;
}
.ScenesPaletteAppStateIcon.ScenesPaletteFocus.ScenesPaletteFocusHidden {
	visibility:hidden;
}
.ScenesPaletteAppStateIcon.ScenesPaletteInitial {
	margin-top: -1px;
	margin-right:10px;
}
.ScenesPaletteAppStateIcon.ScenesPaletteInitial.ScenesPaletteInitialHidden {
	visibility:hidden;
}

.dj_webkit #xapp .dijitToolbar .dijitButton .dijitButtonNode, 
	.dj_webkit #xapp .dijitToolbar .dijitDropDownButton .dijitButtonNode, 
	.dj_webkit #xapp .dijitToolbar .dijitComboButton .dijitButtonNode, 
	.dj_webkit #xapp .dijitToolbar .dijitToggleButton .dijitButtonNode, 
	.dj_webkit #xapp .dijitToolbar .dijitComboBox .dijitButtonNode {
	-webkit-transition-duration:0;	/* Prevents jiggling buttons in Chrome */
}

#focusContainer {
	pointer-events:none;
	position:absolute;
	/*overflow:hidden;*/
}
.maqFocus {
	z-index: 5;
	pointer-events:auto;
}
.focusDragDiv {
}

.editFocusFrame {
	position:absolute;
	overflow:hidden;
	border:none;
	background:#d3e1ee;
	border:2px solid #6a94dc;
}
.editFocusFrameLEFT {
	width:4px;
	border-right:none;
	cursor:w-resize;
}
.editFocusFrameRIGHT {
	width:4px;
	border-left:none;
	cursor:e-resize;
}
.editFocusFrameTOP {
	height:4px;
	border-bottom:none;
	cursor:n-resize;
}
.editFocusFrameBOTTOM {
	height:4px;
	border-top:none;
	cursor:s-resize;
}
.editFocusNob {
	
	background-color:#246ce4;
	background-image:-webkit-linear-gradient(#2b7bfc,#246ce4,#042378);
	background-image:-moz-linear-gradient(#2b7bfc,#246ce4,#042378);
	background-image:-ms-linear-gradient(#2b7bfc,#246ce4,#042378);
	background-image:-linear-gradient(#2b7bfc,#246ce4,#042378);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	border-radius:10px;
	border:1px solid white; 
	box-shadow:0px 2px 2px #888;
	position:absolute;
	width:10px;
	height:10px;
	overflow:hidden;
}
#maqBody .maqHidden {
	display:none;
}
.shapesDragDiv {
	z-index:1000000;
	position:absolute;
}

#visualEditorBorder {
	pointer-events:none;
}
#visualEditorBorderTopLeft {
	position:absolute;
	left:0px;
	top:0px;
	width:7px;
	height:7px;
	border-top: 1px solid white;
	border-left: 1px solid white;
	background:-webkit-linear-gradient(-45deg,#e0e0e0,#fcfcfc) no-repeat;
	background:-moz-linear-gradient(-45deg,#e0e0e0,#fcfcfc) no-repeat;
	background:-ms-linear-gradient(-45deg,#e0e0e0,#fcfcfc) no-repeat;
	background:-o-linear-gradient(-45deg,#e0e0e0,#fcfcfc) no-repeat;
	background:linear-gradient(-45deg,#e0e0e0,#fcfcfc) no-repeat;
}
#visualEditorBorderTopRight {
	position:absolute;
	right:0px;
	top:0px;
	width:7px;
	height:7px;
	border-top: 1px solid white;
	border-right: 1px solid white;
	background:-webkit-linear-gradient(225deg,#e0e0e0,#fcfcfc) no-repeat;
	background:-moz-linear-gradient(225deg,#e0e0e0,#fcfcfc) no-repeat;
	background:-ms-linear-gradient(225deg,#e0e0e0,#fcfcfc) no-repeat;
	background:-o-linear-gradient(225deg,#e0e0e0,#fcfcfc) no-repeat;
	background:linear-gradient(225deg,#e0e0e0,#fcfcfc) no-repeat;
}
#visualEditorBorderTop {
	position:absolute;
	left:8px;
	right:8px;
	top:0px;
	border-top:1px solid white;
	border-bottom:1px solid transparent;
	height:6px;
	background:-webkit-linear-gradient(#e0e0e0,#fcfcfc) no-repeat;
	background:-moz-linear-gradient(#e0e0e0,#fcfcfc) no-repeat;
	background:-ms-linear-gradient(#e0e0e0,#fcfcfc) no-repeat;
	background:-o-linear-gradient(#e0e0e0,#fcfcfc) no-repeat;
	background:linear-gradient(#e0e0e0,#fcfcfc) no-repeat;
}
#visualEditorBorderRight {
	position:absolute;
	right:0px;
	top:8px;
	bottom:0px;
	width:6px;
	border-left:1px solid transparent;
	border-right:1px solid white;
	background:-webkit-linear-gradient(180deg,#e0e0e0,#fcfcfc) no-repeat;
	background:-moz-linear-gradient(180deg,#e0e0e0,#fcfcfc) no-repeat;
	background:-ms-linear-gradient(180deg,#e0e0e0,#fcfcfc) no-repeat;
	background:-o-linear-gradient(180deg,#e0e0e0,#fcfcfc) no-repeat;
	background:linear-gradient(180deg,#e0e0e0,#fcfcfc) no-repeat;
}
#visualEditorBorderLeft {
	position:absolute;
	left:0px;
	top:8px;
	bottom:0px;
	width:6px;
	border-left:1px solid white;
	border-right:1px solid transparent;
	background:-webkit-linear-gradient(0deg,#e0e0e0,#fcfcfc) no-repeat;
	background:-moz-linear-gradient(0deg,#e0e0e0,#fcfcfc) no-repeat;
	background:-ms-linear-gradient(0deg,#e0e0e0,#fcfcfc) no-repeat;
	background:-o-linear-gradient(0deg,#e0e0e0,#fcfcfc) no-repeat;
	background:linear-gradient(0deg,#e0e0e0,#fcfcfc) no-repeat;
}

#mainBody > .dijitSplitterV.dijitAlignLeft {
	border-right: 1px solid #848A8C;
	border-left: 1px solid #A9AFB4;
	margin-top:1px;
	background: #C5CCCF;
	width: 2px;
}
#mainBody > .dijitSplitterV.dijitAlignRight {
	border-left: 1px solid #848A8C;
	border-right: 1px solid #A9AFB4;
	margin-top:1px;
	background: #C5CCCF;
	width: 2px;
}
#mainBody > .dijitSplitterV .dijitSplitterThumb {
	left:0px;
	width:2px;
	background:white;
}
#left_mainBody .dijitSplitterH, #right_mainBody .dijitSplitterH {
	border-top: 1px solid #A9AFB4;
	border-bottom: 1px solid #A9AFB4;
	background: #C5CCCF;
	height: 2px;
}
#left_mainBody > .dijitSplitterH .dijitSplitterThumb, #right_mainBody > .dijitSplitterH .dijitSplitterThumb {
	top:0px;
	height:2px;
	background:white;
}
#maqBody .dijitSelectMenu .dijitMenuItemSelected td,
#maqBody .dijitMenuItemHover,
#maqBody .dijitMenuItemSelected {
  background-color: #e9e9e9;
  background-image: none;
}
#maqBody .dijitToolbar .dijitButtonHover .dijitButtonNode,
#maqBody .dijitToolbar .dijitDropDownButtonHover .dijitButtonNode,
#maqBody .dijitToolbar .dijitComboButton .dijitButtonNodeHover,
#maqBody .dijitToolbar .dijitComboButton .dijitDownArrowButtonHover,
#maqBody .dijitToolbar .dijitToggleButtonHover .dijitButtonNode {
  background-color: #e9e9e9;
  border-color:#d2d2d2;
}
#maqBody .dijitToolbar .dijitButtonActive .dijitButtonNode,
#maqBody .dijitToolbar .dijitDropDownButtonActive .dijitButtonNode,
#maqBody .dijitToolbar .dijitComboButton .dijitButtonNodeActive,
#maqBody .dijitToolbar .dijitComboButton .dijitDownArrowButtonActive,
#maqBody .dijitToolbar .dijitToggleButtonActive .dijitButtonNode {
  background-color: #d9d9d9;
  border-color:#c2c2c2;
}
#maqBody .dijitButton .dijitButtonNode,
#maqBody .dijitDropDownButton .dijitButtonNode,
#maqBody .dijitComboButton .dijitButtonNode,
#maqBody .dijitToggleButton .dijitButtonNode {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Resizable dialog */
.resizableDialog.submitOnEnter .dijitDialogPaneActionBar .maqPrimaryButton {
	font-weight: bold;
}

.dijitDialogPaneContentArea .maqDialogMessage {
	margin-bottom: 10px;
	font-weight: bold;
}
.maqBaseStateShiningThrough {
	border-radius: 6px;
	margin-left: -5px;
	position: absolute;
	pointer-events: none;
	border: 2px solid red;
	padding: 2px;
	margin-top: -4px;
	margin-top: -4px;
	opacity:.3;
	z-index:6;
	/* 3x3 red check image */
	background-image:url('data:image/gif;base64,R0lGODlhAwADAJEAAAAAAP////8AAP///yH5BAEAAAMALAAAAAADAAMAAAIEnCc3BQA7');
	background-repeat:repeat;
}
.addStateNameDiv label {
	margin-right:8px;
}
.addStateNameDiv {
	margin-bottom:8px;
}
.addStateNameDiv .dijitTextBox {
	width:18em;
}
.addStateDialogOptions {
	margin:4px 0;
}
.addStateDialogMoveWhichDiv label {
	margin-right:8px;
}
.addStateDialogRemoveFromBaseDiv {
	margin:8px 0;
}
.manageStatesStatesListDiv {
	padding:3px;
	width: 100%;
	height: 100px;
	border: 1px solid #888;
	overflow-y: scroll;
}
.manageStatesCheckAcceleratorsDiv {
	margin-top:4px;
	margin-bottom: 8px;
}
.manageStatesCheckboxCell {
	width:20px;
	height:20px;
	text-align:center;
	vertical-align:middle;
}
.manageStatesCheckbox {
	width:16px;
	height:16px;
	background-image: url('img/sprite.png');
}
..manageStatesCheckbox:hover {
	cursor:pointer;
}
.manageStatesCheckboxAllVisible {
	background-position: -84px -1523px;
}
.manageStatesCheckboxAllVisibleBackgroundAll {
	background-position: -84px -1523px;
	/*background-position: -60px -1550px;*/
}
.manageStatesCheckboxAllVisibleBackgroundSome {
	background-position: -84px -1523px;
	/*background-position: -60px -1550px;*/
}
.manageStatesCheckboxNoneVisible {
	background-position: -84px -266px;
}
.manageStatesCheckboxSomeVisible {
	background-position: -40px -1547px;
}
.manageStatesStateNameCell {
	height:20px;
	vertical-align:center;
	padding-left:4px;
	white-space:nowrap;
}
.manageStatesNotesCell {
	width:1px;
	padding-left:4px;
	padding-right:4px;
}
.manageStatesNotesSpan {
	white-space:nowrap;
	font-size:90%;
	font-style:italic;
}
.dirtyFileAsterisk {
	display:inline-block;
	margin-left:.25em;
	margin-top:-6px;
	background-image:url(img/sprite.png);
	background-position:0px -100px;
	width:7px;
	height:5px;
}
.EventSelection .propertyExtra {
	width:5px;
}
