.editActionIcon {
  font-family: Fontawesome;
}
.editCutIconSmall:before{
  content: "\f0c4";
}
.editCopyIconSmall:before{
  content: "\f0c5";
}
.editPasteIconSmall:before{
  content: "\f0ea";
}
.editDeleteIconSmall:before{
  content: "\f00d";
}

.makeLayerIcon(){
  font-family: "front-to-back";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.moveToFrontIconSmall:before{
  .makeLayerIcon();
  content: '\e801';
}

.moveForwardIconSmall:before{
  .makeLayerIcon();
  content: '\e803';
}

.moveBackwardIconSmall:before{
  .makeLayerIcon();
  content: '\e800';
}
.moveToBackIconSmall:before{
  .makeLayerIcon();
  content: '\e802';
}

