.editActionIcon {
  font-family: Fontawesome;
}
.editCutIconSmall:before {
  content: "\f0c4";
}
.editCopyIconSmall:before {
  content: "\f0c5";
}
.editPasteIconSmall:before {
  content: "\f0ea";
}
.editDeleteIconSmall:before {
  content: "\f00d";
}
.moveToFrontIconSmall:before {
  font-family: "front-to-back";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e801';
}
.moveForwardIconSmall:before {
  font-family: "front-to-back";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e803';
}
.moveBackwardIconSmall:before {
  font-family: "front-to-back";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e800';
}
.moveToBackIconSmall:before {
  font-family: "front-to-back";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e802';
}
