.maqWidgetsFiltered {
  padding-top: 16px;
}
.maqWidgetsCategory {
  margin-left: 1em;
  color: grey;
  font: italic smaller sans-serif;
}
.maqWidgetsCategorySameLine {
  display: inline;
}
.paletteLayoutIcons .maqWidgetsCategorySameLine {
  display:none;
}
.maqWidgetsCategorySeparateLine {
  display: none;
}
.paletteLayoutIcons .maqWidgetsCategorySeparateLine {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* FIXME: Temporary hack to make "Select Files..." command on Add Files dialog
	look like a button. Really need to do a UI makeover for Add Files dialog. */
#btn0.browse {
  width:8em; text-align:center; padding:3px; border:1px #555 solid; border-radius:10px; -moz-border-radius:10px;
}
#btn0.browse:hover {
  background-color:#aaa;
}

.themeSetDialogAdd {
  background-image: url(img/sprite.png);
  background-position: -82px -466px;
  height: 20px;
  width: 20px;
  display: table-cell;
}

.themeSetDialogDelete {
  background-image: url(img/sprite.png);
  background-position: -82px -466px;
  height: 20px;
  width: 20px;
  display: table-cell;
}

.undoIcon {
  background-image: url(img/sprite.png); /* FIXME: add logic for undo-disabled.gif? */
  background-position: -52px -379px;
  background-repeat: no-repeat;
}
.dijitButtonDisabled .undoIcon {
  background-position: -52px -415px;
}
.redoIcon {
  background-image: url(img/sprite.png); /* FIXME: add logic for redo-disabled.gif? */
  background-position: -19px -379px;
  background-repeat: no-repeat;
}
.dijitButtonDisabled .redoIcon {
  background-position: -19px -415px;
}

.tableCommandsIcon {
  background-image: url(img/sprite.png);
  background-position: -75px -745px;
}

.editCutIcon {
  /*
  background-image: url(img/sprite.png);
  background-position: -19px -512px;
  */
}
.dijitButtonDisabled .editCutIcon {
  /*background-position: -19px -483px;*/
}
.editCutIconSmall {
  /*background-image: url(img/sprite.png);
  background-position: 0 -515px;*/
}
.editCopyIcon {
  /*background-image: url(img/sprite.png);
  background-position: -22px -450px;*/
}
.dijitButtonDisabled .editCopyIcon {
  /*background-position: -85px -430px;*/
}
.editCopyIconSmall {
  /*background-image: url(img/sprite.png);
  background-position: 0 -450px;*/
}
.editPasteIcon {
  /*background-image: url(img/sprite.png);
  background-position: -6px -551px;*/
}
.dijitButtonDisabled .editPasteIcon {
  background-position: -82px -551px;
}
.editPasteIconSmall {
  /*background-image: url(img/sprite.png);
  background-position: -82px -399px;*/
}
.editDeleteIcon {
  /*background-image: url(img/sprite.png);
  background-position: -18px -669px;*/
}
.dijitButtonDisabled .editDeleteIcon {
  /*background-position: -18px -700px;*/
}
.editDeleteIconSmall {
  /*background-image: url(img/sprite.png);
  background-position: 0 -647px;*/
}
.selectParentIconSmall {
  /*background-image: url(img/sprite.png);
  background-position: -23px -1685px;*/
}
.selectAncestorIconSmall {
  /*background-image: url(img/sprite.png);
  background-position: -47px -1685px;*/
}
.unselectAllIconSmall {
  /**background-image: url(img/sprite.png);
  background-position: -70px -1685px;*/
}
.moveToFrontIconSmall {
  /*background-image: url(img/sprite.png);
  background-position: -25px -1663px;*/
}
.moveForwardIconSmall {
  /*background-image: url(img/sprite.png);
  background-position: -49px -1663px;*/
}
.moveBackwardIconSmall {
  /*background-image: url(img/sprite.png);
  background-position: -71px -1663px;*/
}
.moveToBackIconSmall {
  /*background-image: url(img/sprite.png);
  background-position: -92px -1663px;*/
}
.tableCommandsIcon {
  background-image: url(img/sprite.png);
  background-position: 0px -1406px;
}
.tableInsertIconSmall {
  background-image: url(img/sprite.png);
  background-position: -26px -1574px;
}
.tableSelectTableIconSmall {
  background-image: url(img/sprite.png);
  background-position: -51px -1573px;
}
.tableSelectRowIconSmall {
  background-image: url(img/sprite.png);
  background-position: -72px -1574px;
}
.tableSelectColumnIconSmall {
  background-image: url(img/sprite.png);
  background-position: -94px -1574px;
}
.tableInsertColumnBeforeIconSmall {
  background-image: url(img/sprite.png);
  background-position: -27px -1595px;
}
.tableInsertColumnAfterIconSmall {
  background-image: url(img/sprite.png);
  background-position: -47px -1595px;
}
.tableInsertRowBeforeIconSmall {
  background-image: url(img/sprite.png);
  background-position: -27px -1617px;
}
.tableInsertRowAfterIconSmall {
  background-image: url(img/sprite.png);
  background-position: -47px -1617px;
}
.tableDeleteColumnIconSmall {
  background-image: url(img/sprite.png);
  background-position: -49px -1641px;
}
.tableDeleteRowIconSmall {
  background-image: url(img/sprite.png);
  background-position: -25px -1641px;
}
.dijitButtonDisabled .tableCommandsIcon {
  background-position: -40px -1406px;
}
.tableCommands .dijitArrowButtonInner {
  display:none;
}
.treeAddChildIcon {
  background-image: url(img/sprite.png);
  background-position: -5px -1754px;
}
.dijitButtonDisabled .treeAddChildIcon{
  opacity: 0.5;
}
.treeInputInsertBeforeIcon {
  background-image: url(img/sprite.png);
  background-position: -49px -1754px;
}
.dijitButtonDisabled .treeInputInsertBeforeIcon{
  opacity: 0.5;
}
.treeInputInsertAfterIcon {
  background-image: url(img/sprite.png);
  background-position: -69px -1754px;
}
.dijitButtonDisabled .treeInputInsertAfterIcon{
  opacity: 0.5;
}
.treeInputDeleteIcon {
  background-image: url(img/sprite.png);
  background-position: -28px -1754px;
}
.dijitButtonDisabled .treeInputDeleteIcon{
  opacity: 0.5;
}
.treeInputMoveUpIcon {
  background-image: url(img/sprite.png);
  background-position: -30px -1713px;
}
.dijitButtonDisabled .treeInputMoveUpIcon{
  opacity: 0.5;
}
.treeInputMoveDownIcon {
  background-image: url(img/sprite.png);
  background-position: -52px -1713px;
}
.dijitButtonDisabled .treeInputMoveDownIcon{
  opacity: 0.5;
}
.treeInputShiftLeftIcon {
  background-image: url(img/sprite.png);
  background-position: -77px -1713px;
}
.dijitButtonDisabled .treeInputShiftLeftIcon{
  opacity: 0.5;
}
.treeInputShiftRightIcon {
  background-image: url(img/sprite.png);
  background-position: -98px -1713px;
}
.dijitButtonDisabled .treeInputShiftRightIcon{
  opacity: 0.5;
}

.addStateIcon, .addThemeSetIcon {
  background-image: url(img/sprite.png);
  background-position: 0px -2055px;
}
.addStateIcon.addStateIconDisabled {
  background-position: 0px -2055px;
}
.removeStateIcon, .removeThemeSetIcon {
  background-image: url(img/sprite.png);
  background-position: -20px -2055px;
}
.removeStateIcon.removeStateIconDisabled {
  background-position: -20px -2055px;
}
.modifyStateIcon {
  background-image: url(img/sprite.png);
  background-position: -40px -2056px;
}
.modifyStateIcon.modifyStateIconDisabled {
  background-position: -40px -2056px;
}
.modify_state_container {
  white-space:nowrap;
  line-height:30px;
}
.manageStatesIcon {
  background-image: url(img/sprite.png);
  background-position: -60px -2056px;
}
.manageStatesIcon.manageStatesIconDisabled {
  background-position: -60px -2096px;
}
.newWidgetsCurrentStateIcon {
  background-image: url(img/sprite.png);
}
.newWidgetsCurrentStateIconOn {
  background-position: -80px -2076px;
}
.newWidgetsCurrentStateIconOn.newWidgetsCurrentStateIconDisabled {
  background-position: -80px -2116px;
}
.newWidgetsCurrentStateIconOff {
  background-position: -80px -2056px;
}
.newWidgetsCurrentStateIconOff.newWidgetsCurrentStateIconDisabled {
  background-position: -80px -2096px;
}
.highlightBaseWidgetsIcon {
  background-image: url(img/sprite.png);
}
.highlightBaseWidgetsIconOn {
  background-position: -100px -2076px;
}
.highlightBaseWidgetsIconOn.highlightBaseWidgetsIconDisabled {
  background-position: -100px -2116px;
}
.highlightBaseWidgetsIconOff {
  background-position: -100px -2056px;
}
.highlightBaseWidgetsIconOff.highlightBaseWidgetsIconDisabled {
  background-position: -100px -2096px;
}
.states_rename_table td {
  white-space:nowrap;
}
.states_rename_table td.labelcolumn {
  padding-right:4px;
  text-align:right;
}
.modify_state_rename_container {
  white-space:nowrap;
}
.modify_state_rename_button {
  float:right;
  margin-left:30px;
}
.initial_state_row {
  clear:both;
  margin:15px 10px 15px;
}
.EnableAsStateContainerWidgetDiv {
  margin:1px 0 0px;
}
.EnableAsStateContainerStatesDiv {
  margin:4px 0 0px;
}
.EnableAsStateContainerWidgetLabel {
}
.EnableAsStateContainerDescriptionDiv {
  margin:24px 0 8px;
}
.EnableAsStateContainerCheckBoxDiv {
  margin:12px 0 16px 8px;
}

.sourceMenuIcon {
  width:16px;
  height:16px;
}
.designModeIcon {
  background-image: url(img/sprite.png);
  background-position: 0 -1842px;
}

.sourceModeIcon {
  background-image: url(img/sprite.png);
  background-position: 0 -1908px;
}

.splitVerticalIcon {
  background-image: url(img/sprite.png);
  background-position: -82px 0;
}

.splitHorizontalIcon {
  background-image: url(img/sprite.png);
  background-position: -82px -66px;
}

/* FIXME: I'm hardcoding the dropdown arrow icon from Claro.
	Instead, we should just use a Dijit DropDownArrow control
	and then inherit the styling "for free" but current code
	for dropdown menus uses dijit.Menubar as top-level widget
	because that's what Phil recommended. */
.paletteDropdown {
  display:inline-block;
  float:right;
  border:none;
  background-image:url("../dijit/themes/claro/form/images/buttonArrows.png");
  background-position:-51px 53%;
  background-repeat:no-repeat;
  height:15px;
  margin:3px 5px 0;
  width:15px;
}
.EditorContainer .paletteDropdown {
  margin:5px 5px 0;
}
.paletteDropdown .dijitMenuBar, .paletteDropdown .dijitMenuBar .dijitMenuItem {
  background:none;
}
/* Override claro theme, which puts a solid border around menus FIXME: still needed? */
.paletteDropdown .dijitMenu, .paletteDropdown .dijitMenuBar {
  border:none;
}

.claro #xapp .dijitComboButton .dijitButtonNode {
  /* background-image:none; */
  background-color:#FFF;
  background-image:url("img/header_shadow.png");
  background-position:center bottom;
}
.claro #xapp .dijitComboButton .dijitButtonNode.dijitStretch {
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
}
.claro #xapp .dijitComboButton .dijitButtonNode.dijitArrowButton {
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  border-left:none;
}
.claro #xapp .newOpenComboButton .dijitArrowButtonInner,
.claro #xapp .newOpenComboButton .dijitArrowButtonInner {
  margin-top:5px;	/* Drop downarrow down to align with text better */
}
.claro .dijitComboButton .dijitButtonNode {
  padding:0px 4px 2px;
}
.editor_top_new_button {
  background-image:url("img/sprite.png");
  background-position: 0 0;
  width:16px;
  height:16px;
}
.editor_top_open_button {
  background-image:url("img/sprite.png");
  background-position: -82px -334px;
  width: 16px;
  height: 16px;
}

.claro .smartInputLoading{
  background-color: #eee;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 948;
  display: block;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center;
}
/*
.claro .loading{

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 948;
  display: block;
  opacity: 1.0;
  margin: 1em;
}
*/
.claro .error {
  background-color: red;
}

.claro .loading table {
  width: 100%;
  height: 100%;
}
.claro .loading td {
  text-align: center;
  font-size:200%;
  font-color: #666666;
  /*background-image: url('../dojox/image/resources/images/loading.gif');
  background-repeat: no-repeat;
  background-position: left;*/
}
.claro .loading td span {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}


.inlineEdit{
  position: absolute;
  /*width: 750px;*/
  /*height: 380px;*/
  z-index: 949;
  display: none;
}

.inlineEditConnectorBelow{
  background-image: url("../dijit/themes/claro/images/tooltip.png");
  background-position: -31px 0;
  background-repeat: no-repeat;
  border: 0 none;
  height: 14px;
  left: 35px;
  top: 19px;
  width: 16px;
  z-index: 949;
  position: absolute;
}

.inlineEditDisabled{
  opacity: .5;
}

.inlineEditFolder{
  background-image: url('img/sprite.png');
  background-position: -80px -337px;
  background-color: #F7FDFF;
  height: 16px;
  width: 16px;
  display:inline-block;
  margin-top: 5px;
  position: absolute;
}

.inlineEditHelp{
  background-image: url('img/sprite.png');
  background-position: 0 -1646px;
  height: 16px;
  width: 16px;
  display:inline-block;
  margin-top: 5px;
}

.inlineEditHelpSelected{
  background-image: url('img/sprite.png');
  background-position: 0 -1712px;
  height: 16px;
  width: 16px;
  display:inline-block;
  margin-top: 5px;
}

.inlineEditHelpOk .dijitButtonNode, .inlineEditHelpCancel .dijitButtonNode{
  width:40px;

}


.davinciIleb {
  width: 200px;
  border-width:0px 0px 1px 0px;
  border-style:solid;
  border-color: #769DC0;

}

.iedResizeDiv {
  position: relative;
  width: 200px;
}

.smartInputTextBox {
  overflow: auto;
  padding: 1px;
  margin-left: -1px;
  outline:none;
}

.smartInputTextArea, .smartInputTextAreaMulti {
  border-width: 0px;
  overflow: auto;
  resize:none;
  outline:none;
  width:200px;
  height:30px;
}

.smartInputTextAreaMulti {
  height:60px;
}

.smartInputSim {
  height:18px;
  border-color: #769DC0;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  background-color: #F7FCFF;
  margin: -1px;
}

.smartInputDiv {
  display: block;
  width:100%;
}

.smartInputRadioDiv{
  /*border: 3px solid #86a9c6; */
  /*border: 1px solid #769DC0;;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);*/
  background-color: #f7fdff;
  font-size: 90%;
  /*padding-top: 3px; */
  padding-top: 2px;
  padding-left: .6em;
  padding-right: 1px;
  width: 195px;
  /*height:60px; */
  /*border-top-style: none;
  -moz-border-radius: 0px 0px 4px 4px;*/
}

.smartInputRadioDiv table {
  width: 100%;
}

.smartInputTd1 {
  width: 16px;
}

.smartInputTd2 {
  width: 200px;
  white-space: nowrap;
}

.smartInputRadioTextDiv  {
  width: 100px;
}

/*
.smartInputHelpDiv {
	padding-right: .7em;
	line-height: 1.5em;
	padding-left: .5em;
	padding-bottom: 3px;
	padding-top: 3px;
}
*/

.smartInputSpacerSpan {
  float: right;
  display: inline-block;
  line-height: 2em;
  white-space: nowrap;
}

.smartInputHelpTextDiv {
  border-top: 1px solid #86a9c6;
  padding-top: .4em;
  margin-top: .25em;
}

.smartInputHelpTextDivContentPane {
  text-align: left;
  height:80px;
}

.EditorContainer {
  z-index: -4;
}

.EditorContainer .dijitBorderContainer {
  z-index: -3;
}



.EditorContainer IFRAME {
  border: 0;
  width: 100%;
  height: 100%;
}


#xapp  .dojoxEllipsisIFrame{
  /*
   * this is to fix for a FF/FB bug where we get the iframe height from the css rule .EditorContainer IFRAME
   * Creating extra lines between our smart input radio buttons
   */
  height: 1px;
}


.device {
  display: none;
  position:absolute;
  z-index: -1;
}