/**************************************************************************************/
/**     Pa2lettassdfaasddfgsdsase    12                                                                  **/
/*ass*     Pa2lettassdfaasdddfgffgsdsase    12asas

**/
.dojoyPalette {
  height: 100%;
  overflow-x: hidden;
}
.dojoyPaletteHeaderTable,
.explorerHeaderProjectTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1px;
}
.dojoyPaletteHeaderTable td,
.explorerHeaderProjectTable td {
  padding: 0;
}
.dojoyPaletteFilterContainer {
  position: relative;
  height: 16px;
}
.dojoyPaletteFilterTextBox {
  position: absolute;
  top: 0px;
}
.dojoyPaletteFilterClearIcon {
  display: none;
  position: absolute;
  right: 3px;
  top: 3px;
  background-image: url(img/sprite.png);
  background-position: -56px -323px;
  width: 12px;
  height: 12px;
}
.maqWidgetsToolbarFiltered .dojoyPaletteFilterClearIcon {
  display: block;
}
.dojoyPaletteHeaderTableCol2 {
  width: 16px;
}
.dojoyPaletteHeaderTableCol2 .dijitDropDownButton .dijitButtonNode,
.explorerHeaderProjectCol2 .dijitDropDownButton .dijitButtonNode {
  border: none;
  background: none;
}
.dojoyPaletteHeaderTableCol2 .dijitDropDownButton .dijitArrowButtonInner {
  background-image: url(img/sprite.png);
  background-position: -18px -39px;
}
.dojoyPaletteMenuItemCheckMark {
  background-image: url('../dijit/themes/claro/images/checkmarkNoBorder.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.dojoyPaletteMenuItemCheckMarkOff {
  visibility: hidden;
}
.dojoyPaletteCommon a {
  text-decoration: none;
  /*color: black;*/
  white-space: nowrap;
  display: inline-block;
  margin-top: 5px;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  
}
.dojoyPaletteCommon .paletteItemNormalContainer {
  overflow: hidden;
  display: inline-block;
  width: 66px;
  height: 81px;
  position: relative;
  z-index: 1;
}
.dojoyPaletteCommon .paletteItemSelectionContainer {
  vertical-align: top;
  position: relative;
  z-index: 1;
}
.dojoyPaletteCommon .paletteItemSelectionContent {
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: -8px;
  left: 0px;
  width: 66px;
  height: 85px;
  padding: 0px;
  border: 2px solid #999;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.paletteItemSelectedStrip {
  position: absolute;
  display: block;
  /*background:white;*/
}
.paletteItemSelectedStripV {
  position: absolute;
  top: 0px;
  width: 8px;
  height: 80px;
}
.paletteItemSelectedStripL {
  left: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.paletteItemSelectedStripR {
  left: 58px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.paletteItemSelectedStripH {
  position: absolute;
  left: 8px;
  width: 50px;
  height: 8px;
}
.paletteItemSelectedStripT {
  top: 0px;
}
.paletteItemSelectedStripB {
  top: 72px;
}
.paletteItemSelectedIcon {
  position: absolute;
  display: inline-block;
  pointer-events: auto;
  width: 26px;
  height: 26px;
}
.paletteItemSelectedMoreIcon {
  background-image: url(img/sprite.png);
  background-position: -65px -41px;
  background-repeat: no-repeat;
  left: 54px;
  top: -14px;
}
.paletteItemSelectedHelpIcon {
  background-image: url(img/sprite.png);
  background-position: -94px -40px;
  background-repeat: no-repeat;
  left: 54px;
  top: 67px;
}
#maqBody .paletteItemMorePopup .dijitTooltipContainer,
#maqBody .paletteItemHelpPopup .dijitTooltipContainer {
  background: white;
  border-color: #b6b6b6;
  border-width: 3px;
  border-radius: 12px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  padding: 2px 8px 5px;
}
.paletteItemHelpContent {
  padding-top: 15px;
  padding-right: 12px;
}
.paletteItemMoreCloseBox,
.paletteItemHelpCloseBox {
  position: absolute;
  right: 4px;
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: -43px -41px;
  width: 16px;
  height: 16px;
  display: inline-block;
}
.paletteItemMoreCloseBox:hover,
.paletteItemHelpCloseBox:hover {
  cursor: pointer;
}
.paletteItemMoreCloseBox {
  top: 6px;
}
.paletteItemHelpCloseBox {
  top: 18px;
}
.paletteItemAlternatesLabel {
  font-size: 10px;
  padding-left: 4px;
  padding-bottom: 3px;
  margin-right: 10px;
}
.paletteItemAlternate {
  margin: 2px 3px;
  padding: 4px;
  padding-bottom: 3px;
  border-radius: 3px;
  border: 1px solid #333;
  box-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.5);
  border-color: #CCC;
  background: #EEE;
  font-family: Myriad, Helvetica, Tahoma, Arial, clean, sans-serif;
  font-size: 12px;
}
.paletteItemMoreUnselected {
  background-image: -webkit-linear-gradient(#F4F4F4, #DBDBDB);
  background-image: -moz-linear-gradient(#F4F4F4, #DBDBDB);
  background-image: -ms-linear-gradient(#F4F4F4, #DBDBDB);
  background-image: -o-linear-gradient(#F4F4F4, #DBDBDB);
  background-image: linear-gradient(#F4F4F4, #DBDBDB);
}
.paletteItemMoreSelected {
  font-weight: bold;
  background-image: -webkit-linear-gradient(#DBDBDB, #F4F4F4);
  background-image: -moz-linear-gradient(#DBDBDB, #F4F4F4);
  background-image: -ms-linear-gradient(#DBDBDB, #F4F4F4);
  background-image: -o-linear-gradient(#DBDBDB, #F4F4F4);
  background-image: linear-gradient(#DBDBDB, #F4F4F4);
}
.paletteItemHelpContent {
  max-width: 500px;
}
.paletteTooltip {
  font-size: 12px;
}
.paletteTooltipCurrent {
  font-size: 13px;
}
.paletteTooltipCurrentWidget {
  font-weight: bold;
}
.paletteTooltipAlternates {
  padding-top: 5px;
}
.paletteTooltipNote {
  padding-top: 5px;
}
.dojoyPaletteCommon img {
  vertical-align: top;
}
.dojoyPalette.paletteLayoutIcons .dojoyPaletteItem.dojoyPaletteCommon {
  display: inline-block;
  width: 68px;
  height: 95px;
  line-height: 95px;
  margin: 5px;
  outline: none;
}
.dojoyPalette.paletteLayoutIcons .dojoyPaletteItem.dojoyPaletteCommon a {
  vertical-align: bottom;
  line-height: normal;
}
.dojoyPalette.paletteLayoutIcons .paletteItemImageContainer {
  text-align: center;
  display: block;
}
.dojoyPalette.paletteLayoutIcons .paletteItemImageContainer SPAN {
  font-size: 41px;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.1);
}
.dojoyPalette.paletteLayoutIcons .paletteItemImageContainer img {
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.24);
}
.dojoyPalette.paletteLayoutIcons .paletteItemLabelContainer {
  padding-top: 5px;
  text-align: center;
  display: block;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  height: 24px;
  font-size: 12px;
  line-height: 12px;
}
.dojoyPaletteCommon {
  white-space: nowrap;
  cursor: pointer;
  padding: 1px;
}
.dojoyPaletteItem {
}
.dojoyPaletteItemFlat {
  
}
.dojoyPaletteItemRaised {
  border-color: white #ACA899 #ACA899 white;
}
.dojoyPaletteItemSunken .paletteItemLabel {
  font-weight: bold;
}
.dojoyPaletteFolder {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.dojoyPaletteFolder img {
  margin-right: 4px;
}
.PaletteFolderSubsection {
  padding-left: 16px;
  font-style: italic;
}
.dojoyPaletteSearch {
  background-repeat: no-repeat;
  padding-left: 1px;
}
.maqWidgetsFiltered {
  padding-top: 16px;
}
.maqWidgetsCategory {
  margin-left: 1em;
  color: grey;
  font: italic smaller sans-serif;
}
.maqWidgetsCategorySameLine {
  display: inline;
}
.paletteLayoutIcons .maqWidgetsCategorySameLine {
  display: none;
}
.maqWidgetsCategorySeparateLine {
  display: none;
}
.paletteLayoutIcons .maqWidgetsCategorySeparateLine {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
