@import url("propview.css");
@import url("focus.css");
@import url("palette.css");
@import url("misc.css");
@import url("icons.css");
@import url("jsoneditor.css");
@import url("../fonts/layoutIcons/style.css");


[data-tooltip] {
  display: inline-block;
  position: relative;
  cursor: help;
  padding: 4px;
}
/* Tooltip styling */
[data-tooltip]:before {
  content: attr(data-tooltip);
  display: none;
  position: absolute;
  background: #000;
  color: #fff;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 1.4;
  min-width: 100px;
  text-align: center;
  border-radius: 4px;
}
/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
  left: 50%;
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
  top: 50%;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
[data-tooltip-position="top"]:before {
  bottom: 100%;
  margin-bottom: 6px;
}
[data-tooltip-position="right"]:before {
  left: 100%;
  margin-left: 6px;
}
[data-tooltip-position="bottom"]:before {
  top: 100%;
  margin-top: 6px;
}
[data-tooltip-position="left"]:before {
  right: 100%;
  margin-right: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
  content: '';
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
  left: 50%;
  margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
  top: 50%;
  margin-top: -6px;
}
[data-tooltip-position="top"]:after {
  bottom: 100%;
  border-width: 6px 6px 0;
  border-top-color: #000;
}
[data-tooltip-position="right"]:after {
  left: 100%;
  border-width: 6px 6px 6px 0;
  border-right-color: #000;
}
[data-tooltip-position="bottom"]:after {
  top: 100%;
  border-width: 0 6px 6px;
  border-bottom-color: #000;
}
[data-tooltip-position="left"]:after {
  right: 100%;
  border-width: 6px 0 6px 6px;
  border-left-color: #000;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  z-index: 50;
}


/***************************************************/
/**         Special fonts                         **/

@font-face {
  font-family: 'front-to-back';
  src: url('front-to-back.eot?99144359');
  src: url('front-to-back.eot?99144359#iefix') format('embedded-opentype'),
  url('front-to-back.woff?99144359') format('woff'),
  url('front-to-back.ttf?99144359') format('truetype'),
  url('front-to-back.svg?99144359#front-to-back') format('svg');
  font-weight: normal;
  font-style: normal;
}


div:hover, div:active, div:focus{
  /*outline: 0px;*/
}
span:hover, span:active, span:focus{
  /*outline: 0px !important;*/
}
BODY {

    /*outline: none medium !important;*/
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;

}
/*
.ui-widget-content{
  border: none medium;
}
.ui-state-default{
  border: none medium;
}
*/
.helpInnerContent {
}
.helpInnerContentType {
}
.helpInnerContentSummary {
}
.helpInnerContentSummaryTitle {
  margin:8px 0px 2px;
  font-weight: bold;
  font-size: 13px;
}
.helpInnerContentSummaryContent {
  font-size:12px;
}
.helpInnerContentSummaryContent p {
  margin-top: 4px;
  margin-bottom: 4px;
}



/**************************************************************************************/
/**     Outline Visibility                                                           **/

.dvOutlineVisibility {
  position:relative;
  width:16px;
  height:13px;
  margin-left:2px;
  margin-top:5px;
  margin-right:-3px;

}

.dvOutlineVisibilityOn:before {
  content: "\f06e";
}
.dvOutlineVisibilityOn {
  width: 16px;
  height: 16px;
}
.dvOutlineVisibilityOff:before {
  content: "\f070";
}
.dvOutlineVisibilityOff {
  content: "\f070";
  width: 16px;
  height: 16px;
}
.dvOutlineToggleNode{
  display: inline-block;
  float: left;
  text-align: left;
}

/*
.dvStateNode .dvOutlineVisibilityOn {
  background-image:url('img/checkmarkNoBorder.png');
  background-position:-2px -4px;
}

.dvStateNode .dvOutlineVisibilityOff {
  background-image:url('img/checkmarkNoBorder.png');
  background-position:-34px -4px;
}


.dvSubwidgetNode .dvOutlineVisibilityOn {
  background-image:url('img/checkmarkNoBorder.png');
  background-position:-98px -4px;
}

.dvSubwidgetNode .dvOutlineVisibilityOff {
  background-image:url('img/checkmarkNoBorder.png');
  background-position:-114px -4px;
}
*/

#dvOutlineSubcontainer {

  overflow: hidden;
  height: 100%;
}

.dijitTree .ui-state-active{
  background: none;
  border: none;
}

[id="html_outline_view"] .dijitTree {
  height: 100%
}

.outlineGridView{
  min-height: 200px;
}
.outlineGridView .dgrid-cell{
  border: none;
}
.outlineGridView .ui-state-default{
  border: none;
}
.outlineGridView .field-visible{
  width: 25px;
}
.outlineGridView .dijitCheckBox:before{
  content: "\f070";
  font-family: Fontawesome;
}
.outlineGridView .dijitCheckBox{
  border: none;

}
.outlineGridView .dijitCheckBoxChecked {

  background-color: transparent;

}
.outlineGridView .dijitCheckBoxChecked:before, .dijitCheckBoxCheckedDisabled:before{
  content: "\f06e";
}

.dijitToolbar, .dgrid .ui-state-default{
  border: none !important;
}

.outlineGridView .field-type{
  -moz-binding: url("../fonts/truncate.xml#ellipsis");
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.jsoneditor .dijitToolbar .dijitIcon, .dijitDropDownButton{
  margin: 3px 6px;
}


.silhouetteiframe_iframe {
  height: 100%;
  width: 100%;
  border: medium none;
}


/*
.outlineGridView .field-type{
  width: 25px;
}

*/