<div>
    <div data-dojo-type="dijit/MenuBar" data-dojo-props="" class="ui-menu ui-widget ui-widget-content ui-widget-header">
        <div data-dojo-type="dijit/PopupMenuBarItem">
            <span>File</span>
            <div data-dojo-type="dijit/Menu" id="fileMenu" data-dojo-attach-point='wFileMenu'>
                <div data-dojo-type="dijit/MenuItem" data-dojo-props="">Log globals
                </div>
                <div data-dojo-type="dijit/MenuItem" data-dojo-props="">Log widgets</div>
                <div data-dojo-type="dijit/MenuItem"
                     data-dojo-props="iconClass:'dijitIconDelete'">Destroy All
                </div>
            </div>
        </div>
        <div data-dojo-type="dijit/PopupMenuBarItem">
            <span>Edit</span>
            <div data-dojo-type="dijit/Menu" data-dojo-attach-point='wEditMenu'>
                <div data-dojo-type="dijit/MenuItem" data-dojo-props="
                            iconClass:'dijitIconCut',
                            onClick:function(){ console.log('not actually cutting anything, just a test!') }
                        ">Cut
                </div>
                <div data-dojo-type="dijit/MenuItem" id="copy" data-dojo-props="
                            iconClass:'dijitIconCopy',
                            onClick: function(){ console.log('not actually copying anything, just a test!') }
                        ">Copy
                </div>
                <div data-dojo-type="dijit/MenuItem" id="paste" data-dojo-props="iconClass:'dijitIconPaste',
                            onClick: function(){ console.log('not actually pasting anything, just a test!') }">Paste
                </div>
                <div data-dojo-type="dijit/MenuSeparator" id="separator"></div>
                <div data-dojo-type="dijit/MenuItem" id="undo" data-dojo-props="iconClass:'dijitIconUndo'">Undo</div>
            </div>
        </div>
        <div data-dojo-type="dijit/PopupMenuBarItem">
            <span>View</span>

            <div data-dojo-type="dijit/Menu" data-dojo-attach-point='wViewMenu' name="views">
                <div data-dojo-type="dijit/MenuItem">Normal</div>
                <div data-dojo-type="dijit/MenuItem">Outline</div>
                <div data-dojo-type="dijit/PopupMenuItem">
                    <span>Zoom</span>

                    <div data-dojo-type="dijit/Menu" id="zoomMenu">

                    </div>
                </div>
            </div>
        </div>
        <div data-dojo-type="dijit/PopupMenuBarItem">
            <span>Themes</span>
            <div data-dojo-type="dijit/Menu" data-dojo-attach-point='wThemesMenu'></div>
        </div>
        <div data-dojo-type="dijit/PopupMenuBarItem">
            <span>Help</span>

            <div data-dojo-type="dijit/Menu" data-dojo-attach-point='wHelpMenu'>
                <div data-dojo-type="dijit/MenuItem">Help Topics</div>
                <div data-dojo-type="dijit/MenuItem">About Dijit</div>
            </div>
        </div>
    </div>
</div>
