/* line 16, ../../sass/sass/white.scss */
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

/* line 21, ../../sass/sass/white.scss */
::-webkit-scrollbar-thumb {
  background: slategray;
}

/* line 25, ../../sass/sass/white.scss */
::-webkit-scrollbar-track {
  background: #b8c0c8;
}

/* line 30, ../../sass/sass/white.scss */
body {
  scrollbar-face-color: slategray;
  scrollbar-track-color: #b8c0c8;
}
