.dijitSliderRtl .dijitSliderProgressBarH {
  float: right;
  right: 0;
  left: auto;
}
.dijitSliderRtl .dijitSliderLeftBumper {
  border-left-width: 0;
  border-right-width: 1px;
  margin-left: 0;
  margin-right: 2px;
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.dijitSliderRtl .dijitSliderRightBumper {
  border-left-width: 1px;
  border-right-width: 0;
  margin-left: 2px;
  margin-right: -2px;
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.dijitSliderRtl .dijitSliderMoveableH {
  right: auto;
  left: 0;
}
.dijitSliderRtl .dijitSliderImageHandleV {
  left: auto;
}
.dijitSliderRtl .dijitSliderImageHandleH {
  left: -50%;
}
.dijitSliderRtl .dijitRuleContainerV {
  float: right;
}
