util.print: Use console.log instead
/* ========= Styling rules to affect widgets ========= */
.claro .dijitPopup {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.claro .dijitTooltipDialogPopup {
  /* exception popups: do not use a shadow on these because they aren't rectangular */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* The highlight is shown in the ComboBox menu.  TODO: move to form/Common.less */
.claro .dijitComboBoxHighlightMatch {
  background-color: #966666;
}
.claro .dijitFocusedLabel {
  /* for checkboxes or radio buttons, hatch border around the corresponding label, to indicate focus */
  outline: 1px dotted #494949;
}
/* Drag and Drop*/
.claro .dojoDndItem {
  /*border-color: rgba(0,0,0,0);	// rgba() instead of none to prevent flash on hover fade-in*/
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
}
.claro .dojoDndItemOver {
  /*

  background-color:@hovered-background-color;
	.standard-gradient;
	padding: 1px;	// reduce from 2px in dijit.css
	border:solid 1px @hovered-border-color;
	color:@hovered-text-color;
  */
}
.claro .dojoDndItemAnchor,
.claro .dojoDndItemSelected {
  /*
  background-color:@selected-background-color;
	.standard-gradient;
	padding: 1px;	// reduce from 2px in dijit.css
	border:solid 1px @selected-border-color;
	color:@selected-text-color;
  */
}
.claro .dojoDndItemBefore,
.claro .dojoDndItemAfter {
  border-color: #434343;
}
.claro table.dojoDndAvatar {
  border: 1px solid #676767;
  border-collapse: collapse;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.claro .dojoDndAvatarHeader td {
  height: 20px;
  padding-left: 21px;
}
.claro.dojoDndMove .dojoDndAvatarHeader,
.claro.dojoDndCopy .dojoDndAvatarHeader {
  background-image: url("images/dnd.png");
  background-repeat: no-repeat;
  background-position: 2px -122px;
}
.claro .dojoDndAvatarItem td {
  padding: 5px;
}
.claro.dojoDndMove .dojoDndAvatarHeader {
  background-color: #f58383;
  background-position: 2px -103px;
}
.claro.dojoDndCopy .dojoDndAvatarHeader {
  background-color: #f58383;
  background-position: 2px -68px;
}
.claro.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader {
  background-color: #97e68d;
  background-position: 2px -33px;
}
.claro.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader {
  background-color: #97e68d;
  background-position: 2px 2px;
}
