util.print: Use console.log instead
/* InlineEditBox
 * 
 * Styling InlineEditBox mainly includes:
 * 
 * 1. Normal state
 * 		.dijitInlineEditBoxDisplayMode  - for border
 * 
 * 2. Hover state
 * 		.dijitInlineEditBoxDisplayModeHover - for border and background color
 */
.claro .dijitInlineEditBoxDisplayMode {
  border: 1px solid transparent;
}
.claro .dijitInlineEditBoxDisplayModeHover {
  background-color: #a49090;
  border: solid 1px #434343;
}
.dj_ie6 .claro .dijitInlineEditBoxDisplayMode {
  border: none;
}
