util.print: Use console.log instead
/* ProgressBar
 * 
 * Styling of the ProgressBar when RTL direction is specified
 */
.claro .dijitProgressBarRtl .dijitProgressBarFull {
  border-left-width: 1px;
  border-right-width: 0px;
}
.claro .dijitProgressBarIndeterminateRtl .dijitProgressBarTile {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
