util.print: Use console.log instead
/* Dialog */
.claro .dijitDialogRtl .dijitDialogCloseIcon {
  right: auto;
  left: 5px;
}
.claro .dijitDialogRtl .dijitDialogPaneActionBar {
  text-align: left;
  padding: 3px 7px 2px 5px;
}
