/* ======= Styling for the document itself (overriding dojo.css) ======== */

@import "variables";
/*@import url("../../../dojo/resources/dojo.css");*/

.claro {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: .68em;

  /*color: @document-text-color;*/
}


.claro h1 {
	font-size: 1.545em; 
	margin-bottom:0.727em;
}
.claro h2 { 
	font-size: 1.364em; 
	line-height: 1.455em; 
	margin-top:1em; 
	margin-bottom:0.60em;
	font-weight: normal;
}
.claro h3, .claro h4, .claro h5, .claro h6 {
	font-size:1.091em; 
	font-weight: normal; 
}


.claro p { 
	line-height: 1.3em;
}
/*
.claro pre, .claro code {
	font-family:inherit; 
	background-color: @document-shadedsection-background-color; 
	border: 1px solid @document-border-color;
}

.claro table.dojoTabular thead, .claro table.dojoTabular tfoot {
	background-color: @document-shadedsection-background-color; 
	border: 1px solid @document-border-color; 
}
*/
