util.print: Use console.log instead
.claro .dijitMenuItemRtl .dijitMenuExpand {
  background-position: -7px 0;
  margin-right: 0;
  margin-left: 3px;
}
.claro .dijitMenuItemRtl .dijitMenuItemIcon {
  margin: 0 4px 0 0;
}
