/***
    From App-Studio.css
*/
.contentPanel {
    background-color: #CCCCCC !important;
    background-image: none !important;
}

.dataSourceBrowser, .resourceBrowser , .styleBrowser, .navigationSettingsView{
    padding: 0px !important;
    background-color: #cccccc !important;
    -webkit-box-shadow: 0 -1px 0 0 #000;
    -moz-box-shadow: 0 1px 3 0 #000;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 1) !important;
}
/*
/* UA-specific hacks*/
html.has-mozilla .dgrid *:focus, html.has-opera .dgrid *:focus {
    /* firefox's focus doesn't work by default for divs prior to actually tabbing into it. This fixes that
    (we don't do any other browsers because we are trying to stay as close to native as possible) */
    outline: 1px dotted;
}
/*
.xasMain *:focus{
	outline: 1px dotted #e9841d !important;
}
*/
html, body {
    background-color: #000000;
    height: 100%;
    width: 100%;
    padding: 0;
    border: 0;
}

#main {
    height: 100%;
    width: 100%;
    border: 0;
}
/*
table
{
    background-color:#fff;
}



tbody tr td
{
    background-image:none;
}
*/

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#header {
    margin: 0;
}

#leftAccordion {
    width: 25%;
}

#bottomTabs {
    height: 40%;
}


/* pre-loader specific stuff to prevent unsightly flash of unstyled content */
#loader {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ededed;
    z-index: 999;
    vertical-align: middle;
}

#loaderInner {
    padding: 5px;
    position: relative;
    left: 0;
    top: 0;
    width: 175px;
    background: #3c3;
    color: #fff;
}

#indTestBar,
#setTestBar {
    width: 400px;
}

hr.spacer {
    border: 0;
    background-color: #ededed;
    width: 80%;
    height: 1px;
}