/***
    From App-Studio.css
*/

/*html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0px !important;
}
*/
.xasMain{
    /*display: inline;*/

}
/*
/* UA-specific hacks*/
/*html.has-mozilla .dgrid *:focus, html.has-opera .dgrid *:focus {*/


sbox-window{

}
#sbox-overlay{
    z-index: 100!important;
    height: 100% !important;
}
#sbox-window{
    z-index: 102!important;
    max-width: 800px;
    max-height: 600px;

    /*height: 77% !important;*/
    /*width: 80% !important;

}
.xasMain *:focus{
	/*outline: 1px dotted #e9841d !important;*/
}


body .m{

}
.toolbarButton{
    margin: 4px !important;
}
.editorWrapper{
    height: 100%;
}
.CodeMirror {
    height: 93% !important;
}


.toolbarButton .dijitButtonNode{
    padding: 2px 3px 3px !important;

    background-image: linear-gradient(bottom, #3698a6 0%, #3CA9B7 100%) !important;
    background-image: -o-linear-gradient(bottom, #3698a6 0%, #3CA9B7 100%) !important;
    background-image: -moz-linear-gradient(bottom, #3698a6 0%, #3CA9B7 100%) !important;
    background-image: -webkit-linear-gradient(bottom, #3698a6 0%, #3CA9B7 100%) !important;
    background-image: -ms-linear-gradient(bottom, #3698a6 0%, #3CA9B7 100%) !important;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #3698a6),
        color-stop(1, #3CA9B7)
    ) !important;
}

.fileGridToolbarButton{
    margin: 2px;
}
.fileGridToolbarButton:after{
    clear: both;
    float: left;
}
.fileGridToolbarButton .dijitButtonNode{
    padding: 0px !important;

    background-image: linear-gradient(bottom, #3698a6 0%, #3CA9B7 100%) !important;
    background-image: -o-linear-gradient(bottom, #3698a6 0%, #3CA9B7 100%) !important;
    background-image: -moz-linear-gradient(bottom, #3698a6 0%, #3CA9B7 100%) !important;
    background-image: -webkit-linear-gradient(bottom, #3698a6 0%, #3CA9B7 100%) !important;
    background-image: -ms-linear-gradient(bottom, #3698a6 0%, #3CA9B7 100%) !important;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #3698a6),
        color-stop(1, #3CA9B7)
    ) !important;
}

html{
    overflow-y: auto !important;
}

#main {
    overflow: hidden;
    height:80%;
    width: 100%;
    min-height: 20em;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contentPanel {
    background-color: #CCCCCC !important;
    background-image: none !important;
}

.dataSourceBrowser, .resourceBrowser , .styleBrowser, .navigationSettingsView{
    padding: 0px !important;
    background-color: #cccccc !important;
    -webkit-box-shadow: 0 -1px 0 0 #000;
    -moz-box-shadow: 0 1px 3 0 #000;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 1) !important;
}

/****
    dijit fix :
*/
.dijitTreeContainer *{

}
/*
table
{
    background-color:#fff;
}



tbody tr td
{
    background-image:none;
}
*/


/*
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*/


#header {
    margin: 0;
}

#leftAccordion {
    width: 25%;
}

#bottomTabs {
    height: 40%;
}


/* pre-loader specific stuff to prevent unsightly flash of unstyled content */
#loader {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ededed;
    z-index: 999;
    vertical-align: middle;
}

#loaderInner {
    padding: 5px;
    position: relative;
    left: 0;
    top: 0;
    width: 175px;
    background: #3c3;
    color: #fff;
}

#indTestBar,
#setTestBar {
    width: 400px;
}

hr.spacer {
    border: 0;
    background-color: #ededed;
    width: 80%;
    height: 1px;
}


/***
        Joomla Fix
*/
div#element-box div.m {
    padding: 0px !important;
}
.submenu-box, div.m {
    /*background-color: #fff !important;*/
    border: none !important;
    border-radius: 0px !important;
    padding: 0 0px !important;
}

.dijitAccordionChildWrapper .container{
    text-align: left !important;
}

#content-box{
    margin-bottom: 0px !important;
}
#element-box, #toolbar-box, #submenu-box {
    padding: 0 !important;
}
#toolbar-box{
    margin-bottom: 0px !important;
}
#content-box{
    border-width: 0px !important;
    border: none !important;
    width: 100% !important;
}
/*  Joomla overrides
*/
#toolbar-box .m {
    padding: 8px !important;
}
.claro .dojoxGrid {
    height: 100%;
}
.joomla3{
    padding-top:0px;
}
.joomla3 .header{
    padding-top:35px;
}
.joomla3 .xfileToolbarButton{
    float:right;
    margin:3px;
}

.joomla3 .xfileToolbarButtonInner{
    background-size: 16px auto;
    height: 16px;
    margin-top: 4px;
    width: 16px;
    float:left;
}
.joomla3 .xfileToolbarButtonInner{

}

.joomla3 .btn-toolbar .btn-wrapper {
    display: inline-block;
    margin: 0 0 5px 5px;
}
.joomla3 .btnLabel{
    font-size: 14px;
    line-height: 24px;
    margin-left: 5px;
}

.joomla3 .btn-toolbar {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}
.joomla3 .container-fluid{
    padding:0px !important;
    margin-left:0px !important;
    margin-right:0px !important;
    margin-bottom:0px !important;
    margin-top: 0px !important;
}
.joomla3 .subhead{
    margin-bottom:0px !important;
}
.joomla3 .navbar-fixed-bottom{
    box-shadow:none !important;
}
.joomla3 .fileGridView .fileGridIconCell {

    margin: 5px;

}
.joomla3 .fileGridView .fileGridNameCell {
    line-height: 2em;
    vertical-align: middle;
}
.joomla3 .fileGridViewCompact {
    height: 95% !important;
}

.joomla3 .dijitInputInner{
    margin-bottom:0px;
}
.joomla3 .dijitValidationTextBox,.dijitValidationContainer{
    max-height: 23px;
}

/* -- TOOLBAR ICON STYLES ----------------------------- */
.icon-32-send						{	background-image: url(../images/toolbar/icon-32-send.png);	}
.icon-32-delete						{	background-image: url(../images/toolbar/icon-32-delete.png);	}
.icon-32-help						{	background-image: url(../images/toolbar/icon-32-help.png);	}
.icon-32-cancel						{	background-image: url(../images/toolbar/icon-32-cancel.png);	}
.icon-32-checkin					{	background-image: url(../images/toolbar/icon-32-checkin.png);	}
.icon-32-options					{	background-image: url(../images/toolbar/icon-32-config.png);	}
.icon-32-apply						{	background-image: url(../images/toolbar/icon-32-apply.png);	}
.icon-32-back						{	background-image: url(../images/toolbar/icon-32-back.png);	}
.icon-32-export						{	background-image: url(../images/toolbar/icon-32-export.png);	}
.icon-32-forward					{	background-image: url(../images/toolbar/icon-32-forward.png);	}
.icon-32-save						{	background-image: url(../images/toolbar/icon-32-save.png);	}
.icon-32-edit						{	background-image: url(../images/toolbar/icon-32-edit.png);	}
.icon-32-copy						{	background-image: url(../images/toolbar/icon-32-copy.png);	}
.icon-32-move						{	background-image: url(../images/toolbar/icon-32-move.png);	}
.icon-32-new						{	background-image: url(../images/toolbar/icon-32-new.png);	}
.icon-32-upload						{	background-image: url(../images/toolbar/icon-32-upload.png);	}
.icon-32-assign						{	background-image: url(../images/toolbar/icon-32-publish.png);	}
.icon-32-html						{	background-image: url(../images/toolbar/icon-32-html.png);	}
.icon-32-css						{	background-image: url(../images/toolbar/icon-32-css.png);	}
.icon-32-menus						{	background-image: url(../images/toolbar/icon-32-menu.png);	}
.icon-32-publish					{	background-image: url(../images/toolbar/icon-32-publish.png);	}
.icon-32-unblock					{	background-image: url(../images/toolbar/icon-32-unblock.png);	}
.icon-32-unpublish					{	background-image: url(../images/toolbar/icon-32-unpublish.png);	}
.icon-32-restore					{	background-image: url(../images/toolbar/icon-32-revert.png);	}
.icon-32-trash						{	background-image: url(../images/toolbar/icon-32-trash.png);	}
.icon-32-archive					{	background-image: url(../images/toolbar/icon-32-archive.png);	}
.icon-32-unarchive					{	background-image: url(../images/toolbar/icon-32-unarchive.png);	}
.icon-32-preview					{	background-image: url(../images/toolbar/icon-32-preview.png);	}
.icon-32-default					{	background-image: url(../images/toolbar/icon-32-default.png);	}
.icon-32-refresh					{	background-image: url(../images/toolbar/icon-32-refresh.png);	}
.icon-32-save-new					{	background-image: url(../images/toolbar/icon-32-save-new.png);	}
.icon-32-save-copy					{	background-image: url(../images/toolbar/icon-32-save-copy.png);	}
.icon-32-error						{	background-image: url(../images/toolbar/icon-32-error.png);	}
.icon-32-new-style					{	background-image: url(../images/toolbar/icon-32-new-style.png);	}
.icon-32-delete-style				{	background-image: url(../images/toolbar/icon-32-delete-style.png);	}
.icon-32-purge						{	background-image: url(../images/toolbar/icon-32-purge.png);	}
.icon-32-remove						{
    background-image: url(../images/toolbar/icon-32-remove.png);
    cursor: pointer;
    background-size: 32px;

}
.icon-32-featured					{	background-image: url(../images/toolbar/icon-32-featured.png);	}
.icon-32-stats						{	background-image: url(../images/toolbar/icon-32-stats.png);	}
.icon-32-print						{	background-image: url(../images/toolbar/icon-32-print.png);	}
.icon-32-extension					{	background-image: url(../images/toolbar/icon-32-extension.png);	}

.joomla3 #toolbar-options{
    margin-right: 8px;
    margin-top: 5px;
}

