#sbox-overlay{
    z-index: 100!important;
    height: 100% !important;
}
#sbox-window{
    z-index: 102!important;
    max-width: 800px;
    max-height: 600px;
}
.xasMain *:focus{
	/*outline: 1px dotted #e9841d !important;*/
}

.submenu-box, div.m
{
    background-color: transparent;
    border: 0px solid #000000;
}

.toolbarButton{
    margin: 4px !important;
}
.editorWrapper{
    height: 100%;
}
.fileGridToolbarButton{
    margin: 2px;
}
.fileGridToolbarButton:after{
    clear: both;
    float: left;
}


html{
    overflow-y: auto !important;
}

#header {
    margin: 0;
}

#leftAccordion {
    width: 25%;
}

#bottomTabs {
    height: 40%;
}


/* pre-loader specific stuff to prevent unsightly flash of unstyled content */
#loader {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ededed;
    z-index: 999;
    vertical-align: middle;
}

#loaderInner {
    padding: 5px;
    position: relative;
    left: 0;
    top: 0;
    width: 175px;
    background: #3c3;
    color: #fff;
}

#indTestBar,
#setTestBar {
    width: 400px;
}

hr.spacer {
    border: 0;
    background-color: #ededed;
    width: 80%;
    height: 1px;
}


/***
        Joomla Fix
*/
div#element-box div.m {
    padding: 0px !important;
    background-color: transparent !important;
    border: none !important;
}
.submenu-box, div.m {
    /*background-color: #fff !important;*/
    border: none !important;
    border-radius: 0px !important;
    padding: 0 0px !important;
}

.dijitAccordionChildWrapper .container{
    text-align: left !important;
}

#content-box{
    margin-bottom: 0px !important;
}
#element-box, #toolbar-box, #submenu-box {
    padding: 0 !important;
}
#toolbar-box{
    margin-bottom: 0px !important;
}
#content-box{
    border-width: 0px !important;
    border: none !important;
    width: 100% !important;
}
/*  Joomla overrides
*/
#toolbar-box .m {
    padding: 8px !important;
}
.claro .dojoxGrid {
    height: 100%;
}
.joomla3{
    padding-top:0px;
}
.joomla3 .header{
    padding-top:35px;
}
.joomla3 .xfileToolbarButton{
    float:right;
    margin:3px;
}
.joomla3 .btn-toolbar .btn-wrapper {
    display: inline-block;
    margin: 0 0 5px 5px;
}
.joomla3 .btnLabel{
    font-size: 14px;
    line-height: 24px;
    margin-left: 5px;
}

.joomla3 .btn-toolbar {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}
.joomla3 .container-fluid{
    padding:0px !important;
    margin-left:0px !important;
    margin-right:0px !important;
    margin-bottom:0px !important;
    margin-top: 0px !important;
}
.joomla3 .subhead{
    margin-bottom:0px !important;
}
.joomla3 .navbar-fixed-bottom{
    box-shadow:none !important;
}
.joomla3 .fileGridView .fileGridIconCell {

    margin: 5px;

}
.joomla3 .fileGridView .fileGridNameCell {
    line-height: 2em;
    vertical-align: middle;
}
.joomla3 .fileGridViewCompact {
    height: 95% !important;
}

.joomla3 .dijitInputInner{
    margin-bottom:0px;
}
.joomla3 .dijitValidationTextBox,.dijitValidationContainer{
    max-height: 23px;
}

.joomla3 #toolbar-options{
    margin-right: 8px;
    margin-top: 5px;
}
#xapp{
    height: 100%;
    width: 100%;
    min-height: 300px;
}


body{
    background: url(../images/xas/media-bg-tile.gif) top left repeat !important;
}
.optionsButton{
    margin-top: 4px;
    margin-right: 10px;
}
.optionsButton:hover{
    cursor: pointer;
}
.editorSelector, .actionToolbarButton{
    margin-top: 4px !important;
}
/*
.dgrid{
    height: 99% !important;
}
*/
.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.subhead-collapse {
    margin-bottom: 0px !important;
}


.subhead-collapse.collapse {
    height: 42px !important;
    overflow: visible;
}
.subhead .btn{
    margin-right: 16px;
}
.navbar-fixed-top{
    display: none !important;
    height: 0px;
}
BODY{
    padding: 0px !important;
}