<body class="xTheme-default xTheme-white">
<script type="text/javascript" src="https://rawgit.com/net-commander/windows-dist/master/Code/client/src/lib/xtest/xtest.min.js">
    console.error('did load');
</script>

<!-- Run main2-->
<script type="text/javascript" src="https://rawgit.com/net-commander/windows-dist/master/Code/client/src/lib/xtest/run-release.js"></script>

<script type='text/javascript' src='https://rawgit.com/net-commander/windows-dist/master/Code/client/src/xcf/ext/jquery.jspanel-compiled.js'></script>


<div id="root"  class="rootContainer">


</div>

<div id="widgetCache" style="maxHeight:0px;display:none;"></div>

<div class="loadingWrapper" id="loadingWrapper">
    <div class="loading">
        <div class="outer"></div>
        <div class="inner"></div>
    </div>
</div>


<div id="xIFrames" style="display: block"/>


</body>